<div class="grid-row">
  <div class="column-two-thirds">
    <div class="pub-c-title">
      <h1 class="pub-c-title__text pub-c-title__text--long">
         <%= page_schema.title %>
      </h1>
    </div>

    <div class="govuk-govspeak">
      <p><%= page_schema.description %></p>
    </div>
  </div>
</div>

