<%=
  render(
    partial: 'common',
    locals: {
      page_schema: page_schema,
      navigation: navigation
    }
  )
%>

<div class="grid-row">
  <div class="column-two-thirds">
    <%= render partial: 'partials/learn_to_drive_a_car/tasklist-learn-to-drive-a-car' %>

<% # TODO: render the sidebar when we decide to render it on a task list page. %>
<% if false %>
    <%= render(partial: 'sidebar', locals: {navigation: navigation}) %>
<% end %>

  </div>
</div>
