<div class="pub-c-title">
  <h1 class="pub-c-title__text pub-c-title__text--long">
    End a civil partnership: step by step
  </h1>
</div>

<p class="pub-c-lead-paragraph">
  Find out how to legally end your civil partnership in England and Wales.
</p>
