<div class="grid-row">
  <div class="column-two-thirds">
    <div class="pub-c-title">
      <h1 class="pub-c-title__text pub-c-title__text--long">
        End a civil partnership: step by step
      </h1>
    </div>

    <p class="pub-c-lead-paragraph">
      Find out how to legally end your civil partnership in England and Wales.
    </p>

    <div class="task-list task-list--large js-hidden" data-module="tasklistnew">
      <ol class="task-list__list">
        <li class="task-list__group">
          <span class="task-list__number">
            <span class="visuallyhidden">Step</span> 1
          </span>

          <div class="task-list__step js-step">
            <div class="task-list__header js-toggle-panel">
              <h2 class="task-list__title js-step-title">
                Check if you can end your civil partnership
              </h2>
            </div>

            <div class="task-list__panel js-panel">
              <p>You must meet certain legal requirements for you to end your civil partnership.</p>
              <ul class="task-list__panel-links--required">
                <li>
                  <a href="/end-civil-partnership">Check your civil partnership meets the criteria</a>
                </li>
                <li>
                  <a href="/end-civil-partnership/grounds-for-ending-a-civil-partnership">Check the list of reasons why you can end a civil partnership</a>
                </li>
              </ul>
            </div>
          </div>
        </li>

        <li class="task-list__group">
          <span class="task-list__number">
            <span class="visuallyhidden">Step</span> 2
          </span>

          <div class="task-list__step task-list__step--optional js-step">
            <div class="task-list__header js-toggle-panel">
              <h2 class="task-list__title js-step-title">
                Make arrangements for your children, money and property
              </h2>
            </div>

            <div class="task-list__panel js-panel">
              <p>You should try to agree how you'll deal with your children, money and property before you apply to end your civil partnership.</p>
              <ul class="task-list__panel-links--required">
                <li>
                  <a href="/looking-after-children-divorce">Make arrangements for your children</a>
                </li>
                <li>
                  <a href="/money-property-when-relationship-ends">Divide your money and property</a>
                </li>
              </ul>
            </div>
          </div>
        </li>

        <li class="task-list__group">
          <span class="task-list__number">
            <span class="visuallyhidden">Step</span> 3
          </span>

          <div class="task-list__step js-step">
            <div class="task-list__header js-toggle-panel">
              <h2 class="task-list__title js-step-title">
                File an application
              </h2>
            </div>

            <div class="task-list__panel js-panel">
              <p>You need to fill in a dissolution application. The court will send a copy to your civil partner.</p>
              <ul class="task-list__panel-links--required">
                <li>
                  <a href="/end-civil-partnership/file-application">How to start the process to end your civil partnership</a>
                </li>
                <li>
                  <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=1115">Fill in a dissolution application</a>
                </li>
                <li>
                  <a href="/end-civil-partnership/file-application">Pay the fee</a>
                  <span class="task-list__cost">&pound;550</span>
                </li>
                <li>
                  <a href="/get-help-with-court-fees">Get help with court fees</a>
                </li>
                <li>
                  <a href="https://courttribunalfinder.service.gov.uk/search/">Send copies of the form to your nearest divorce centre</a>
                </li>
              </ul>

              <p>The court will tell you when your civil partner responds and what you'll need to do next.</p>

              <div class="task-list__inner-step task-list__inner-step--optional">
                <p>If you don't know your civil partner's address, you need to try to find it so the court can send them the dissolution application.</p>
                <ul class="task-list__panel-links">
                  <li>
                    <a href="/divorce-missing-husband-wife">Try to find your civil partner's address</a>
                    <span class="task-list__cost">&pound;0 to &pound;100</span>
                  </li>
                  <li>
                    <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=1112">Apply to skip the dissolution order if you can't find their address</a>
                    <span class="task-list__cost">&pound;50</span>
                  </li>
                </ul>

                <p>If your civil partner can't make decisions by themselves, someone needs to respond to the dissolution application.</p>
                <ul class="task-list__panel-links">
                  <li>
                    <a href="/end-civil-partnership/if-your-partner-lacks-mental-capacity">Check they have someone to act on their behalf</a>
                  </li>
                </ul>

                <p>If you think your civil partner might be dead, you don't need to file a dissolution application.</p>
                <ul class="task-list__panel-links">
                  <li>
                    <a href="/divorce-missing-husband-wife">Apply to end the civil partnership without filing for a dissolution</a>
                    <span class="task-list__cost">&pound;365</span>
                  </li>
                </ul>

              </div>
            </div>
          </div>
        </li>

        <li class="task-list__group">
          <span class="task-list__number">
            <span class="visuallyhidden">Step</span> 4
          </span>

          <div class="task-list__step js-step">
            <div class="task-list__header js-toggle-panel">
              <h2 class="task-list__title js-step-title">
                Send the court more details about ending your civil partnership
              </h2>
            </div>

            <div class="task-list__panel js-panel">
              <p>If the court agrees with your dissolution application, you can apply for a conditional order and give more information about why the civil partnership has broken down.</p>
              <ul class="task-list__panel-links--required">
                <li>
                  <a href="/end-civil-partnership/apply-for-a-conditional-order">Why you need a conditional order</a>
                </li>
                <li>
                  <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=154">Fill in the application form</a>
                </li>
              </ul>

              <p>Choose one form to describe why your civil partnership has broken down:</p>
              <ul class="task-list__panel-links--options task-list__panel-links--required">
                <li>
                  <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=144">unreasonable behaviour</a>
                </li>
                <li>
                  <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=146">desertion</a>
                </li>
                <li>
                  <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=149">2 years' separation</a>
                </li>
                <li>
                  <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=150">5 years' separation</a>
                </li>
              </ul>

              <p>Send the forms to the court.</p>

              <div class="task-list__inner-step task-list__inner-step--optional">
                <p>If your civil partner doesn't agree to end the civil partnership, you might have to attend a court hearing with a judge.</p>
                <ul class="task-list__panel-links">
                  <li>
                    <a href="/find-a-legal-adviser">Get legal advice about going to court</a>
                    <span class="task-list__cost">&pound;15,000 to &pound;30,000</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <li class="task-list__group">
          <span class="task-list__number">
            <span class="visuallyhidden">Step</span> 5
          </span>

          <div class="task-list__step js-step">
            <div class="task-list__header js-toggle-panel">
              <h2 class="task-list__title js-step-title">
                Apply for a final order
              </h2>
            </div>

            <div class="task-list__panel js-panel">
              <p>Once you, your civil partner and the court all agree, you can apply for a final order to end your civil partnership. You can do this 6 weeks to 12 months after you receive the conditional order.</p>

              <p>If you want a legally-binding arrangement for dividing money and property you must apply to the court for this before you apply for a final order.</p>

              <ul class="task-list__panel-links--required">
                <li>
                  <a href="/end-civil-partnership/apply-for-a-final-order">Why you need a final order</a>
                </li>
                <li>
                  <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=1114">Fill in the final order application form</a>
                </li>
              </ul>

              <p>Send the forms to the court.</p>
              <p>Once it's approved, they'll send you and your civil partner the final order to say your civil partnership has legally ended.</p>
            </div>
          </div>
        </li>

      </ol>
    </div>

  </div>
</div>
