<% content_for :title, "Get a divorce: step by step" %>

<%= render "govuk_component/breadcrumbs", {
  breadcrumbs: [
    {
      title: "Home",
      url: "/"
    },
    {
      title: "Births, deaths, marriages and care",
      url: "/browse/births-deaths-marriages"
    },
    {
      title: "Marriage, civil partnership and divorce",
      url: "/browse/births-deaths-marriages/marriage-divorce"
    }
  ]
} %>

<div class="grid-row">
  <div class="column-two-thirds">
    <div class="pub-c-title pub-c-title--hack">
      <h1 class="pub-c-title__text">
        Get a divorce: step by step
      </h1>
    </div>

    <div class="govuk-govspeak">
      <p>
        How to file for divorce if you’re in England or Wales.
      </p>

      <p>
        There is a different process if you’re <a href="/divorce/respond-to-a-divorce-petition">responding to a divorce petition</a>, or if you’re in <a href="https://www.scotcourts.gov.uk/taking-action/divorce-and-dissolution-of-civil-partnership">Scotland</a> or <a href="https://www.nidirect.gov.uk/articles/getting-divorcedissolution-civil-partnership">Northern Ireland</a>.
      </p>
    </div>

    <% set_tasklist('divorce') %>

    <div class="task-list task-list--large js-hidden" data-module="tasklistnew" data-remember>
      <%= render 'partials/get-a-divorce', on_sidebar: false %>
    </div>
  </div>
</div>
