<div class="grid-row">
  <div class="column-two-thirds">
    <div class="govuk-title length-long">
      <h1>
        <%= page_schema.title %>
      </h1>
      <p><%= page_schema.description %></p>
    </div>
  </div>
</div>
