<%=
  render(
    partial: 'common',
    locals: {
      presented_taxon: presented_taxon,
    }
  )
%>
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= render partial: 'high-volume', locals: { presented_taxon: presented_taxon } %>
    </div>
  </div>

<%= render partial: 'tagged_content_list', locals: {
  presented_taxon: presented_taxon,
} %>
