<% content_for :title, "Make accurate and productive use of assessment - GOV.UK" %>



<div class="gem-c-contextual-breadcrumbs">



  <div class="gem-c-breadcrumbs govuk-breadcrumbs " data-module="track-click">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" aria-current="false" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/government/publications/supporting-early-career-teachers--2" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;Supporting early career teachers&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/government/publications/supporting-early-career-teachers--2">Supporting early career teachers</a>
      </li>
    </ol>
  </div>


</div>


<main role="main" id="content" class="html-publication" lang="en">


  <div class="govuk-grid-row publication-external">
    <ol class="govuk-grid-column-one-quarter organisation-logos">
      <li class="organisation-logo">
        <div class="gem-c-organisation-logo brand--cabinet-office">
          <a class="gem-c-organisation-logo__container gem-c-organisation-logo__link gem-c-organisation-logo__crest gem-c-organisation-logo__crest--single-identity brand__border-color" href="/government/organisations/government-digital-service">
            <span class="gem-c-organisation-logo__name">Government Digital Service</span>
          </a>
        </div>

      </li>
    </ol>
  </div>

  <header class="gem-c-inverse-header  gem-c-inverse-header--padding-top ">

    <div class="gem-c-title govuk-!-margin-top-8 gem-c-title--inverse govuk-!-margin-bottom-0">
      <p class="gem-c-title__context">
        Guidance
      </p>
      <h1 class="gem-c-title__text ">
        Make accurate and productive use of assessment
      </h1>
    </div>
    <p class="publication-header__last-changed">Published 23 July 2019</p>

  </header>



  <div class="govuk-grid-row sidebar-with-body" data-module="sticky-element-container" id="contents">
    <div class="govuk-grid-column-one-quarter-from-desktop contents-list-container">
      <nav role="navigation" class="gem-c-contents-list gem-c-contents-list--no-underline " data-module="track-click">
        <h2 class="gem-c-contents-list__title">Contents</h2>

        <ol class="gem-c-contents-list__list">
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered ">
            <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="#what-a-newly-qualified-teacher-nqt-needs-to-learn" data-track-options="{&quot;dimension29&quot;:&quot;What a newly qualified teacher (NQT) needs to learn&quot;}" href="#what-a-newly-qualified-teacher-nqt-needs-to-learn">What a newly qualified teacher (NQT) needs to learn</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered ">
            <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#what-skills-an-nqt-needs-to-develop" data-track-options="{&quot;dimension29&quot;:&quot;What skills an NQT needs to develop&quot;}" href="#what-skills-an-nqt-needs-to-develop">What skills an NQT needs to develop</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered ">
            <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#resources" data-track-options="{&quot;dimension29&quot;:&quot;Resources&quot;}" href="#resources">Resources</a>
          </li>
        </ol>
      </nav>

    </div>

    <div class="print-wrapper">
      <div class="print-meta-data">
        <p>
          <img class="print-meta-data-licence" src="https://assets.integration.publishing.service.gov.uk/government-frontend/open-government-licence-min-e98134ae65ff5fe99a524d8c383350b3998f91c298dc24b36126e65f1656c578.png">
        </p>
        <p>
          © Crown copyright 2019
        </p>
        <p>
          This publication is licensed under the terms of the Open Government Licence v3.0 except where otherwise stated. To view this licence, visit <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">nationalarchives.gov.uk/doc/open-government-licence/version/3</a> or write to the Information Policy Team, The National Archives, Kew, London TW9 4DU, or email: <a href="mailto:psi@nationalarchives.gsi.gov.uk">psi@nationalarchives.gsi.gov.uk</a>.
        </p>
        <p>
          Where we have identified any third party copyright information you will need to obtain permission from the copyright holders concerned.
        </p>
        <p>
          This publication is available at https://www.integration.publishing.service.gov.uk/government/publications/supporting-early-career-teachers--2/make-accurate-and-productive-use-of-assessment
        </p>



      </div>
    </div>

    <div class="main-content-container">
      <div class="gem-c-govspeak-html-publication">

        <div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak">
          <div class="govspeak">
            <figure class="image embedded"><div class="img"><img src="https://assets.integration.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/89995/writing-on-notebook.jpeg" alt="writing on notebook"></div></figure>

            <h2 id="what-a-newly-qualified-teacher-nqt-needs-to-learn">What a newly qualified teacher (NQT) needs to learn</h2>

            <p>There are 7 areas an NQT needs to understand and gain experience in.</p>

            <h3 id="using-assessments-to-learn-about-pupils">
              <span class="number">1. </span> Using assessments to learn about pupils</h3>

              <p>Assessments allow NQTs to understand their pupils’ needs and knowledge of subjects.</p>

              <h3 id="using-assessments-to-stay-focused">
                <span class="number">2. </span> Using assessments to stay focused</h3>

                <p>Assessments help to maintain focus. They allow NQTs to understand how misleading factors, such as how busy pupils appear to be, can influence their decisions.</p>

                <h3 id="being-clear-on-how-assessments-will-be-used">
                  <span class="number">3. </span> Being clear on how assessments will be used</h3>

                  <p>Assessments can help to support teaching decisions. Before an assessment, NQTs should be clear with pupils how the results will be used.</p>

                  <h3 id="using-assessments-to-help-make-decisions">
                    <span class="number">4. </span> Using assessments to help make decisions</h3>

                    <p>Information from assessments can help NQTs to make better teaching decisions.</p>

                    <h3 id="giving-feedback-to-helps-pupils-improve">
                      <span class="number">5. </span> Giving feedback to helps pupils improve</h3>

                      <p>NQTs should provide clear and accurate feedback from assessments to encourage, guide and support pupils.&nbsp;</p>

                      <p>Written and verbal feedback should be easy for pupils to understand and act on.</p>

                      <h3 id="giving-feedback-helps-pupils-to-help-themselves">
                        <span class="number">6. </span> Giving feedback helps pupils to help themselves</h3>

                        <p>Over time, pupils can use the feedback from NQTs to monitor and regulate their own learning.</p>

                        <h3 id="working-with-colleagues-to-strike-a-good-workload-balance">
                          <span class="number">7. </span> Working with colleagues to strike a good workload balance</h3>

                          <p>NQTs should work with colleagues to make assessments as efficient as possible. Assessments should not increase workload excessively.</p>

                          <figure class="image embedded"><div class="img"><img src="https://assets.integration.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/89996/standard_8b.png" alt="taking notes in meeting"></div></figure>

                          <h2 id="what-skills-an-nqt-needs-to-develop">What skills an NQT needs to develop</h2>

                          <p>To help NQTs succeed, mentors should share their experience of:</p>

                          <ul>
                            <li>using assessments to learn about their pupils’ understanding of subjects and pinpoint knowledge gaps</li>
                            <li>looking at pupils’ performance over a series of assessments to work out what they have learned&nbsp;</li>
                            <li>using summative assessments that have been created externally to compare their pupils’ learning against other schools</li>
                          </ul>

                          <h3 id="skills-help-check-pupils-prior-knowledge-and-understanding">Skills help check pupils’ prior knowledge and understanding</h3>

                          <p>An NQT needs to be able to:</p>

                          <ul>
                            <li>use assessments to identify knowledge gaps and misconceptions (for example, common misconceptions can be used in multiple-choice questions)</li>
                            <li>use assessments to understand their pupils’ prior knowledge</li>
                            <li>ask pupils to elaborate when answering questions, to see if they fully understand a subject</li>
                            <li>monitor pupils during lessons to check for misconceptions</li>
                          </ul>

                          <h3 id="skills-that-help-provide-high-quality-feedback">Skills that help provide high-quality feedback</h3>

                          <p>An NQT needs to be able to:</p>

                          <ul>
                            <li>give pupils specific tasks and providing sufficient time to respond to feedback</li>
                            <li>understand that pupils’ responses to feedback are affected by a range of factors (for example, age of pupil or the message contained in the feedback)</li>
                            <li>ensure that feedback when using peer- or self-assessment is specific and helpful</li>
                          </ul>

                          <h3 id="skills-that-help-to-make-marking-manageable-and-effective">Skills that help to make marking manageable and effective</h3>

                          <p>An NQT needs to be able to:</p>

                          <ul>
                            <li>record data only when it improves the potential outcome for pupils</li>
                            <li>work with colleagues to develop efficient approaches to marking, and alternative ways to provide feedback (for example, supported peer- and self-assessment)</li>
                            <li>use verbal rather than written feedback</li>
                            <li>make it faster to mark assessments by using abbreviations and codes</li>
                            <li>draw attention to errors and misunderstandings when marking, rather than highlighting careless mistakes</li>
                          </ul>

                          <h2 id="resources">Resources</h2>

                          <p>Useful ideas and exercises you can use to train and support NQTs.</p>

                          <p><a href="/guidance/reviewing-feedback-and-marking-in-schools">Reviewing feedback and marking in schools</a></p>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div data-sticky-element="" class="govuk-sticky-element govuk-sticky-element--hidden govuk-sticky-element--stuck-to-window govuk-sticky-element--enabled">
                    <a class="app-c-back-to-top dont-print" href="#contents">
                      <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                      </svg>
                      Contents
                    </a>

                  </div>
                </div>

              </main>

              <div class="gem-c-feedback gem-c-feedback--top-margin" data-module="feedback">

                <div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">
                  <div class="gem-c-feedback__js-prompt-questions js-prompt-questions">
                    <h2 class="gem-c-feedback__prompt-question">Is this page useful?</h2>

                    <a class="gem-c-feedback__prompt-link" data-track-category="yesNoFeedbackForm" data-track-action="ffMaybeClick" aria-expanded="false" role="button" style="display: none;" hidden="hidden" aria-hidden="true" href="/contact/govuk">
                      Maybe
                    </a>
                    <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--useful js-page-is-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffYesClick" aria-expanded="false" role="button" href="/contact/govuk">
                      Yes <span class="visually-hidden">this page is useful</span>
                    </a>
                    <a class="gem-c-feedback__prompt-link js-toggle-form js-page-is-not-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffNoClick" aria-controls="page-is-not-useful" aria-expanded="false" role="button" href="/contact/govuk">
                      No <span class="visually-hidden">this page is not useful</span>
                    </a>
                    <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--wrong js-toggle-form js-something-is-wrong" data-track-category="Onsite Feedback" data-track-action="GOV.UK Open Form" aria-controls="something-is-wrong" aria-expanded="false" role="button" href="/contact/govuk">
                      Is there anything wrong with this page?
                    </a>  </div>

                    <div class="gem-c-feedback__prompt-success js-prompt-success js-hidden" tabindex="-1">
                      Thank you for your feedback
                    </div>
                  </div>

                  <form action="/contact/govuk/problem_reports" id="something-is-wrong" class="gem-c-feedback__form js-feedback-form js-hidden" data-track-category="Onsite Feedback" data-track-action="GOV.UK Send Form" method="post" aria-hidden="true">
                    <a href="#" class="gem-c-feedback__close gem-c-feedback__js-show js-close-form" data-track-category="Onsite Feedback" data-track-action="GOV.UK Close Form" aria-controls="something-is-wrong" aria-expanded="true" role="button">Close</a>

                    <div class="gem-c-feedback__grid-row gem-c-feedback__survey-container">
                      <div class="gem-c-feedback__column-two-thirds">
                        <div class="gem-c-feedback__error-summary gem-c-feedback__js-show js-hidden js-errors" tabindex="-1"></div>

                        <input type="hidden" name="url" value="https://www.integration.publishing.service.gov.uk/government/publications/supporting-early-career-teachers--2/make-accurate-and-productive-use-of-assessment">

                        <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
                        <p id="feedback_explanation" class="gem-c-feedback__form-paragraph">Don’t include personal or financial information like your National Insurance number or credit card details.</p>


                        <div class="govuk-form-group">

                          <label for="input-654edc43" class="gem-c-label govuk-label">
                            What were you doing?
                          </label>




                          <input name="what_doing" class="gem-c-input govuk-input" id="input-654edc43" type="text" aria-describedby="feedback_explanation">
                        </div>


                        <div class="govuk-form-group">

                          <label for="input-f3e9608c" class="gem-c-label govuk-label">
                            What went wrong?
                          </label>




                          <input name="what_wrong" class="gem-c-input govuk-input" id="input-f3e9608c" type="text">
                        </div>


                        <button class="gem-c-button govuk-button" type="submit">Send</button>


                      </div>
                    </div>
                    <input type="hidden" name="javascript_enabled" value="true"><input type="hidden" name="referrer" value="https://www.integration.publishing.service.gov.uk/government/publications/supporting-early-career-teachers--2"></form>

                    <form action="/contact/govuk/email-survey-signup" id="page-is-not-useful" class="gem-c-feedback__form gem-c-feedback__form--email gem-c-feedback__js-show js-feedback-form js-hidden" data-track-category="yesNoFeedbackForm" data-track-action="Send Form" method="post" aria-hidden="true">
                      <a href="#" class="gem-c-feedback__close js-close-form" data-track-category="yesNoFeedbackForm" data-track-action="ffFormClose" aria-controls="page-is-not-useful" aria-expanded="true" role="button">Close</a>

                      <div class="gem-c-feedback__grid-row gem-c-feedback__survey-container">
                        <div class="gem-c-feedback__column-two-thirds" id="survey-wrapper">
                          <div class="gem-c-feedback__error-summary js-hidden js-errors" tabindex="-1"></div>

                          <input name="email_survey_signup[survey_id]" type="hidden" value="footer_satisfaction_survey">
                          <input name="email_survey_signup[survey_source]" type="hidden" value="/government/publications/supporting-early-career-teachers--2/make-accurate-and-productive-use-of-assessment">

                          <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
                          <p id="survey_explanation" class="gem-c-feedback__form-paragraph">To help us improve GOV.UK, we’d like to know more about your visit today. We’ll send you a link to a feedback form. It will take only 2 minutes to fill in. Don’t worry we won’t send you spam or share your email address with anyone.</p>


                          <div class="govuk-form-group">

                            <label for="input-db1d02a0" class="gem-c-label govuk-label">
                              Email address
                            </label>




                            <input name="email_survey_signup[email_address]" class="gem-c-input govuk-input" id="input-db1d02a0" type="email" autocomplete="email" aria-describedby="survey_explanation">
                          </div>


                          <button class="gem-c-button govuk-button" type="submit">Send me the survey</button>


                        </div>
                      </div>
                    </form>

                  </div>
