<% content_for :title, "Plan and teach well structured lessons - GOV.UK" %>



<div class="gem-c-contextual-breadcrumbs">



  <div class="gem-c-breadcrumbs govuk-breadcrumbs " data-module="track-click">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" aria-current="false" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/government/publications/supporting-early-career-teachers--2" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;Supporting early career teachers&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/government/publications/supporting-early-career-teachers--2">Supporting early career teachers</a>
      </li>
    </ol>
  </div>


</div>


<main role="main" id="content" class="html-publication" lang="en">


  <div class="govuk-grid-row publication-external">
    <ol class="govuk-grid-column-one-quarter organisation-logos">
      <li class="organisation-logo">
        <div class="gem-c-organisation-logo brand--cabinet-office">
          <a class="gem-c-organisation-logo__container gem-c-organisation-logo__link gem-c-organisation-logo__crest gem-c-organisation-logo__crest--single-identity brand__border-color" href="/government/organisations/government-digital-service">
            <span class="gem-c-organisation-logo__name">Government Digital Service</span>
          </a>
        </div>

      </li>
    </ol>
  </div>

  <header class="gem-c-inverse-header  gem-c-inverse-header--padding-top ">

    <div class="gem-c-title govuk-!-margin-top-8 gem-c-title--inverse govuk-!-margin-bottom-0">
      <p class="gem-c-title__context">
        Guidance
      </p>
      <h1 class="gem-c-title__text ">
        Plan and teach well structured lessons
      </h1>
    </div>
    <p class="publication-header__last-changed">Published 23 July 2019</p>

  </header>



  <div class="govuk-grid-row sidebar-with-body" data-module="sticky-element-container" id="contents">
    <div class="govuk-grid-column-one-quarter-from-desktop contents-list-container">
      <nav role="navigation" class="gem-c-contents-list gem-c-contents-list--no-underline " data-module="track-click">
        <h2 class="gem-c-contents-list__title">Contents</h2>

        <ol class="gem-c-contents-list__list">
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered ">
            <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="#what-a-newly-qualified-teacher-nqt-needs-to-learn" data-track-options="{&quot;dimension29&quot;:&quot;What a newly qualified teacher (NQT) needs to learn&quot;}" href="#what-a-newly-qualified-teacher-nqt-needs-to-learn">What a newly qualified teacher (NQT) needs to learn</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered ">
            <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#what-skills-an-nqt-needs-to-develop" data-track-options="{&quot;dimension29&quot;:&quot;What skills an NQT needs to develop&quot;}" href="#what-skills-an-nqt-needs-to-develop">What skills an NQT needs to develop</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered ">
            <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#resources" data-track-options="{&quot;dimension29&quot;:&quot;Resources&quot;}" href="#resources">Resources</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered ">
            <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 4" data-track-label="#case-studies" data-track-options="{&quot;dimension29&quot;:&quot;Case studies&quot;}" href="#case-studies">Case studies</a>
          </li>
        </ol>
      </nav>

    </div>

    <div class="print-wrapper">
      <div class="print-meta-data">
        <p>
          <img class="print-meta-data-licence" src="https://assets.integration.publishing.service.gov.uk/government-frontend/open-government-licence-min-e98134ae65ff5fe99a524d8c383350b3998f91c298dc24b36126e65f1656c578.png">
        </p>
        <p>
          © Crown copyright 2019
        </p>
        <p>
          This publication is licensed under the terms of the Open Government Licence v3.0 except where otherwise stated. To view this licence, visit <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">nationalarchives.gov.uk/doc/open-government-licence/version/3</a> or write to the Information Policy Team, The National Archives, Kew, London TW9 4DU, or email: <a href="mailto:psi@nationalarchives.gsi.gov.uk">psi@nationalarchives.gsi.gov.uk</a>.
        </p>
        <p>
          Where we have identified any third party copyright information you will need to obtain permission from the copyright holders concerned.
        </p>
        <p>
          This publication is available at https://www.integration.publishing.service.gov.uk/government/publications/supporting-early-career-teachers--2/plan-and-teach-well-structured-lessons
        </p>



      </div>
    </div>

    <div class="main-content-container">
      <div class="gem-c-govspeak-html-publication">

        <div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak">
          <div class="govspeak">
            <figure class="image embedded"><div class="img"><img src="https://assets.integration.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/89940/woman-with-laptop.jpeg" alt="woman with laptop"></div></figure>

            <h2 id="what-a-newly-qualified-teacher-nqt-needs-to-learn">What a newly qualified teacher (NQT) needs to learn</h2>

            <p>There are 10 areas an NQT needs to learn and gain experience in.</p>

            <h3 id="teaching-effectively">
              <span class="number">1. </span> Teaching effectively</h3>

              <p>NQTs who teach effectively can improve pupils’ capabilities and approach to learning.</p>

              <h3 id="introducing-new-material">
                <span class="number">2. </span> Introducing new material</h3>

                <p>NQTs who introduce new material in steps can make it easier for pupils to link new ideas to what has previously been studied.</p>

                <h3 id="modelling">
                  <span class="number">3. </span> Modelling</h3>

                  <p>Using good models helps pupils understand new processes and ideas, and can make abstract ideas concrete and accessible.</p>

                  <h3 id="using-guides-and-worked-examples">
                    <span class="number">4. </span> Using guides and worked examples</h3>

                    <p>Using guides, scaffolds and worked examples can help pupils understand and apply new ideas, but NQTs should gradually reduce their use as pupil expertise improves.</p>

                    <h3 id="teaching-metacognitive-strategies">
                      <span class="number">5. </span> Teaching metacognitive strategies</h3>

                      <p>NQTs should teach pupils that metacognitive strategies linked to subject knowledge, like planning, monitoring and evaluating, can support independence and academic success.</p>

                      <h3 id="questioning">
                        <span class="number">6. </span> Questioning</h3>

                        <p>NQTs can use questioning in many useful ways, including checking pupils’ existing knowledge, assessing understanding and breaking down problems.</p>

                        <h3 id="classroom-talk">
                          <span class="number">7. </span> Classroom talk</h3>

                          <p>High-quality classroom talk can be used by NQTs to help pupils articulate key ideas, extend their vocabulary, and improve their understanding.</p>

                          <h3 id="practicing">
                            <span class="number">8. </span> Practicing</h3>

                            <p>NQTs can help pupils by offering opportunities to practice, along with guidance and support.</p>

                            <h3 id="pairing-and-grouping">
                              <span class="number">9. </span> Pairing and grouping</h3>

                              <p>Pupils can benefit from working in pairs and groups, and NQTs should monitor the impact of these groupings on pupil attainment, behaviour and motivation.</p>

                              <h3 id="setting-homework">
                                <span class="number">10. </span> Setting homework</h3>

                                <p>When setting homework, the quality and relevance of the work to what is being taught in class is more important than the amount.</p>

                                <figure class="image embedded"><div class="img"><img src="https://assets.integration.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/89941/standard_3b.png" alt="standard 3b"></div></figure>

                                <h2 id="what-skills-an-nqt-needs-to-develop">What skills an NQT needs to develop</h2>

                                <p>A mentor needs to help NQTs know how to:</p>

                                <ul>
                                  <li>plan effective lessons</li>
                                  <li>make good use of expositions</li>
                                  <li>model effectively</li>
                                  <li>encourage pupils’ thinking, and check for understanding</li>
                                </ul>

                                <h3 id="skills-that-help-plan-effective-lessons">Skills that help plan effective lessons</h3>

                                <p>An NQT needs to be able to:</p>

                                <ul>
                                  <li>know how, and when, to use modelling, explanations and scaffolds</li>
                                  <li>teach the necessary content knowledge to enable critical thinking and problem solving</li>
                                  <li>ensure pupils have the opportunity to consolidate new knowledge and skills through practice</li>
                                  <li>break tasks down into their constituent parts when setting up independent practice</li>
                                </ul>

                                <h3 id="skills-that-help-make-good-use-of-expositions">Skills that help make good use of expositions</h3>

                                <p>An NQT needs to be able to:</p>

                                <ul>
                                  <li>start expositions at pupils’ existing level of understanding</li>
                                  <li>combine verbal explanations with relevant graphical representations</li>
                                  <li>give concrete representations of abstract ideas</li>
                                </ul>

                                <h3 id="skills-that-help-model-effectively">Skills that help model effectively</h3>

                                <p>An NQT needs to be able to:</p>

                                <ul>
                                  <li>convey thought processes when modelling to show how experts think</li>
                                  <li>break the parts of a process down to memorable steps</li>
                                  <li>expose potential pitfalls and explaining how to avoid them</li>
                                </ul>

                                <h3 id="skills-that-help-stimulate-pupil-thinking-and-check-for-understanding">Skills that help stimulate pupil thinking, and check for understanding</h3>

                                <p>An NQT needs to be able to:</p>

                                <ul>
                                  <li>plan activities that encourage pupils to think hard about certain subjects</li>
                                  <li>create a wide range of question types to extend and challenge pupils</li>
                                  <li>know how long to leave between question and response when more developed responses are required</li>
                                  <li>assess the different factors that will affect collaborative work, like familiarity with routines, and how pupils are grouped</li>
                                  <li>choose appropriate scaffolds to increase the focus and rigour of pupil talk</li>
                                </ul>

                                <h2 id="resources">Resources</h2>

                                <p>Useful ideas and exercises you can use to train and support NQTs.</p>

                                <p><a href="/guidance/improving-the-appropriate-wait-time-between-question-and-response-in-class">Improving the appropriate wait time between question and response in class</a></p>

                                <h2 id="case-studies">Case studies</h2>

                                <p><a href="/guidance/sharing-planning-tasks-in-schools">Sharing planning tasks in schools</a></p>
                              </div>
                            </div>
                          </div>

                        </div>

                        <div data-sticky-element="" class="govuk-sticky-element govuk-sticky-element--hidden govuk-sticky-element--stuck-to-window govuk-sticky-element--enabled">
                          <a class="app-c-back-to-top dont-print" href="#contents">
                            <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                              <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                            </svg>
                            Contents
                          </a>

                        </div>
                      </div>

                    </main>

                    <div class="gem-c-feedback gem-c-feedback--top-margin" data-module="feedback">

                      <div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">
                        <div class="gem-c-feedback__js-prompt-questions js-prompt-questions">
                          <h2 class="gem-c-feedback__prompt-question">Is this page useful?</h2>

                          <a class="gem-c-feedback__prompt-link" data-track-category="yesNoFeedbackForm" data-track-action="ffMaybeClick" aria-expanded="false" role="button" style="display: none;" hidden="hidden" aria-hidden="true" href="/contact/govuk">
                            Maybe
                          </a>
                          <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--useful js-page-is-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffYesClick" aria-expanded="false" role="button" href="/contact/govuk">
                            Yes <span class="visually-hidden">this page is useful</span>
                          </a>
                          <a class="gem-c-feedback__prompt-link js-toggle-form js-page-is-not-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffNoClick" aria-controls="page-is-not-useful" aria-expanded="false" role="button" href="/contact/govuk">
                            No <span class="visually-hidden">this page is not useful</span>
                          </a>
                          <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--wrong js-toggle-form js-something-is-wrong" data-track-category="Onsite Feedback" data-track-action="GOV.UK Open Form" aria-controls="something-is-wrong" aria-expanded="false" role="button" href="/contact/govuk">
                            Is there anything wrong with this page?
                          </a>  </div>

                          <div class="gem-c-feedback__prompt-success js-prompt-success js-hidden" tabindex="-1">
                            Thank you for your feedback
                          </div>
                        </div>

                        <form action="/contact/govuk/problem_reports" id="something-is-wrong" class="gem-c-feedback__form js-feedback-form js-hidden" data-track-category="Onsite Feedback" data-track-action="GOV.UK Send Form" method="post" aria-hidden="true">
                          <a href="#" class="gem-c-feedback__close gem-c-feedback__js-show js-close-form" data-track-category="Onsite Feedback" data-track-action="GOV.UK Close Form" aria-controls="something-is-wrong" aria-expanded="true" role="button">Close</a>

                          <div class="gem-c-feedback__grid-row gem-c-feedback__survey-container">
                            <div class="gem-c-feedback__column-two-thirds">
                              <div class="gem-c-feedback__error-summary gem-c-feedback__js-show js-hidden js-errors" tabindex="-1"></div>

                              <input type="hidden" name="url" value="https://www.integration.publishing.service.gov.uk/government/publications/supporting-early-career-teachers--2/plan-and-teach-well-structured-lessons">

                              <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
                              <p id="feedback_explanation" class="gem-c-feedback__form-paragraph">Don’t include personal or financial information like your National Insurance number or credit card details.</p>


                              <div class="govuk-form-group">

                                <label for="input-056f60dc" class="gem-c-label govuk-label">
                                  What were you doing?
                                </label>




                                <input name="what_doing" class="gem-c-input govuk-input" id="input-056f60dc" type="text" aria-describedby="feedback_explanation">
                              </div>


                              <div class="govuk-form-group">

                                <label for="input-aa791265" class="gem-c-label govuk-label">
                                  What went wrong?
                                </label>




                                <input name="what_wrong" class="gem-c-input govuk-input" id="input-aa791265" type="text">
                              </div>


                              <button class="gem-c-button govuk-button" type="submit">Send</button>


                            </div>
                          </div>
                          <input type="hidden" name="javascript_enabled" value="true"><input type="hidden" name="referrer" value="https://www.integration.publishing.service.gov.uk/government/publications/supporting-early-career-teachers--2"></form>

                          <form action="/contact/govuk/email-survey-signup" id="page-is-not-useful" class="gem-c-feedback__form gem-c-feedback__form--email gem-c-feedback__js-show js-feedback-form js-hidden" data-track-category="yesNoFeedbackForm" data-track-action="Send Form" method="post" aria-hidden="true">
                            <a href="#" class="gem-c-feedback__close js-close-form" data-track-category="yesNoFeedbackForm" data-track-action="ffFormClose" aria-controls="page-is-not-useful" aria-expanded="true" role="button">Close</a>

                            <div class="gem-c-feedback__grid-row gem-c-feedback__survey-container">
                              <div class="gem-c-feedback__column-two-thirds" id="survey-wrapper">
                                <div class="gem-c-feedback__error-summary js-hidden js-errors" tabindex="-1"></div>

                                <input name="email_survey_signup[survey_id]" type="hidden" value="footer_satisfaction_survey">
                                <input name="email_survey_signup[survey_source]" type="hidden" value="/government/publications/supporting-early-career-teachers--2/plan-and-teach-well-structured-lessons">

                                <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
                                <p id="survey_explanation" class="gem-c-feedback__form-paragraph">To help us improve GOV.UK, we’d like to know more about your visit today. We’ll send you a link to a feedback form. It will take only 2 minutes to fill in. Don’t worry we won’t send you spam or share your email address with anyone.</p>


                                <div class="govuk-form-group">

                                  <label for="input-24767398" class="gem-c-label govuk-label">
                                    Email address
                                  </label>




                                  <input name="email_survey_signup[email_address]" class="gem-c-input govuk-input" id="input-24767398" type="email" autocomplete="email" aria-describedby="survey_explanation">
                                </div>


                                <button class="gem-c-button govuk-button" type="submit">Send me the survey</button>


                              </div>
                            </div>
                          </form>

                        </div>
