<% content_for :title, "Measuring pupil progress and managing the data - GOV.UK" %>

<div class="gem-c-contextual-breadcrumbs">
  <div class="gem-c-breadcrumbs govuk-breadcrumbs " data-module="track-click">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" aria-current="false" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/education" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Education, training and skills&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/education">Education, training and skills</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="/education/teaching-and-leadership" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Teaching and leadership&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/education/teaching-and-leadership">Teaching and leadership</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="4" data-track-label="/education/teacher-training-and-professional-development" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Teacher training and professional development&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/education/teacher-training-and-professional-development">Teacher training and professional development</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="5" data-track-label="/education/school-leadership" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;School leadership&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/education/school-leadership">School leadership</a>
      </li>
    </ol>
  </div>
</div>


<main role="main" id="content" class="detailed-guide" lang="en">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
        <p class="gem-c-title__context">
          Guidance
        </p>
        <h1 class="gem-c-title__text gem-c-title__text--long">
          Measuring pupil progress and managing the data
        </h1>
      </div>
    </div>

    <div class="govuk-grid-column-two-thirds">

      <p class="gem-c-lead-paragraph ">
        How St Peter’s C of E Primary School worked with 4 other schools to identify ways to measure pupil progress that could be collected easily.
      </p>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="metadata-logo-wrapper">
      <div class="govuk-grid-column-two-thirds metadata-column">
        <div class="app-c-publisher-metadata" lang="en">
          <div class="app-c-published-dates " lang="en">
            Published 23 July 2019
          </div>

          <div class="app-c-publisher-metadata__other">
            <dl data-module="track-click">
              <dt class="app-c-publisher-metadata__term">
                From:
              </dt>
              <dd class="app-c-publisher-metadata__definition" data-module="gem-toggle">
                <span class="app-c-publisher-metadata__definition-sentence">
                  <a href="/government/organisations/government-digital-service">Government Digital Service</a>
                </span>
              </dd>
            </dl>
          </div>
        </div>

      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </div>




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <div id="contents" class="app-c-contents-list-with-body" data-module="sticky-element-container">
        <div class="responsive-bottom-margin">
          <nav role="navigation" class="gem-c-contents-list gem-c-contents-list--no-underline " data-module="track-click">
            <h2 class="gem-c-contents-list__title">Contents</h2>

            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="#project-outline" data-track-options="{&quot;dimension29&quot;:&quot;Project outline&quot;}" href="#project-outline">Project outline</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#outcomes" data-track-options="{&quot;dimension29&quot;:&quot;Outcomes&quot;}" href="#outcomes">Outcomes</a>
              </li>
            </ol>
          </nav>

        </div>


        <div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak">
          <div class="govspeak">
            <figure class="image embedded"><div class="img"><img src="https://assets.integration.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/89946/nicole-honeywill-E3I2zjwGudM-unsplash__1___1_.jpg" alt="honeywill"></div></figure>

            <p>St Peter’s C of E Primary School is part of the Lighthouse Schools Partnership, a multi-academy trust (MAT) in south-west England with schools from nursery to sixth form.</p>

            <ul>
              <li>St Peter’s C of E Primary School, Portishead, Somerset</li>
              <li>Phase: Primary</li>
              <li>Number of pupils: 565</li>
              <li>Website: <a rel="external" href="http://www.st-peters.n-somerset.sch.uk/">www.st-peters.n-somerset.sch.uk</a>
              </li>
            </ul>

            <figure class="image embedded"><div class="img"><img src="https://assets.integration.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/89947/case-study-2__1___1_.jpg" alt="case study 2"></div></figure>

            <h2 id="project-outline">Project outline</h2>

            <p>Teaching staff from St Peter’s collaborated with 4 other schools in the Lighthouse Schools Partnership, in year groups and phase teams.</p>

            <p>They identified the learning objectives they felt children in years 1 to 7 need to achieve to be ready for the next stage in their teaching for each subject.</p>

            <p>For years 2 and 6 these were based on the National Teacher Assessment Frameworks, as is required nationally.</p>

            <p>Building on these objectives, key performance indicators (KPIs) were developed for each year group for:</p>

            <ul>
              <li>reading</li>
              <li>writing</li>
              <li>maths</li>
            </ul>

            <figure class="image embedded"><div class="img"><img src="https://assets.integration.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/89948/case-study-3__1___1_.jpg" alt="case study 3"></div></figure>

            <p>Each KPI had an expected descriptor and a ‘depth descriptor’. Using these KPIs, a bespoke tracking system to enter and extract data in the assessment process was developed, based on the school’s own assessment principles.</p>

            <p>An important feature of the system was to ensure data would be entered once and could be used multiple times at:</p>

            <ul>
              <li>class level</li>
              <li>school level</li>
              <li>MAT level</li>
            </ul>

            <figure class="image embedded"><div class="img"><img src="https://assets.integration.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/89949/case-study-4__1___2_.jpg" alt="case study 4"></div></figure>

            <h2 id="outcomes">Outcomes</h2>

            <p>Findings from a survey completed by 24 teachers following one round of assessment and implementation of the new tracking system indicated that:</p>

            <ul>
              <li>since the development and use of KPIs:
                <ul>
                  <li>all staff have a clear understanding of the assessment objectives in their year group</li>
                  <li>all staff understand the standards pupils need to reach in their year group</li>
                  <li>the majority of teachers understand how progress is measured</li>
                </ul>
              </li>
              <li>most teachers reported that their increased understanding meant a reduction in time taken to assess pupils’ learning using the KPIs, and a reduced teacher workload</li>
              <li>positive features of the new tracking system include:
                <ul>
                  <li>clarity of KPIs and depth descriptors</li>
                  <li>ease of use</li>
                  <li>opportunities to moderate with colleagues</li>
                  <li>the ability to use point in time assessment to inform future teaching</li>
                </ul>
              </li>
              <li>using the same tracking system across the MAT:
                <ul>
                  <li>created a common language and format across schools</li>
                  <li>provided a facility for data to be entered once and used several times within and across the schools</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>


        <div class="responsive-bottom-margin">
          <div class="app-c-published-dates " lang="en">
            Published 23 July 2019
          </div>

        </div>

        <div data-sticky-element="" class="app-c-contents-list-with-body__link-wrapper govuk-sticky-element--hidden govuk-sticky-element--stuck-to-window govuk-sticky-element--enabled">
          <div class="app-c-contents-list-with-body__link-container">
            <a class="app-c-back-to-top dont-print" href="#contents">
              <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
              </svg>
              Contents
            </a>

          </div>
        </div>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">

      <div class="gem-c-contextual-sidebar">




      </div>

    </div>

  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="gem-c-contextual-footer">

        <div class="gem-c-related-navigation">





          <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-topics-f8967d08" data-module="gem-toggle">

            <h2 id="related-nav-topics-f8967d08" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer" data-track-count="footerRelatedItemSection">Explore the topic</h2>

            <ul class="gem-c-related-navigation__link-list" data-module="track-click">


              <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" data-track-category="relatedLinkClicked" data-track-action="1.1 Explore the topic" data-track-label="/education/school-leadership" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;School leadership&quot;}" href="/education/school-leadership">School leadership</a></li>

            </ul>
          </nav>

        </div>

      </div>


    </div>
  </div>


</main>

<div class="gem-c-feedback gem-c-feedback--top-margin" data-module="feedback">

  <div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">
    <div class="gem-c-feedback__js-prompt-questions js-prompt-questions">
      <h2 class="gem-c-feedback__prompt-question">Is this page useful?</h2>

      <a class="gem-c-feedback__prompt-link" data-track-category="yesNoFeedbackForm" data-track-action="ffMaybeClick" aria-expanded="false" role="button" style="display: none;" hidden="hidden" aria-hidden="true" href="/contact/govuk">
        Maybe
      </a>
      <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--useful js-page-is-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffYesClick" aria-expanded="false" role="button" href="/contact/govuk">
        Yes <span class="visually-hidden">this page is useful</span>
      </a>
      <a class="gem-c-feedback__prompt-link js-toggle-form js-page-is-not-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffNoClick" aria-controls="page-is-not-useful" aria-expanded="false" role="button" href="/contact/govuk">
        No <span class="visually-hidden">this page is not useful</span>
      </a>
      <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--wrong js-toggle-form js-something-is-wrong" data-track-category="Onsite Feedback" data-track-action="GOV.UK Open Form" aria-controls="something-is-wrong" aria-expanded="false" role="button" href="/contact/govuk">
        Is there anything wrong with this page?
      </a>  </div>

      <div class="gem-c-feedback__prompt-success js-prompt-success js-hidden" tabindex="-1">
        Thank you for your feedback
      </div>
    </div>

    <form action="/contact/govuk/problem_reports" id="something-is-wrong" class="gem-c-feedback__form js-feedback-form js-hidden" data-track-category="Onsite Feedback" data-track-action="GOV.UK Send Form" method="post" aria-hidden="true">
      <a href="#" class="gem-c-feedback__close gem-c-feedback__js-show js-close-form" data-track-category="Onsite Feedback" data-track-action="GOV.UK Close Form" aria-controls="something-is-wrong" aria-expanded="true" role="button">Close</a>

      <div class="gem-c-feedback__grid-row gem-c-feedback__survey-container">
        <div class="gem-c-feedback__column-two-thirds">
          <div class="gem-c-feedback__error-summary gem-c-feedback__js-show js-hidden js-errors" tabindex="-1"></div>

          <input type="hidden" name="url" value="https://www.integration.publishing.service.gov.uk/guidance/measuring-pupil-progress-and-managing-the-data">

          <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
          <p id="feedback_explanation" class="gem-c-feedback__form-paragraph">Don’t include personal or financial information like your National Insurance number or credit card details.</p>


          <div class="govuk-form-group">

            <label for="input-948457f5" class="gem-c-label govuk-label">
              What were you doing?
            </label>




            <input name="what_doing" class="gem-c-input govuk-input" id="input-948457f5" type="text" aria-describedby="feedback_explanation">
          </div>


          <div class="govuk-form-group">

            <label for="input-2085a14b" class="gem-c-label govuk-label">
              What went wrong?
            </label>




            <input name="what_wrong" class="gem-c-input govuk-input" id="input-2085a14b" type="text">
          </div>


          <button class="gem-c-button govuk-button" type="submit">Send</button>


        </div>
      </div>
      <input type="hidden" name="javascript_enabled" value="true"><input type="hidden" name="referrer" value="https://www.integration.publishing.service.gov.uk/government/publications/supporting-early-career-teachers--2/promote-good-progress"></form>

      <form action="/contact/govuk/email-survey-signup" id="page-is-not-useful" class="gem-c-feedback__form gem-c-feedback__form--email gem-c-feedback__js-show js-feedback-form js-hidden" data-track-category="yesNoFeedbackForm" data-track-action="Send Form" method="post" aria-hidden="true">
        <a href="#" class="gem-c-feedback__close js-close-form" data-track-category="yesNoFeedbackForm" data-track-action="ffFormClose" aria-controls="page-is-not-useful" aria-expanded="true" role="button">Close</a>

        <div class="gem-c-feedback__grid-row gem-c-feedback__survey-container">
          <div class="gem-c-feedback__column-two-thirds" id="survey-wrapper">
            <div class="gem-c-feedback__error-summary js-hidden js-errors" tabindex="-1"></div>

            <input name="email_survey_signup[survey_id]" type="hidden" value="footer_satisfaction_survey">
            <input name="email_survey_signup[survey_source]" type="hidden" value="/guidance/measuring-pupil-progress-and-managing-the-data">

            <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
            <p id="survey_explanation" class="gem-c-feedback__form-paragraph">To help us improve GOV.UK, we’d like to know more about your visit today. We’ll send you a link to a feedback form. It will take only 2 minutes to fill in. Don’t worry we won’t send you spam or share your email address with anyone.</p>


            <div class="govuk-form-group">

              <label for="input-aae48cd7" class="gem-c-label govuk-label">
                Email address
              </label>




              <input name="email_survey_signup[email_address]" class="gem-c-input govuk-input" id="input-aae48cd7" type="email" autocomplete="email" aria-describedby="survey_explanation">
            </div>


            <button class="gem-c-button govuk-button" type="submit">Send me the survey</button>


          </div>
        </div>
      </form>

    </div>
