<% content_for :title, "Fulfil wider professional responsibilities - GOV.UK" %>




<div class="gem-c-contextual-breadcrumbs">



  <div class="gem-c-breadcrumbs govuk-breadcrumbs " data-module="track-click">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" aria-current="false" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/government/publications/supporting-early-career-teachers--2" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;Supporting early career teachers&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/government/publications/supporting-early-career-teachers--2">Supporting early career teachers</a>
      </li>
    </ol>
  </div>


</div>


<main role="main" id="content" class="html-publication" lang="en">


  <div class="govuk-grid-row publication-external">
    <ol class="govuk-grid-column-one-quarter organisation-logos">
      <li class="organisation-logo">
        <div class="gem-c-organisation-logo brand--cabinet-office">
          <a class="gem-c-organisation-logo__container gem-c-organisation-logo__link gem-c-organisation-logo__crest gem-c-organisation-logo__crest--single-identity brand__border-color" href="/government/organisations/government-digital-service">
            <span class="gem-c-organisation-logo__name">Government Digital Service</span>
          </a>
        </div>

      </li>
    </ol>
  </div>

  <header class="gem-c-inverse-header  gem-c-inverse-header--padding-top ">

    <div class="gem-c-title govuk-!-margin-top-8 gem-c-title--inverse govuk-!-margin-bottom-0">
      <p class="gem-c-title__context">
        Guidance
      </p>
      <h1 class="gem-c-title__text ">
        Fulfil wider professional responsibilities
      </h1>
    </div>
    <p class="publication-header__last-changed">Published 23 July 2019</p>

  </header>



  <div class="govuk-grid-row sidebar-with-body" data-module="sticky-element-container" id="contents">
    <div class="govuk-grid-column-one-quarter-from-desktop contents-list-container">
      <nav role="navigation" class="gem-c-contents-list gem-c-contents-list--no-underline " data-module="track-click">
        <h2 class="gem-c-contents-list__title">Contents</h2>

        <ol class="gem-c-contents-list__list">
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered ">
            <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="#what-a-newly-qualified-teacher-nqt-needs-to-learn" data-track-options="{&quot;dimension29&quot;:&quot;What a newly qualified teacher (NQT) needs to learn&quot;}" href="#what-a-newly-qualified-teacher-nqt-needs-to-learn">What a newly qualified teacher (NQT) needs to learn</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered ">
            <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#what-skills-an-nqt-needs-to-develop" data-track-options="{&quot;dimension29&quot;:&quot;What skills an NQT needs to develop&quot;}" href="#what-skills-an-nqt-needs-to-develop">What skills an NQT needs to develop</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered ">
            <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#resources" data-track-options="{&quot;dimension29&quot;:&quot;Resources&quot;}" href="#resources">Resources</a>
          </li>
        </ol>
      </nav>

    </div>

    <div class="print-wrapper">
      <div class="print-meta-data">
        <p>
          <img class="print-meta-data-licence" src="https://assets.integration.publishing.service.gov.uk/government-frontend/open-government-licence-min-e98134ae65ff5fe99a524d8c383350b3998f91c298dc24b36126e65f1656c578.png">
        </p>
        <p>
          © Crown copyright 2019
        </p>
        <p>
          This publication is licensed under the terms of the Open Government Licence v3.0 except where otherwise stated. To view this licence, visit <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">nationalarchives.gov.uk/doc/open-government-licence/version/3</a> or write to the Information Policy Team, The National Archives, Kew, London TW9 4DU, or email: <a href="mailto:psi@nationalarchives.gsi.gov.uk">psi@nationalarchives.gsi.gov.uk</a>.
        </p>
        <p>
          Where we have identified any third party copyright information you will need to obtain permission from the copyright holders concerned.
        </p>
        <p>
          This publication is available at https://www.integration.publishing.service.gov.uk/government/publications/supporting-early-career-teachers--2/fulfil-wider-professional-responsibilities
        </p>



      </div>
    </div>

    <div class="main-content-container">
      <div class="gem-c-govspeak-html-publication">

        <div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak">
          <div class="govspeak">
            <figure class="image embedded"><div class="img"><img src="https://assets.integration.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/89991/meeting.jpeg" alt="meeting"></div></figure>

            <h2 id="what-a-newly-qualified-teacher-nqt-needs-to-learn">What a newly qualified teacher (NQT) needs to learn</h2>

            <p>There are 6 specific areas an NQT needs to learn and gain experience in.</p>

            <h3 id="continuing-professional-development">
              <span class="number">1. </span> Continuing professional development&nbsp;</h3>

              <p>High-quality professional development can help NQTs improve their skills and knowledge. Professional development is most effective when it is sustained over time and involves expert support, coaching and collaboration with colleagues.</p>

              <h3 id="developing-reflective-practice">
                <span class="number">2. </span> Developing reflective practice</h3>

                <p>Taking the time to reflect on your work is a helpful way to develop and improve. NQTs should request lesson observations and feedback from experienced colleagues, take part in professional debate and learn from educational research to help them develop.</p>

                <h3 id="contributing-to-whole-school-development">
                  <span class="number">3. </span> Contributing to whole school development&nbsp;</h3>

                  <p>Teachers can make a valuable contribution to the whole school in lots of ways. NQTs can get involved in the wider life of the school by building effective relationships and supporting colleagues.&nbsp;</p>

                  <h3 id="building-effective-relationships">
                    <span class="number">4. </span> Building effective relationships</h3>

                    <p>To help improve pupils’ motivation, behaviour and academic success, NQTs should take the time to build effective relationships with parents, carers and families.&nbsp;</p>

                    <h3 id="providing-support-for-teaching-assistants">
                      <span class="number">5. </span> Providing support for teaching assistants</h3>

                      <p>NQTs should make sure that teaching assistants (TAs) are prepared for lessons so they can effectively support them and pupils.</p>

                      <h3 id="getting-support-from-non-teaching-staff">
                        <span class="number">6. </span> Getting support from non-teaching staff</h3>

                        <p>Non-teaching staff can provide valuable support and expertise to make sure that appropriate support is available for pupils. NQTs should discuss any pupil concerns with SENCOs, pastoral leaders, careers advisors and other specialist colleagues.</p>

                        <figure class="image embedded"><div class="img"><img src="https://assets.integration.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/89992/notepad.jpeg" alt="notepad"></div></figure>

                        <h2 id="what-skills-an-nqt-needs-to-develop">What skills an NQT needs to develop</h2>

                        <p>To help NQTs succeed early on, mentors need to dedicate their time transferring their:</p>

                        <ul>
                          <li>valuable teaching experience</li>
                          <li>hands-on skills</li>
                          <li>leadership qualities</li>
                        </ul>

                        <p>A mentor needs to specifically help NQTs know how to:</p>

                        <ul>
                          <li>develop as a professional</li>
                          <li>build effective working relationships</li>
                          <li>manage their own workload and wellbeing&nbsp;</li>
                        </ul>

                        <h3 id="skills-that-help-an-nqt-develop-as-a-professional">Skills that help an NQT develop as a professional</h3>

                        <p>An NQT needs to be able to:</p>

                        <ul>
                          <li>get involved in ongoing professional development that allows opportunities for practice and helps to develop skills that can have a positive impact on pupil outcomes</li>
                          <li>join teaching networks to strengthen skills and subject knowledge</li>
                          <li>ask for challenge and feedback from mentors and other colleagues&nbsp;</li>
                          <li>review education research and discuss findings with colleagues</li>
                          <li>reflect on progress, identifying strengths and weaknesses, and plan next steps for further improvement</li>
                        </ul>

                        <h3 id="skills-that-help-build-effective-working-relationships">Skills that help build effective working relationships</h3>

                        <p>An NQT needs to be able to:</p>

                        <ul>
                          <li>contribute to whole school culture by helping develop a sense of shared responsibility for improving the lives of all pupils within the school</li>
                          <li>identify ways to support colleagues and work together as a team&nbsp;</li>
                          <li>engage parents and carers in their child’s schooling by proactively communicating with them for example at parents’ evenings&nbsp;</li>
                          <li>work closely with the SENCO and other professionals to support pupils with additional needs, identify links between interventions delivered outside of lessons with classroom teaching&nbsp;</li>
                          <li>share lesson outcomes with teaching assistants and help them to prepare</li>
                          <li>make sure that teaching assistant are confident and prepared to support the teacher in lessons</li>
                          <li>know who to contact with any safeguarding concerns&nbsp;</li>
                        </ul>

                        <h3 id="skills-that-help-manage-workload-and-wellbeing">Skills that help manage workload and wellbeing</h3>

                        <p>An NQT needs to be able to:</p>

                        <ul>
                          <li>create and develop routines to support time and task management and personalise systems to help with this</li>
                          <li>understand how to get the right support, for example how to manage poor behaviour</li>
                          <li>collaborate with colleagues to plan lessons and make use of shared resources, for example textbooks</li>
                          <li>look after their health and wellbeing by allowing time for rest and recovery</li>
                        </ul>

                        <h2 id="resources">Resources</h2>

                        <p>Useful ideas and exercises you can use to train and support NQTs.</p>

                        <p><a href="/guidance/ask-for-challenge-and-feedback-from-mentors-and-other-colleagues">Ask for challenge and feedback from mentors and other colleagues</a></p>

                        <p><a href="/guidance/supporting-nqts-and-teachers-with-work-life-balance">Supporting NQTs and teachers with work-life balance</a></p>
                      </div>
                    </div>
                  </div>

                </div>

                <div data-sticky-element="" class="govuk-sticky-element govuk-sticky-element--hidden govuk-sticky-element--stuck-to-window govuk-sticky-element--enabled">
                  <a class="app-c-back-to-top dont-print" href="#contents">
                    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                    </svg>
                    Contents
                  </a>

                </div>
              </div>

            </main>

            <div class="gem-c-feedback gem-c-feedback--top-margin" data-module="feedback">

              <div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">
                <div class="gem-c-feedback__js-prompt-questions js-prompt-questions">
                  <h2 class="gem-c-feedback__prompt-question">Is this page useful?</h2>

                  <a class="gem-c-feedback__prompt-link" data-track-category="yesNoFeedbackForm" data-track-action="ffMaybeClick" aria-expanded="false" role="button" style="display: none;" hidden="hidden" aria-hidden="true" href="/contact/govuk">
                    Maybe
                  </a>
                  <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--useful js-page-is-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffYesClick" aria-expanded="false" role="button" href="/contact/govuk">
                    Yes <span class="visually-hidden">this page is useful</span>
                  </a>
                  <a class="gem-c-feedback__prompt-link js-toggle-form js-page-is-not-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffNoClick" aria-controls="page-is-not-useful" aria-expanded="false" role="button" href="/contact/govuk">
                    No <span class="visually-hidden">this page is not useful</span>
                  </a>
                  <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--wrong js-toggle-form js-something-is-wrong" data-track-category="Onsite Feedback" data-track-action="GOV.UK Open Form" aria-controls="something-is-wrong" aria-expanded="false" role="button" href="/contact/govuk">
                    Is there anything wrong with this page?
                  </a>  </div>

                  <div class="gem-c-feedback__prompt-success js-prompt-success js-hidden" tabindex="-1">
                    Thank you for your feedback
                  </div>
                </div>

                <form action="/contact/govuk/problem_reports" id="something-is-wrong" class="gem-c-feedback__form js-feedback-form js-hidden" data-track-category="Onsite Feedback" data-track-action="GOV.UK Send Form" method="post" aria-hidden="true">
                  <a href="#" class="gem-c-feedback__close gem-c-feedback__js-show js-close-form" data-track-category="Onsite Feedback" data-track-action="GOV.UK Close Form" aria-controls="something-is-wrong" aria-expanded="true" role="button">Close</a>

                  <div class="gem-c-feedback__grid-row gem-c-feedback__survey-container">
                    <div class="gem-c-feedback__column-two-thirds">
                      <div class="gem-c-feedback__error-summary gem-c-feedback__js-show js-hidden js-errors" tabindex="-1"></div>

                      <input type="hidden" name="url" value="https://www.integration.publishing.service.gov.uk/government/publications/supporting-early-career-teachers--2/fulfil-wider-professional-responsibilities">

                      <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
                      <p id="feedback_explanation" class="gem-c-feedback__form-paragraph">Don’t include personal or financial information like your National Insurance number or credit card details.</p>


                      <div class="govuk-form-group">

                        <label for="input-fd47634a" class="gem-c-label govuk-label">
                          What were you doing?
                        </label>




                        <input name="what_doing" class="gem-c-input govuk-input" id="input-fd47634a" type="text" aria-describedby="feedback_explanation">
                      </div>


                      <div class="govuk-form-group">

                        <label for="input-baf2fb42" class="gem-c-label govuk-label">
                          What went wrong?
                        </label>




                        <input name="what_wrong" class="gem-c-input govuk-input" id="input-baf2fb42" type="text">
                      </div>


                      <button class="gem-c-button govuk-button" type="submit">Send</button>


                    </div>
                  </div>
                  <input type="hidden" name="javascript_enabled" value="true"><input type="hidden" name="referrer" value="https://www.integration.publishing.service.gov.uk/government/publications/supporting-early-career-teachers--2"></form>

                  <form action="/contact/govuk/email-survey-signup" id="page-is-not-useful" class="gem-c-feedback__form gem-c-feedback__form--email gem-c-feedback__js-show js-feedback-form js-hidden" data-track-category="yesNoFeedbackForm" data-track-action="Send Form" method="post" aria-hidden="true">
                    <a href="#" class="gem-c-feedback__close js-close-form" data-track-category="yesNoFeedbackForm" data-track-action="ffFormClose" aria-controls="page-is-not-useful" aria-expanded="true" role="button">Close</a>

                    <div class="gem-c-feedback__grid-row gem-c-feedback__survey-container">
                      <div class="gem-c-feedback__column-two-thirds" id="survey-wrapper">
                        <div class="gem-c-feedback__error-summary js-hidden js-errors" tabindex="-1"></div>

                        <input name="email_survey_signup[survey_id]" type="hidden" value="footer_satisfaction_survey">
                        <input name="email_survey_signup[survey_source]" type="hidden" value="/government/publications/supporting-early-career-teachers--2/fulfil-wider-professional-responsibilities">

                        <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
                        <p id="survey_explanation" class="gem-c-feedback__form-paragraph">To help us improve GOV.UK, we’d like to know more about your visit today. We’ll send you a link to a feedback form. It will take only 2 minutes to fill in. Don’t worry we won’t send you spam or share your email address with anyone.</p>


                        <div class="govuk-form-group">

                          <label for="input-23f2959c" class="gem-c-label govuk-label">
                            Email address
                          </label>




                          <input name="email_survey_signup[email_address]" class="gem-c-input govuk-input" id="input-23f2959c" type="email" autocomplete="email" aria-describedby="survey_explanation">
                        </div>


                        <button class="gem-c-button govuk-button" type="submit">Send me the survey</button>


                      </div>
                    </div>
                  </form>

                </div>
