<% content_for :title, "Using technology to aid school improvement - GOV.UK" %>



<div class="gem-c-contextual-breadcrumbs">



  <div class="gem-c-breadcrumbs govuk-breadcrumbs " data-module="track-click">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" aria-current="false" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/education" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Education, training and skills&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/education">Education, training and skills</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="/education/teaching-and-leadership" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Teaching and leadership&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/education/teaching-and-leadership">Teaching and leadership</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="4" data-track-label="/education/teacher-training-and-professional-development" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Teacher training and professional development&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/education/teacher-training-and-professional-development">Teacher training and professional development</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="5" data-track-label="/education/school-leadership" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;School leadership&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/education/school-leadership">School leadership</a>
      </li>
    </ol>
  </div>


</div>


<main role="main" id="content" class="detailed-guide" lang="en">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
        <p class="gem-c-title__context">
          Guidance
        </p>
        <h1 class="gem-c-title__text gem-c-title__text--long">
          Using technology to aid school improvement
        </h1>
      </div>
    </div>

    <div class="govuk-grid-column-two-thirds">

      <p class="gem-c-lead-paragraph ">
        How Cam Everlands Primary School introduced new technology to help teach the curriculum, engage pupils and reduce teacher workload.
      </p>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="metadata-logo-wrapper">
      <div class="govuk-grid-column-two-thirds metadata-column">
        <div class="app-c-publisher-metadata" lang="en">
          <div class="app-c-published-dates " lang="en">
            Published 23 July 2019
          </div>

          <div class="app-c-publisher-metadata__other">
            <dl data-module="track-click">
              <dt class="app-c-publisher-metadata__term">
                From:
              </dt>
              <dd class="app-c-publisher-metadata__definition" data-module="gem-toggle">
                <span class="app-c-publisher-metadata__definition-sentence">
                  <a href="/government/organisations/government-digital-service">Government Digital Service</a>
                </span>
              </dd>
            </dl>
          </div>
        </div>

      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </div>




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <div id="contents" class="app-c-contents-list-with-body" data-module="sticky-element-container">
        <div class="responsive-bottom-margin">
          <nav role="navigation" class="gem-c-contents-list gem-c-contents-list--no-underline " data-module="track-click">
            <h2 class="gem-c-contents-list__title">Contents</h2>

            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="#technology-strategy-at-a-glance" data-track-options="{&quot;dimension29&quot;:&quot;Technology strategy at a glance&quot;}" href="#technology-strategy-at-a-glance">Technology strategy at a glance</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#impact-on-teacher-workload" data-track-options="{&quot;dimension29&quot;:&quot;Impact on teacher workload&quot;}" href="#impact-on-teacher-workload">Impact on teacher workload</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#recommendations" data-track-options="{&quot;dimension29&quot;:&quot;Recommendations&quot;}" href="#recommendations">Recommendations</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 4" data-track-label="#further-information" data-track-options="{&quot;dimension29&quot;:&quot;Further information&quot;}" href="#further-information">Further information</a>
              </li>
            </ol>
          </nav>

        </div>


        <div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak">
          <div class="govspeak">
            <figure class="image embedded"><div class="img"><img src="https://assets.integration.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/89960/everlands.jpg" alt="everlands"></div></figure>

            <p>Cam Everlands Primary School is a local authority maintained community school.</p>

            <p>Having seen how other schools benefitted from using technology, it wanted to explore how technology could help it deal with key challenges.</p>

            <figure class="image embedded"><div class="img"><img src="https://assets.integration.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/89961/laptop-with-hand.jpeg" alt="laptop with hand"></div></figure>

            <h2 id="technology-strategy-at-a-glance">Technology strategy at a glance</h2>

            <p>The school wanted to:</p>

            <ul>
              <li>use technology to support school improvement, particularly in maths, reading and writing</li>
              <li>reduce workload by helping teachers deliver the curriculum and engaging pupils</li>
            </ul>

            <h3 id="equipment-and-software">Equipment and software</h3>

            <ul>
              <li>Cam Everlands provides a laptop and tablet to every teacher</li>
              <li>they currently have a 1:1 laptop strategy for pupils in years 5 and 6</li>
              <li>other classes share laptops and a handful of tablets</li>
              <li>years 4 to 6 use tools within Office 365, including OneNote, Word and PowerPoint</li>
              <li>all classrooms are equipped with touch screens and visualisers that act as teaching aids</li>
            </ul>

            <h3 id="introducing-technology">Introducing technology</h3>

            <p>Some teachers were wary of using technology for teaching, so the ICT leader introduced an online bank of teaching resources mapped to the curriculum.</p>

            <p>This was deemed to be, ‘teacher friendly and helped teachers who were scared to use tech.’</p>

            <p>The school now offers digital CPD sessions for staff and parents, on how to safely use specific tools like ParentPay.</p>

            <p>The leadership team encourages staff to use whatever technology they feel aligns to their individual teaching styles.</p>

            <h3 id="choosing-new-tools">Choosing new tools</h3>

            <p>To get information about new education technology developments and new tools, the ICT lead:</p>

            <ul>
              <li>uses Twitter to get information, because it has a wide network of teachers using technology for teaching and learning</li>
              <li>talks to other schools using the technology, and to teachers within the school, before choosing a new product</li>
              <li>only pays for products and services if the school can find a specific purpose for them</li>
              <li>tries to stick to tools that are free</li>
            </ul>

            <figure class="image embedded"><div class="img"><img src="https://assets.integration.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/89962/three-woman-near-laptops.jpeg" alt="three woman near laptops"></div></figure>

            <h2 id="impact-on-teacher-workload">Impact on teacher workload</h2>

            <p>Staff use OneNote and shared Word documents for meetings, ensuring a collaborative and inclusive approach where all staff can contribute, even if they are unable to attend.</p>

            <p>This is useful for:</p>

            <ul>
              <li>part-time teachers who use these documents to share thoughts and ‘play catch up’</li>
              <li>staff who job share as they can communicate and collaborate with colleagues remotely</li>
            </ul>

            <h3 id="feedback-and-assessment">Feedback and assessment</h3>

            <p>Teachers use an online learning journal, Tapestry, where staff can collect observations quickly and in real-time – for their early years and SEND children. As well as allowing teachers to monitor progress efficiently, Tapestry is used for communication between staff and parents.</p>

            <p>Pupils use Office 365 tools to complete their work, allowing teachers to save and record the pupils’ work digitally throughout the school year.</p>

            <p>The school holds small reporting sessions per term, rather than writing end of year reports. This saves teachers time and allows them to get to know and understand their pupils better.</p>

            <h3 id="lesson-planning">Lesson planning</h3>

            <p>The school uses digital resources to help deliver English and maths:</p>

            <ul>
              <li>Rising Stars, an online bank of resources and assessments mapped to the curriculum, to help them plan for all subjects including computing, mathematics and PE</li>
              <li>Classroom Secrets, which has a bank of differentiated resources for key stage 1 and key stage 2 that teachers can adapt to match their needs</li>
              <li>White Rose scheme for maths, which comes with a comprehensive range of free digital resources for all primary year groups, meaning teachers spend less time planning</li>
              <li>Teach Your Monster, a phonics and reading app, has helped the school engage reluctant readers. The percentage of children achieving the expected standard in phonics is now above both the local and national average</li>
            </ul>

            <figure class="image embedded"><div class="img"><img src="https://assets.integration.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/89963/two-woman-sitting.jpeg" alt="two woman sitting"></div></figure>

            <h2 id="recommendations">Recommendations</h2>

            <p>Do not force technology on teachers – the strategy has to be collaborative.</p>

            <p>Budget strategically for new technology and implement gradually.</p>

            <p>Look at where it has succeeded in other schools.</p>

            <h2 id="further-information">Further information</h2>

            <p>Contact: Susan Avis, headteacher, at <a href="mailto:head@cameverlands.org.uk">head@cameverlands.org.uk</a>.</p>
          </div>
        </div>


        <div class="responsive-bottom-margin">
          <div class="app-c-published-dates " lang="en">
            Published 23 July 2019
          </div>

        </div>

        <div data-sticky-element="" class="app-c-contents-list-with-body__link-wrapper govuk-sticky-element--hidden govuk-sticky-element--stuck-to-window govuk-sticky-element--enabled">
          <div class="app-c-contents-list-with-body__link-container">
            <a class="app-c-back-to-top dont-print" href="#contents">
              <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
              </svg>
              Contents
            </a>

          </div>
        </div>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">

      <div class="gem-c-contextual-sidebar">




      </div>

    </div>

  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="gem-c-contextual-footer">

        <div class="gem-c-related-navigation">





          <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-topics-01ce5fbc" data-module="gem-toggle">

            <h2 id="related-nav-topics-01ce5fbc" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer" data-track-count="footerRelatedItemSection">Explore the topic</h2>

            <ul class="gem-c-related-navigation__link-list" data-module="track-click">


              <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" data-track-category="relatedLinkClicked" data-track-action="1.1 Explore the topic" data-track-label="/education/school-leadership" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;School leadership&quot;}" href="/education/school-leadership">School leadership</a></li>

            </ul>
          </nav>

        </div>

      </div>


    </div>
  </div>


</main>

<div class="gem-c-feedback gem-c-feedback--top-margin" data-module="feedback">

  <div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">
    <div class="gem-c-feedback__js-prompt-questions js-prompt-questions">
      <h2 class="gem-c-feedback__prompt-question">Is this page useful?</h2>

      <a class="gem-c-feedback__prompt-link" data-track-category="yesNoFeedbackForm" data-track-action="ffMaybeClick" aria-expanded="false" role="button" style="display: none;" hidden="hidden" aria-hidden="true" href="/contact/govuk">
        Maybe
      </a>
      <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--useful js-page-is-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffYesClick" aria-expanded="false" role="button" href="/contact/govuk">
        Yes <span class="visually-hidden">this page is useful</span>
      </a>
      <a class="gem-c-feedback__prompt-link js-toggle-form js-page-is-not-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffNoClick" aria-controls="page-is-not-useful" aria-expanded="false" role="button" href="/contact/govuk">
        No <span class="visually-hidden">this page is not useful</span>
      </a>
      <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--wrong js-toggle-form js-something-is-wrong" data-track-category="Onsite Feedback" data-track-action="GOV.UK Open Form" aria-controls="something-is-wrong" aria-expanded="false" role="button" href="/contact/govuk">
        Is there anything wrong with this page?
      </a>  </div>

      <div class="gem-c-feedback__prompt-success js-prompt-success js-hidden" tabindex="-1">
        Thank you for your feedback
      </div>
    </div>

    <form action="/contact/govuk/problem_reports" id="something-is-wrong" class="gem-c-feedback__form js-feedback-form js-hidden" data-track-category="Onsite Feedback" data-track-action="GOV.UK Send Form" method="post" aria-hidden="true">
      <a href="#" class="gem-c-feedback__close gem-c-feedback__js-show js-close-form" data-track-category="Onsite Feedback" data-track-action="GOV.UK Close Form" aria-controls="something-is-wrong" aria-expanded="true" role="button">Close</a>

      <div class="gem-c-feedback__grid-row gem-c-feedback__survey-container">
        <div class="gem-c-feedback__column-two-thirds">
          <div class="gem-c-feedback__error-summary gem-c-feedback__js-show js-hidden js-errors" tabindex="-1"></div>

          <input type="hidden" name="url" value="https://www.integration.publishing.service.gov.uk/guidance/using-technology-to-aid-school-improvement">

          <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
          <p id="feedback_explanation" class="gem-c-feedback__form-paragraph">Don’t include personal or financial information like your National Insurance number or credit card details.</p>


          <div class="govuk-form-group">

            <label for="input-a991b90f" class="gem-c-label govuk-label">
              What were you doing?
            </label>




            <input name="what_doing" class="gem-c-input govuk-input" id="input-a991b90f" type="text" aria-describedby="feedback_explanation">
          </div>


          <div class="govuk-form-group">

            <label for="input-be2bb800" class="gem-c-label govuk-label">
              What went wrong?
            </label>




            <input name="what_wrong" class="gem-c-input govuk-input" id="input-be2bb800" type="text">
          </div>


          <button class="gem-c-button govuk-button" type="submit">Send</button>


        </div>
      </div>
      <input type="hidden" name="javascript_enabled" value="true"><input type="hidden" name="referrer" value="https://www.integration.publishing.service.gov.uk/government/publications/supporting-early-career-teachers--2/adaptive-teaching"></form>

      <form action="/contact/govuk/email-survey-signup" id="page-is-not-useful" class="gem-c-feedback__form gem-c-feedback__form--email gem-c-feedback__js-show js-feedback-form js-hidden" data-track-category="yesNoFeedbackForm" data-track-action="Send Form" method="post" aria-hidden="true">
        <a href="#" class="gem-c-feedback__close js-close-form" data-track-category="yesNoFeedbackForm" data-track-action="ffFormClose" aria-controls="page-is-not-useful" aria-expanded="true" role="button">Close</a>

        <div class="gem-c-feedback__grid-row gem-c-feedback__survey-container">
          <div class="gem-c-feedback__column-two-thirds" id="survey-wrapper">
            <div class="gem-c-feedback__error-summary js-hidden js-errors" tabindex="-1"></div>

            <input name="email_survey_signup[survey_id]" type="hidden" value="footer_satisfaction_survey">
            <input name="email_survey_signup[survey_source]" type="hidden" value="/guidance/using-technology-to-aid-school-improvement">

            <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
            <p id="survey_explanation" class="gem-c-feedback__form-paragraph">To help us improve GOV.UK, we’d like to know more about your visit today. We’ll send you a link to a feedback form. It will take only 2 minutes to fill in. Don’t worry we won’t send you spam or share your email address with anyone.</p>


            <div class="govuk-form-group">

              <label for="input-5291ad42" class="gem-c-label govuk-label">
                Email address
              </label>




              <input name="email_survey_signup[email_address]" class="gem-c-input govuk-input" id="input-5291ad42" type="email" autocomplete="email" aria-describedby="survey_explanation">
            </div>


            <button class="gem-c-button govuk-button" type="submit">Send me the survey</button>


          </div>
        </div>
      </form>

    </div>
