<% content_for :title, "Supporting NQTs and teachers with work-life balance - GOV.UK" %>




<div class="gem-c-contextual-breadcrumbs">



  <div class="gem-c-breadcrumbs govuk-breadcrumbs " data-module="track-click">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" aria-current="false" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/education" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Education, training and skills&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/education">Education, training and skills</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="/education/teaching-and-leadership" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Teaching and leadership&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/education/teaching-and-leadership">Teaching and leadership</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="4" data-track-label="/education/teacher-training-and-professional-development" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Teacher training and professional development&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/education/teacher-training-and-professional-development">Teacher training and professional development</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="5" data-track-label="/education/school-leadership" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;School leadership&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/education/school-leadership">School leadership</a>
      </li>
    </ol>
  </div>


</div>


<main role="main" id="content" class="detailed-guide" lang="en">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
        <p class="gem-c-title__context">
          Guidance
        </p>
        <h1 class="gem-c-title__text gem-c-title__text--long">
          Supporting NQTs and teachers with work-life balance
        </h1>
      </div>
    </div>

    <div class="govuk-grid-column-two-thirds">

      <p class="gem-c-lead-paragraph ">
        How the Bridges Federation supports early career teachers, and helps them manage their workload and develop their practice.
      </p>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="metadata-logo-wrapper">
      <div class="govuk-grid-column-two-thirds metadata-column">
        <div class="app-c-publisher-metadata" lang="en">
          <div class="app-c-published-dates " lang="en">
            Published 23 July 2019
          </div>

          <div class="app-c-publisher-metadata__other">
            <dl data-module="track-click">
              <dt class="app-c-publisher-metadata__term">
                From:
              </dt>
              <dd class="app-c-publisher-metadata__definition" data-module="gem-toggle">
                <span class="app-c-publisher-metadata__definition-sentence">
                  <a href="/government/organisations/government-digital-service">Government Digital Service</a>
                </span>
              </dd>
            </dl>
          </div>
        </div>

      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </div>




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <div id="contents" class="app-c-contents-list-with-body" data-module="sticky-element-container">
        <div class="responsive-bottom-margin">
          <nav role="navigation" class="gem-c-contents-list gem-c-contents-list--no-underline " data-module="track-click">
            <h2 class="gem-c-contents-list__title">Contents</h2>

            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="#induction-sessions" data-track-options="{&quot;dimension29&quot;:&quot;Induction sessions&quot;}" href="#induction-sessions">Induction sessions</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#first-inset-day" data-track-options="{&quot;dimension29&quot;:&quot;First INSET day&quot;}" href="#first-inset-day">First INSET day</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#planning-for-the-year-ahead" data-track-options="{&quot;dimension29&quot;:&quot;Planning for the year ahead&quot;}" href="#planning-for-the-year-ahead">Planning for the year ahead</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 4" data-track-label="#planning-preparation-and-assessment-ppa-time" data-track-options="{&quot;dimension29&quot;:&quot;Planning, preparation and assessment (PPA) time&quot;}" href="#planning-preparation-and-assessment-ppa-time">Planning, preparation and assessment (PPA) time</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 5" data-track-label="#allocated-mentors" data-track-options="{&quot;dimension29&quot;:&quot;Allocated mentors&quot;}" href="#allocated-mentors">Allocated mentors</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 6" data-track-label="#training" data-track-options="{&quot;dimension29&quot;:&quot;Training&quot;}" href="#training">Training</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 7" data-track-label="#meetings" data-track-options="{&quot;dimension29&quot;:&quot;Meetings&quot;}" href="#meetings">Meetings</a>
              </li>
            </ol>
          </nav>

        </div>


        <div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak">
          <div class="govspeak">
            <figure class="image embedded"><div class="img"><img src="https://assets.integration.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/89969/happy-in-meeting.jpg" alt="happy in meeting"></div></figure>

            <p>The Bridges Federation, which consists of 2 primary schools in Southwark, has used the following procedures to help new staff settle in and develop their skills.</p>

            <h2 id="induction-sessions">Induction sessions</h2>

            <p>All new teachers attend an induction session before they start. Newly qualified teachers (NQTs) usually spend 2 days with the Bridges Federation at the end of the summer term, where they:</p>

            <ul>
              <li>meet their new class</li>
              <li>attend an introduction with a mentor</li>
              <li>receive an induction pack and a memory stick or flash drive that includes all the documents and proformas they need</li>
              <li>have time to talk to other teachers at different stages of their careers</li>
              <li>During their first induction meeting, teachers have an opportunity to share their training experiences and discuss targets for their first action plan.</li>
            </ul>

            <figure class="image embedded"><div class="img"><img src="https://assets.integration.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/89970/meeting-participents.jpg" alt="meeting participants"></div></figure>

            <h2 id="first-inset-day">First INSET day</h2>

            <p>The Bridges Federation runs its first INSET day in September as an induction for all staff. It includes:</p>

            <ul>
              <li>time to talk through and familiarise new staff with important school policies, including:
                <ul>
                  <li>safeguarding</li>
                  <li>inclusion</li>
                  <li>behaviour</li>
                  <li>health and safety</li>
                  <li>time for NQTs to meet their mentor and go over important information and planning an afternoon for time in class to prepare resources and plan ahead</li>
                </ul>
              </li>
            </ul>

            <figure class="image embedded"><div class="img"><img src="https://assets.integration.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/89971/team-meeting.jpg" alt="team meeting"></div></figure>

            <h2 id="planning-for-the-year-ahead">Planning for the year ahead</h2>

            <p>The Bridges Federation gives teachers year planners in September, and termly planners at the beginning of each term, so they’re aware of important dates and can plan ahead for deadlines.</p>

            <p>The Bridges Federation also meets with NQTs to help them prepare before events take place, such as:</p>

            <ul>
              <li>progress meetings</li>
              <li>book looks</li>
            </ul>

            <p>One NQT reported:</p>

            <p>“small group book looks in preparation for formal book looks, was helpful”</p>

            <ul>
              <li>getting ideas from other teachers in terms of marking</li>
              <li>seeing unit posters and presentation of children’s work</li>
              <li>understanding how the leadership team will look at and for pupil progress</li>
            </ul>

            <p>To help reduce workload, the Bridges Federation saves all planning work on its network, so that teachers can use and adapt it for their current class.</p>

            <p>The Bridges Federation does not directly monitor planning and encourage teachers, including those with less experience, to do as much or as little as they feel is helpful for them.</p>

            <p>It has reviewed its marking policy, and it now includes guidance on delivering different forms of feedback such as verbal feedback. These policies help to reduce workload.</p>

            <figure class="image embedded"><div class="img"><img src="https://assets.integration.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/89972/placing-a-postit-note.jpg" alt="placing a postit note"></div></figure>

            <h2 id="planning-preparation-and-assessment-ppa-time">Planning, preparation and assessment (PPA) time</h2>

            <p>Teachers have PPA time in year groups, so they can share planning and preparation. NQTs have a whole day on Friday to access the local authority provision.</p>

            <p>By having a whole day for school-based induction, teachers can plan their time carefully, so they can carry out a range of induction activities as well as having time to plan with others.</p>

            <p>All teachers can take their PPA off-site if they prefer to do this, allowing them to be flexible with their time and manage their own workload.</p>

            <figure class="image embedded"><div class="img"><img src="https://assets.integration.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/89973/two-women-with-laptop.jpeg" alt="two women with laptop"></div></figure>

            <h2 id="allocated-mentors">Allocated mentors</h2>

            <p>Each teacher has an allocated member of the leadership team as their mentor who works with them over the year to:</p>

            <ul>
              <li>support their development</li>
              <li>carry out observations</li>
            </ul>

            <p>This means the Bridges Federation can tailor support to individual needs and each teacher’s level of experience, including:</p>

            <ul>
              <li>observation and feedback</li>
              <li>lesson planning or longer term planning</li>
              <li>work scrutiny</li>
              <li>peer observation and feedback</li>
              <li>developing displays or working wall</li>
              <li>specific support for a group of children</li>
            </ul>

            <p>The Bridges Federation also provides support to help teachers looks at ways to reduce workload issues, for example with planning and marking.</p>

            <p>NQTs have found tailored feedback on the peer observation useful:</p>

            <p>“seeing my lesson from another perspective, noticing how our interpretation of joint planning differs and observing the effective teaching strategies used by my partner teacher was really useful.”</p>

            <p>They’ve also found observing other teachers helpful:</p>

            <p>“the maths lesson provided me with lots of ideas for deepening questioning and getting children to justify their ideas.”</p>

            <figure class="image embedded"><div class="img"><img src="https://assets.integration.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/89974/smiling-woman.jpeg" alt="smiling woman"></div></figure>

            <h2 id="training">Training</h2>

            <p>The school continuous professional development (CPD) programme has different layers linked to:</p>

            <ul>
              <li>school priorities</li>
              <li>individual needs which are identified through appraisal</li>
            </ul>

            <p>This helps the Bridges Federation meet the needs of teachers at different stages of their careers.</p>

            <p>Teachers join a curriculum team that they identify, based on their expertise and interest.</p>

            <p>This contributes to their CPD and also gives them a different network to share experiences with.</p>

            <figure class="image embedded"><div class="img"><img src="https://assets.integration.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/89976/woman-placing-postit-note.jpeg" alt="woman placing postit note"></div></figure>

            <h2 id="meetings">Meetings</h2>

            <p>The Bridges Federation plans staff meetings carefully and only allocates them when necessary.</p>

            <p>This means that, when other meetings are taking place after school - such as pupil progress meetings - other staff do not have a meeting to attend.</p>

            <p>Staff meetings have set times and do not overrun.</p>
          </div>
        </div>


        <div class="responsive-bottom-margin">
          <div class="app-c-published-dates " lang="en">
            Published 23 July 2019
          </div>

        </div>

        <div data-sticky-element="" class="app-c-contents-list-with-body__link-wrapper govuk-sticky-element--hidden govuk-sticky-element--stuck-to-window govuk-sticky-element--enabled">
          <div class="app-c-contents-list-with-body__link-container">
            <a class="app-c-back-to-top dont-print" href="#contents">
              <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
              </svg>
              Contents
            </a>

          </div>
        </div>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">

      <div class="gem-c-contextual-sidebar">




      </div>

    </div>

  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="gem-c-contextual-footer">

        <div class="gem-c-related-navigation">





          <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-topics-be2051e7" data-module="gem-toggle">

            <h2 id="related-nav-topics-be2051e7" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer" data-track-count="footerRelatedItemSection">Explore the topic</h2>

            <ul class="gem-c-related-navigation__link-list" data-module="track-click">


              <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" data-track-category="relatedLinkClicked" data-track-action="1.1 Explore the topic" data-track-label="/education/school-leadership" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;School leadership&quot;}" href="/education/school-leadership">School leadership</a></li>

            </ul>
          </nav>

        </div>

      </div>


    </div>
  </div>


</main>

<div class="gem-c-feedback gem-c-feedback--top-margin" data-module="feedback">

  <div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">
    <div class="gem-c-feedback__js-prompt-questions js-prompt-questions">
      <h2 class="gem-c-feedback__prompt-question">Is this page useful?</h2>

      <a class="gem-c-feedback__prompt-link" data-track-category="yesNoFeedbackForm" data-track-action="ffMaybeClick" aria-expanded="false" role="button" style="display: none;" hidden="hidden" aria-hidden="true" href="/contact/govuk">
        Maybe
      </a>
      <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--useful js-page-is-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffYesClick" aria-expanded="false" role="button" href="/contact/govuk">
        Yes <span class="visually-hidden">this page is useful</span>
      </a>
      <a class="gem-c-feedback__prompt-link js-toggle-form js-page-is-not-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffNoClick" aria-controls="page-is-not-useful" aria-expanded="false" role="button" href="/contact/govuk">
        No <span class="visually-hidden">this page is not useful</span>
      </a>
      <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--wrong js-toggle-form js-something-is-wrong" data-track-category="Onsite Feedback" data-track-action="GOV.UK Open Form" aria-controls="something-is-wrong" aria-expanded="false" role="button" href="/contact/govuk">
        Is there anything wrong with this page?
      </a>  </div>

      <div class="gem-c-feedback__prompt-success js-prompt-success js-hidden" tabindex="-1">
        Thank you for your feedback
      </div>
    </div>

    <form action="/contact/govuk/problem_reports" id="something-is-wrong" class="gem-c-feedback__form js-feedback-form js-hidden" data-track-category="Onsite Feedback" data-track-action="GOV.UK Send Form" method="post" aria-hidden="true">
      <a href="#" class="gem-c-feedback__close gem-c-feedback__js-show js-close-form" data-track-category="Onsite Feedback" data-track-action="GOV.UK Close Form" aria-controls="something-is-wrong" aria-expanded="true" role="button">Close</a>

      <div class="gem-c-feedback__grid-row gem-c-feedback__survey-container">
        <div class="gem-c-feedback__column-two-thirds">
          <div class="gem-c-feedback__error-summary gem-c-feedback__js-show js-hidden js-errors" tabindex="-1"></div>

          <input type="hidden" name="url" value="https://www.integration.publishing.service.gov.uk/guidance/supporting-nqts-and-teachers-with-work-life-balance">

          <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
          <p id="feedback_explanation" class="gem-c-feedback__form-paragraph">Don’t include personal or financial information like your National Insurance number or credit card details.</p>


          <div class="govuk-form-group">

            <label for="input-0ec97281" class="gem-c-label govuk-label">
              What were you doing?
            </label>




            <input name="what_doing" class="gem-c-input govuk-input" id="input-0ec97281" type="text" aria-describedby="feedback_explanation">
          </div>


          <div class="govuk-form-group">

            <label for="input-44d86162" class="gem-c-label govuk-label">
              What went wrong?
            </label>




            <input name="what_wrong" class="gem-c-input govuk-input" id="input-44d86162" type="text">
          </div>


          <button class="gem-c-button govuk-button" type="submit">Send</button>


        </div>
      </div>
      <input type="hidden" name="javascript_enabled" value="true"><input type="hidden" name="referrer" value="https://www.integration.publishing.service.gov.uk/government/publications/supporting-early-career-teachers--2/fulfil-wider-professional-responsibilities"></form>

      <form action="/contact/govuk/email-survey-signup" id="page-is-not-useful" class="gem-c-feedback__form gem-c-feedback__form--email gem-c-feedback__js-show js-feedback-form js-hidden" data-track-category="yesNoFeedbackForm" data-track-action="Send Form" method="post" aria-hidden="true">
        <a href="#" class="gem-c-feedback__close js-close-form" data-track-category="yesNoFeedbackForm" data-track-action="ffFormClose" aria-controls="page-is-not-useful" aria-expanded="true" role="button">Close</a>

        <div class="gem-c-feedback__grid-row gem-c-feedback__survey-container">
          <div class="gem-c-feedback__column-two-thirds" id="survey-wrapper">
            <div class="gem-c-feedback__error-summary js-hidden js-errors" tabindex="-1"></div>

            <input name="email_survey_signup[survey_id]" type="hidden" value="footer_satisfaction_survey">
            <input name="email_survey_signup[survey_source]" type="hidden" value="/guidance/supporting-nqts-and-teachers-with-work-life-balance">

            <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
            <p id="survey_explanation" class="gem-c-feedback__form-paragraph">To help us improve GOV.UK, we’d like to know more about your visit today. We’ll send you a link to a feedback form. It will take only 2 minutes to fill in. Don’t worry we won’t send you spam or share your email address with anyone.</p>


            <div class="govuk-form-group">

              <label for="input-9568f4c5" class="gem-c-label govuk-label">
                Email address
              </label>




              <input name="email_survey_signup[email_address]" class="gem-c-input govuk-input" id="input-9568f4c5" type="email" autocomplete="email" aria-describedby="survey_explanation">
            </div>


            <button class="gem-c-button govuk-button" type="submit">Send me the survey</button>


          </div>
        </div>
      </form>

    </div>
