<% content_for :title, "Promote good progress - GOV.UK" %>

<div class="gem-c-contextual-breadcrumbs">
  <div class="gem-c-breadcrumbs govuk-breadcrumbs " data-module="track-click">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" aria-current="false" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/government/publications/supporting-early-career-teachers--2" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;Supporting early career teachers&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/government/publications/supporting-early-career-teachers--2">Supporting early career teachers</a>
      </li>
    </ol>
  </div>
</div>


<main role="main" id="content" class="html-publication" lang="en">
  <div class="govuk-grid-row publication-external">
    <ol class="govuk-grid-column-one-quarter organisation-logos">
      <li class="organisation-logo">
        <div class="gem-c-organisation-logo brand--cabinet-office">
          <a class="gem-c-organisation-logo__container gem-c-organisation-logo__link gem-c-organisation-logo__crest gem-c-organisation-logo__crest--single-identity brand__border-color" href="/government/organisations/government-digital-service">
            <span class="gem-c-organisation-logo__name">Government Digital Service</span>
          </a>
        </div>

      </li>
    </ol>
  </div>

  <header class="gem-c-inverse-header  gem-c-inverse-header--padding-top ">

    <div class="gem-c-title govuk-!-margin-top-8 gem-c-title--inverse govuk-!-margin-bottom-0">
      <p class="gem-c-title__context">
        Guidance
      </p>
      <h1 class="gem-c-title__text ">
        Promote good progress
      </h1>
    </div>
    <p class="publication-header__last-changed">Published 23 July 2019</p>

  </header>



  <div class="govuk-grid-row sidebar-with-body" data-module="sticky-element-container" id="contents">
    <div class="govuk-grid-column-one-quarter-from-desktop contents-list-container">
      <nav role="navigation" class="gem-c-contents-list gem-c-contents-list--no-underline " data-module="track-click">
        <h2 class="gem-c-contents-list__title">Contents</h2>

        <ol class="gem-c-contents-list__list">
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered ">
            <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="#what-a-newly-qualified-teacher-nqt-needs-to-learn" data-track-options="{&quot;dimension29&quot;:&quot;What a newly qualified teacher (NQT) needs to learn&quot;}" href="#what-a-newly-qualified-teacher-nqt-needs-to-learn">What a newly qualified teacher (NQT) needs to learn</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered ">
            <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#what-skills-an-nqt-needs-to-develop" data-track-options="{&quot;dimension29&quot;:&quot;What skills an NQT needs to develop&quot;}" href="#what-skills-an-nqt-needs-to-develop">What skills an NQT needs to develop</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered ">
            <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#case-studies" data-track-options="{&quot;dimension29&quot;:&quot;Case studies&quot;}" href="#case-studies">Case studies</a>
          </li>
        </ol>
      </nav>

    </div>

    <div class="print-wrapper">
      <div class="print-meta-data">
        <p>
          <img class="print-meta-data-licence" src="https://assets.integration.publishing.service.gov.uk/government-frontend/open-government-licence-min-e98134ae65ff5fe99a524d8c383350b3998f91c298dc24b36126e65f1656c578.png">
        </p>
        <p>
          © Crown copyright 2019
        </p>
        <p>
          This publication is licensed under the terms of the Open Government Licence v3.0 except where otherwise stated. To view this licence, visit <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">nationalarchives.gov.uk/doc/open-government-licence/version/3</a> or write to the Information Policy Team, The National Archives, Kew, London TW9 4DU, or email: <a href="mailto:psi@nationalarchives.gsi.gov.uk">psi@nationalarchives.gsi.gov.uk</a>.
        </p>
        <p>
          Where we have identified any third party copyright information you will need to obtain permission from the copyright holders concerned.
        </p>
        <p>
          This publication is available at https://www.integration.publishing.service.gov.uk/government/publications/supporting-early-career-teachers--2/promote-good-progress
        </p>



      </div>
    </div>

    <div class="main-content-container">
      <div class="gem-c-govspeak-html-publication">

        <div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak">
          <div class="govspeak">
            <figure class="image embedded"><div class="img"><img src="https://assets.integration.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/89936/smiling-woman__1_.jpeg" alt="smiling woman"></div></figure>

            <h2 id="what-a-newly-qualified-teacher-nqt-needs-to-learn">What a newly qualified teacher (NQT) needs to learn</h2>

            <p>There are 7 specific areas an NQT needs to learn and gain experience in.</p>

            <h3 id="lasting-change">
              <span class="number">1. </span> Lasting change</h3>

              <p>Pupils’ skills and understanding are shaped by how they learn. NQTs need to make sure that the way pupils learn has a lasting impact on their knowledge and understanding.</p>

              <h3 id="prior-knowledge">
                <span class="number">2. </span> Prior knowledge</h3>

                <p>How pupils learn is affected by what they’ve previously been taught. NQTs should try and get pupils to remember some important subject facts. Pupils who have the basic facts in their long-term memory are more likely to be able to learn more complex ideas.</p>

                <h3 id="managing-memory">
                  <span class="number">3. </span> Managing memory</h3>

                  <p>A pupil’s memory is an important factor in learning and their learning capabilities. There are 2 elements: working memory and long-term memory. NQTs should not overload the working memory, which is used to hold information that is being actively processed. The long-term memory is a knowledge store that changes as pupils learn and they can integrate new ideas with existing ones.</p>

                  <h3 id="preventing-misconceptions">
                    <span class="number">4. </span> Preventing misconceptions</h3>

                    <p>Pupils can develop misconceptions when their prior knowledge is weak. NQTs should introduce new learnings slowly to avoid content being misunderstood.</p>

                    <h3 id="using-purposeful-practice">
                      <span class="number">5. </span> Using purposeful practice</h3>

                      <p>Pupils need to remember what they have learnt in the classroom. To help pupils remember, NQTs can use regular purposeful practice of what has been taught previously.</p>

                      <h3 id="strengthening-memory-recall">
                        <span class="number">6. </span> Strengthening memory recall</h3>

                        <p>Pupils need to strengthen and use their memory recall skills as part of their learning. NQTs need to make sure their pupils can retrieve information and revisit ideas after a period.&nbsp;</p>

                        <h3 id="using-worked-examples">
                          <span class="number">7. </span> Using worked examples</h3>

                          <p>Leading pupils through a new process step-by-step supports and help them remember what they’ve learnt. NQTs should introduce new topics and processes slowly and teach them one step at a time.</p>

                          <figure class="image embedded"><div class="img"><img src="https://assets.integration.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/89935/standard_2b.png" alt="standard 2b"></div></figure>

                          <h2 id="what-skills-an-nqt-needs-to-develop">What skills an NQT needs to develop</h2>

                          <p>To help NQTs succeed early on, mentors need to dedicate time to transferring their:</p>

                          <ul>
                            <li>valuable teaching experience</li>
                            <li>hands-on skills</li>
                            <li>leadership qualities</li>
                          </ul>

                          <p>A mentor needs to specifically help NQTs know how to:</p>

                          <ul>
                            <li>avoid overloading a pupil’s working memory</li>
                            <li>build on pupils’ prior knowledge</li>
                            <li>increase the likelihood of material being retained</li>
                          </ul>

                          <h3 id="skills-which-help-to-avoid-overloading-pupils-working-memory">Skills which help to avoid overloading pupils’ working memory</h3>

                          <p>An NQT needs to be able to:</p>

                          <ul>
                            <li>consider pupils’ prior knowledge when planning how much new information to introduce&nbsp;</li>
                            <li>break down complicated materials into smaller steps (for example, using partially completed examples to help pupils concentrate on the specific steps)</li>
                            <li>reduce distractions so pupils’ attention stays on what is being taught (for example, reduce the complexity of a task so pupils can work on the content)</li>
                          </ul>

                          <h3 id="skills-which-build-on-pupils-prior-knowledge">Skills which build on pupils’ prior knowledge</h3>

                          <p>An NQT needs to be able to:</p>

                          <ul>
                            <li>identify possible misconceptions and plan how to prevent these developing</li>
                            <li>link what pupils already know to what is being taught (for example, explain how new content builds on what is already known)</li>
                            <li>run a series of lessons so that pupils gain basic knowledge before starting on more complex content</li>
                            <li>encourage pupils to share their early understandings and any points of confusion so that these can be dealt with</li>
                          </ul>

                          <h3 id="skills-which-increase-likelihood-of-material-being-retained">Skills which increase likelihood of material being retained</h3>

                          <p>An NQT needs to be able to:</p>

                          <ul>
                            <li>use a balance of different learning practices (explaining, repeating, practicing and retrieving) to improve the critical knowledge and skills of pupils</li>
                            <li>plan regular reviews and practice of core ideas and concepts over time</li>
                            <li>create practice, generation and retrieval tasks that provide enough support to help pupils experience a high success rate when attempting challenging work</li>
                            <li>increase challenge with practice and retrieval as pupils’ knowledge becomes more secure</li>
                          </ul>

                          <h2 id="case-studies">Case studies</h2>

                          <p><a href="/guidance/measuring-pupil-progress-and-managing-the-data">Measuring pupil progress and managing the data</a></p>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div data-sticky-element="" class="govuk-sticky-element govuk-sticky-element--hidden govuk-sticky-element--stuck-to-window govuk-sticky-element--enabled">
                    <a class="app-c-back-to-top dont-print" href="#contents">
                      <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                      </svg>
                      Contents
                    </a>

                  </div>
                </div>

              </main>

              <div class="gem-c-feedback gem-c-feedback--top-margin" data-module="feedback">

                <div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">
                  <div class="gem-c-feedback__js-prompt-questions js-prompt-questions">
                    <h2 class="gem-c-feedback__prompt-question">Is this page useful?</h2>

                    <a class="gem-c-feedback__prompt-link" data-track-category="yesNoFeedbackForm" data-track-action="ffMaybeClick" aria-expanded="false" role="button" style="display: none;" hidden="hidden" aria-hidden="true" href="/contact/govuk">
                      Maybe
                    </a>
                    <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--useful js-page-is-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffYesClick" aria-expanded="false" role="button" href="/contact/govuk">
                      Yes <span class="visually-hidden">this page is useful</span>
                    </a>
                    <a class="gem-c-feedback__prompt-link js-toggle-form js-page-is-not-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffNoClick" aria-controls="page-is-not-useful" aria-expanded="false" role="button" href="/contact/govuk">
                      No <span class="visually-hidden">this page is not useful</span>
                    </a>
                    <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--wrong js-toggle-form js-something-is-wrong" data-track-category="Onsite Feedback" data-track-action="GOV.UK Open Form" aria-controls="something-is-wrong" aria-expanded="false" role="button" href="/contact/govuk">
                      Is there anything wrong with this page?
                    </a>  </div>

                    <div class="gem-c-feedback__prompt-success js-prompt-success js-hidden" tabindex="-1">
                      Thank you for your feedback
                    </div>
                  </div>

                  <form action="/contact/govuk/problem_reports" id="something-is-wrong" class="gem-c-feedback__form js-feedback-form js-hidden" data-track-category="Onsite Feedback" data-track-action="GOV.UK Send Form" method="post" aria-hidden="true">
                    <a href="#" class="gem-c-feedback__close gem-c-feedback__js-show js-close-form" data-track-category="Onsite Feedback" data-track-action="GOV.UK Close Form" aria-controls="something-is-wrong" aria-expanded="true" role="button">Close</a>

                    <div class="gem-c-feedback__grid-row gem-c-feedback__survey-container">
                      <div class="gem-c-feedback__column-two-thirds">
                        <div class="gem-c-feedback__error-summary gem-c-feedback__js-show js-hidden js-errors" tabindex="-1"></div>

                        <input type="hidden" name="url" value="https://www.integration.publishing.service.gov.uk/government/publications/supporting-early-career-teachers--2/promote-good-progress">

                        <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
                        <p id="feedback_explanation" class="gem-c-feedback__form-paragraph">Don’t include personal or financial information like your National Insurance number or credit card details.</p>


                        <div class="govuk-form-group">

                          <label for="input-90bce3a3" class="gem-c-label govuk-label">
                            What were you doing?
                          </label>




                          <input name="what_doing" class="gem-c-input govuk-input" id="input-90bce3a3" type="text" aria-describedby="feedback_explanation">
                        </div>


                        <div class="govuk-form-group">

                          <label for="input-aae84dc9" class="gem-c-label govuk-label">
                            What went wrong?
                          </label>




                          <input name="what_wrong" class="gem-c-input govuk-input" id="input-aae84dc9" type="text">
                        </div>


                        <button class="gem-c-button govuk-button" type="submit">Send</button>


                      </div>
                    </div>
                    <input type="hidden" name="javascript_enabled" value="true"><input type="hidden" name="referrer" value="https://www.integration.publishing.service.gov.uk/government/publications/supporting-early-career-teachers--2"></form>

                    <form action="/contact/govuk/email-survey-signup" id="page-is-not-useful" class="gem-c-feedback__form gem-c-feedback__form--email gem-c-feedback__js-show js-feedback-form js-hidden" data-track-category="yesNoFeedbackForm" data-track-action="Send Form" method="post" aria-hidden="true">
                      <a href="#" class="gem-c-feedback__close js-close-form" data-track-category="yesNoFeedbackForm" data-track-action="ffFormClose" aria-controls="page-is-not-useful" aria-expanded="true" role="button">Close</a>

                      <div class="gem-c-feedback__grid-row gem-c-feedback__survey-container">
                        <div class="gem-c-feedback__column-two-thirds" id="survey-wrapper">
                          <div class="gem-c-feedback__error-summary js-hidden js-errors" tabindex="-1"></div>

                          <input name="email_survey_signup[survey_id]" type="hidden" value="footer_satisfaction_survey">
                          <input name="email_survey_signup[survey_source]" type="hidden" value="/government/publications/supporting-early-career-teachers--2/promote-good-progress">

                          <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
                          <p id="survey_explanation" class="gem-c-feedback__form-paragraph">To help us improve GOV.UK, we’d like to know more about your visit today. We’ll send you a link to a feedback form. It will take only 2 minutes to fill in. Don’t worry we won’t send you spam or share your email address with anyone.</p>


                          <div class="govuk-form-group">

                            <label for="input-41511e32" class="gem-c-label govuk-label">
                              Email address
                            </label>




                            <input name="email_survey_signup[email_address]" class="gem-c-input govuk-input" id="input-41511e32" type="email" autocomplete="email" aria-describedby="survey_explanation">
                          </div>


                          <button class="gem-c-button govuk-button" type="submit">Send me the survey</button>


                        </div>
                      </div>
                    </form>

                  </div>
