<% content_for :title, "Making effective use of teaching assistants - GOV.UK" %>



<div class="gem-c-contextual-breadcrumbs">



  <div class="gem-c-breadcrumbs govuk-breadcrumbs " data-module="track-click">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" aria-current="false" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/education" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Education, training and skills&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/education">Education, training and skills</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="/education/teaching-and-leadership" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Teaching and leadership&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/education/teaching-and-leadership">Teaching and leadership</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="4" data-track-label="/education/teacher-training-and-professional-development" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Teacher training and professional development&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/education/teacher-training-and-professional-development">Teacher training and professional development</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="5" data-track-label="/education/school-leadership" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;School leadership&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/education/school-leadership">School leadership</a>
      </li>
    </ol>
  </div>


</div>


<main role="main" id="content" class="detailed-guide" lang="en">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
        <p class="gem-c-title__context">
          Guidance
        </p>
        <h1 class="gem-c-title__text gem-c-title__text--long">
          Making effective use of teaching assistants
        </h1>
      </div>
    </div>

    <div class="govuk-grid-column-two-thirds">

      <p class="gem-c-lead-paragraph ">
        Establish good relationships between newly qualified teachers (NQTs) and teaching assistants.
      </p>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="metadata-logo-wrapper">
      <div class="govuk-grid-column-two-thirds metadata-column">
        <div class="app-c-publisher-metadata" lang="en">
          <div class="app-c-published-dates " lang="en">
            Published 23 July 2019
          </div>

          <div class="app-c-publisher-metadata__other">
            <dl data-module="track-click">
              <dt class="app-c-publisher-metadata__term">
                From:
              </dt>
              <dd class="app-c-publisher-metadata__definition" data-module="gem-toggle">
                <span class="app-c-publisher-metadata__definition-sentence">
                  <a href="/government/organisations/government-digital-service">Government Digital Service</a>
                </span>
              </dd>
            </dl>
          </div>
        </div>

      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </div>




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <div id="contents" class="app-c-contents-list-with-body">


        <div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak">
          <div class="govspeak">
            <p>NQTs need to know how to establish good relationships with teaching assistants. A solid relationship will not only improve learning outcomes for pupils but also:</p>

            <ul>
              <li>improve behaviour</li>
              <li>create a more stable environment for students</li>
              <li>increase morale</li>
            </ul>

            <p>Use our poster in your staffroom to:</p>

            <ul>
              <li>highlight ways in which teachers can improve their relationship with a TA</li>
              <li>improve the morale of TAs</li>
            </ul>

            <section class="attachment embedded" id="attachment_3532590">
              <div class="attachment-thumb">
                <a class="thumbnail" href="/assets/dfe_images/integration/Making_effective_use_of_teaching_assistants_-_poster-_Empower_yourself_and_others.jpg"><img alt="" src="/government/assets/pub-cover-a380604bb953dc22ac9dcfbf3cc65598327f493c37b09ac497c45148cbaa21b1.png"></a>
              </div>
              <div class="attachment-details">
                <h2 class="title"><a href="/assets/dfe_images/integration/Making_effective_use_of_teaching_assistants_-_poster-_Empower_yourself_and_others.jpg">Making effective use of teaching assistants - poster- Empower yourself and others</a></h2>
                <p class="metadata">
                  <span class="type">JPEG</span>, <span class="file-size">87.6KB</span>
                </p>


                <div class="accessibility-warning" id="attachment-3532590-accessibility-help">
                  <h2>This file may not be suitable for users of assistive technology.
                    <a class="toggler" href="#attachment-3532590-accessibility-request">Request an accessible format.</a>
                  </h2>
                  <p id="attachment-3532590-accessibility-request" class="js-hidden">
                    If you use assistive technology (such as a screen reader) and need a
                    version of this document in a more accessible format, please email <a href="mailto:accessibleformats@digital.cabinet-office.gov.uk?body=Details%20of%20document%20required%3A%0A%0A%20%20Title%3A%20Making%20effective%20use%20of%20teaching%20assistants%20-%20poster-%20Empower%20yourself%20and%20others%0A%20%20Original%20format%3A%20jpg%0A%0APlease%20tell%20us%3A%0A%0A%20%201.%20What%20makes%20this%20format%20unsuitable%20for%20you%3F%0A%20%202.%20What%20format%20you%20would%20prefer%3F%0A%20%20%20%20%20%20&amp;subject=Request%20for%20%27Making%20effective%20use%20of%20teaching%20assistants%20-%20poster-%20Empower%20yourself%20and%20others%27%20in%20an%20alternative%20format">accessibleformats@digital.cabinet-office.gov.uk</a>.
                    Please tell us what format you need. It will help us if you say what assistive technology you use.

                  </p>
                </div>
              </div>
            </section>

            <section class="attachment embedded" id="attachment_3532591">
              <div class="attachment-thumb">
                <a class="thumbnail" href="/assets/dfe_images/integration/Making_effective_use_of_teaching_assistants_-_poster-_Chat_regularly.jpg"><img alt="" src="/government/assets/pub-cover-a380604bb953dc22ac9dcfbf3cc65598327f493c37b09ac497c45148cbaa21b1.png"></a>
              </div>
              <div class="attachment-details">
                <h2 class="title"><a href="/assets/dfe_images/integration/Making_effective_use_of_teaching_assistants_-_poster-_Chat_regularly.jpg">Making effective use of teaching assistants - poster- Chat regularly</a></h2>
                <p class="metadata">
                  <span class="type">JPEG</span>, <span class="file-size">63.5KB</span>
                </p>


                <div class="accessibility-warning" id="attachment-3532591-accessibility-help">
                  <h2>This file may not be suitable for users of assistive technology.
                    <a class="toggler" href="#attachment-3532591-accessibility-request">Request an accessible format.</a>
                  </h2>
                  <p id="attachment-3532591-accessibility-request" class="js-hidden">
                    If you use assistive technology (such as a screen reader) and need a
                    version of this document in a more accessible format, please email <a href="mailto:accessibleformats@digital.cabinet-office.gov.uk?body=Details%20of%20document%20required%3A%0A%0A%20%20Title%3A%20Making%20effective%20use%20of%20teaching%20assistants%20-%20poster-%20Chat%20regularly%0A%20%20Original%20format%3A%20jpg%0A%0APlease%20tell%20us%3A%0A%0A%20%201.%20What%20makes%20this%20format%20unsuitable%20for%20you%3F%0A%20%202.%20What%20format%20you%20would%20prefer%3F%0A%20%20%20%20%20%20&amp;subject=Request%20for%20%27Making%20effective%20use%20of%20teaching%20assistants%20-%20poster-%20Chat%20regularly%27%20in%20an%20alternative%20format">accessibleformats@digital.cabinet-office.gov.uk</a>.
                    Please tell us what format you need. It will help us if you say what assistive technology you use.

                  </p>
                </div>
              </div>
            </section>

            <section class="attachment embedded" id="attachment_3532592">
              <div class="attachment-thumb">
                <a class="thumbnail" href="/assets/dfe_images/integration/Making_effective_use_of_teaching_assistants_-_poster-_Celebrate_success.jpg"><img alt="" src="/government/assets/pub-cover-a380604bb953dc22ac9dcfbf3cc65598327f493c37b09ac497c45148cbaa21b1.png"></a>
              </div>
              <div class="attachment-details">
                <h2 class="title"><a href="/assets/dfe_images/integration/Making_effective_use_of_teaching_assistants_-_poster-_Celebrate_success.jpg">Making effective use of teaching assistants - poster- Celebrate success</a></h2>
                <p class="metadata">
                  <span class="type">JPEG</span>, <span class="file-size">97.1KB</span>
                </p>


                <div class="accessibility-warning" id="attachment-3532592-accessibility-help">
                  <h2>This file may not be suitable for users of assistive technology.
                    <a class="toggler" href="#attachment-3532592-accessibility-request">Request an accessible format.</a>
                  </h2>
                  <p id="attachment-3532592-accessibility-request" class="js-hidden">
                    If you use assistive technology (such as a screen reader) and need a
                    version of this document in a more accessible format, please email <a href="mailto:accessibleformats@digital.cabinet-office.gov.uk?body=Details%20of%20document%20required%3A%0A%0A%20%20Title%3A%20Making%20effective%20use%20of%20teaching%20assistants%20-%20poster-%20Celebrate%20success%0A%20%20Original%20format%3A%20jpg%0A%0APlease%20tell%20us%3A%0A%0A%20%201.%20What%20makes%20this%20format%20unsuitable%20for%20you%3F%0A%20%202.%20What%20format%20you%20would%20prefer%3F%0A%20%20%20%20%20%20&amp;subject=Request%20for%20%27Making%20effective%20use%20of%20teaching%20assistants%20-%20poster-%20Celebrate%20success%27%20in%20an%20alternative%20format">accessibleformats@digital.cabinet-office.gov.uk</a>.
                    Please tell us what format you need. It will help us if you say what assistive technology you use.

                  </p>
                </div>
              </div>
            </section>

            <section class="attachment embedded" id="attachment_3532593">
              <div class="attachment-thumb">
                <a class="thumbnail" href="/assets/dfe_images/integration/Making_effective_use_of_teaching_assistants_-_poster-_Help_reduce_paperwork.jpg"><img alt="" src="/government/assets/pub-cover-a380604bb953dc22ac9dcfbf3cc65598327f493c37b09ac497c45148cbaa21b1.png"></a>
              </div>
              <div class="attachment-details">
                <h2 class="title"><a href="/assets/dfe_images/integration/Making_effective_use_of_teaching_assistants_-_poster-_Help_reduce_paperwork.jpg">Making effective use of teaching assistants - poster- Help reduce paperwork</a></h2>
                <p class="metadata">
                  <span class="type">JPEG</span>, <span class="file-size">118KB</span>
                </p>


                <div class="accessibility-warning" id="attachment-3532593-accessibility-help">
                  <h2>This file may not be suitable for users of assistive technology.
                    <a class="toggler" href="#attachment-3532593-accessibility-request">Request an accessible format.</a>
                  </h2>
                  <p id="attachment-3532593-accessibility-request" class="js-hidden">
                    If you use assistive technology (such as a screen reader) and need a
                    version of this document in a more accessible format, please email <a href="mailto:accessibleformats@digital.cabinet-office.gov.uk?body=Details%20of%20document%20required%3A%0A%0A%20%20Title%3A%20Making%20effective%20use%20of%20teaching%20assistants%20-%20poster-%20Help%20reduce%20paperwork%0A%20%20Original%20format%3A%20jpg%0A%0APlease%20tell%20us%3A%0A%0A%20%201.%20What%20makes%20this%20format%20unsuitable%20for%20you%3F%0A%20%202.%20What%20format%20you%20would%20prefer%3F%0A%20%20%20%20%20%20&amp;subject=Request%20for%20%27Making%20effective%20use%20of%20teaching%20assistants%20-%20poster-%20Help%20reduce%20paperwork%27%20in%20an%20alternative%20format">accessibleformats@digital.cabinet-office.gov.uk</a>.
                    Please tell us what format you need. It will help us if you say what assistive technology you use.

                  </p>
                </div>
              </div>
            </section>

          </div>
        </div>


        <div class="responsive-bottom-margin">
          <div class="app-c-published-dates " lang="en">
            Published 23 July 2019
          </div>

        </div>

      </div>
    </div>

    <div class="govuk-grid-column-one-third">

      <div class="gem-c-contextual-sidebar">




      </div>

    </div>

  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="gem-c-contextual-footer">

        <div class="gem-c-related-navigation">





          <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-topics-033f50c0" data-module="gem-toggle">

            <h2 id="related-nav-topics-033f50c0" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer" data-track-count="footerRelatedItemSection">Explore the topic</h2>

            <ul class="gem-c-related-navigation__link-list" data-module="track-click">


              <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" data-track-category="relatedLinkClicked" data-track-action="1.1 Explore the topic" data-track-label="/education/school-leadership" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;School leadership&quot;}" href="/education/school-leadership">School leadership</a></li>

            </ul>
          </nav>

        </div>

      </div>


    </div>
  </div>


</main>

<div class="gem-c-feedback gem-c-feedback--top-margin" data-module="feedback">

  <div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">
    <div class="gem-c-feedback__js-prompt-questions js-prompt-questions">
      <h2 class="gem-c-feedback__prompt-question">Is this page useful?</h2>

      <a class="gem-c-feedback__prompt-link" data-track-category="yesNoFeedbackForm" data-track-action="ffMaybeClick" aria-expanded="false" role="button" style="display: none;" hidden="hidden" aria-hidden="true" href="/contact/govuk">
        Maybe
      </a>
      <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--useful js-page-is-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffYesClick" aria-expanded="false" role="button" href="/contact/govuk">
        Yes <span class="visually-hidden">this page is useful</span>
      </a>
      <a class="gem-c-feedback__prompt-link js-toggle-form js-page-is-not-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffNoClick" aria-controls="page-is-not-useful" aria-expanded="false" role="button" href="/contact/govuk">
        No <span class="visually-hidden">this page is not useful</span>
      </a>
      <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--wrong js-toggle-form js-something-is-wrong" data-track-category="Onsite Feedback" data-track-action="GOV.UK Open Form" aria-controls="something-is-wrong" aria-expanded="false" role="button" href="/contact/govuk">
        Is there anything wrong with this page?
      </a>  </div>

      <div class="gem-c-feedback__prompt-success js-prompt-success js-hidden" tabindex="-1">
        Thank you for your feedback
      </div>
    </div>

    <form action="/contact/govuk/problem_reports" id="something-is-wrong" class="gem-c-feedback__form js-feedback-form js-hidden" data-track-category="Onsite Feedback" data-track-action="GOV.UK Send Form" method="post" aria-hidden="true">
      <a href="#" class="gem-c-feedback__close gem-c-feedback__js-show js-close-form" data-track-category="Onsite Feedback" data-track-action="GOV.UK Close Form" aria-controls="something-is-wrong" aria-expanded="true" role="button">Close</a>

      <div class="gem-c-feedback__grid-row gem-c-feedback__survey-container">
        <div class="gem-c-feedback__column-two-thirds">
          <div class="gem-c-feedback__error-summary gem-c-feedback__js-show js-hidden js-errors" tabindex="-1"></div>

          <input type="hidden" name="url" value="https://www.integration.publishing.service.gov.uk/guidance/making-effective-use-of-teaching-assistants">

          <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
          <p id="feedback_explanation" class="gem-c-feedback__form-paragraph">Don’t include personal or financial information like your National Insurance number or credit card details.</p>


          <div class="govuk-form-group">

            <label for="input-f654e19b" class="gem-c-label govuk-label">
              What were you doing?
            </label>




            <input name="what_doing" class="gem-c-input govuk-input" id="input-f654e19b" type="text" aria-describedby="feedback_explanation">
          </div>


          <div class="govuk-form-group">

            <label for="input-f9c5011e" class="gem-c-label govuk-label">
              What went wrong?
            </label>




            <input name="what_wrong" class="gem-c-input govuk-input" id="input-f9c5011e" type="text">
          </div>


          <button class="gem-c-button govuk-button" type="submit">Send</button>


        </div>
      </div>
      <input type="hidden" name="javascript_enabled" value="true"><input type="hidden" name="referrer" value="https://www.integration.publishing.service.gov.uk/government/publications/supporting-early-career-teachers--2/adaptive-teaching"></form>

      <form action="/contact/govuk/email-survey-signup" id="page-is-not-useful" class="gem-c-feedback__form gem-c-feedback__form--email gem-c-feedback__js-show js-feedback-form js-hidden" data-track-category="yesNoFeedbackForm" data-track-action="Send Form" method="post" aria-hidden="true">
        <a href="#" class="gem-c-feedback__close js-close-form" data-track-category="yesNoFeedbackForm" data-track-action="ffFormClose" aria-controls="page-is-not-useful" aria-expanded="true" role="button">Close</a>

        <div class="gem-c-feedback__grid-row gem-c-feedback__survey-container">
          <div class="gem-c-feedback__column-two-thirds" id="survey-wrapper">
            <div class="gem-c-feedback__error-summary js-hidden js-errors" tabindex="-1"></div>

            <input name="email_survey_signup[survey_id]" type="hidden" value="footer_satisfaction_survey">
            <input name="email_survey_signup[survey_source]" type="hidden" value="/guidance/making-effective-use-of-teaching-assistants">

            <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
            <p id="survey_explanation" class="gem-c-feedback__form-paragraph">To help us improve GOV.UK, we’d like to know more about your visit today. We’ll send you a link to a feedback form. It will take only 2 minutes to fill in. Don’t worry we won’t send you spam or share your email address with anyone.</p>


            <div class="govuk-form-group">

              <label for="input-e15dc096" class="gem-c-label govuk-label">
                Email address
              </label>




              <input name="email_survey_signup[email_address]" class="gem-c-input govuk-input" id="input-e15dc096" type="email" autocomplete="email" aria-describedby="survey_explanation">
            </div>


            <button class="gem-c-button govuk-button" type="submit">Send me the survey</button>


          </div>
        </div>
      </form>

    </div>
