<% content_for :title, "Using meditation to create a culture of respect and trust - GOV.UK" %>

<div class="gem-c-contextual-breadcrumbs">
  <div class="gem-c-breadcrumbs govuk-breadcrumbs " data-module="track-click">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" aria-current="false" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/education" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Education, training and skills&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/education">Education, training and skills</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="/education/teaching-and-leadership" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Teaching and leadership&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/education/teaching-and-leadership">Teaching and leadership</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="4" data-track-label="/education/teacher-training-and-professional-development" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Teacher training and professional development&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/education/teacher-training-and-professional-development">Teacher training and professional development</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="5" data-track-label="/education/school-leadership" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;School leadership&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/education/school-leadership">School leadership</a>
      </li>
    </ol>
  </div>
</div>


<main role="main" id="content" class="detailed-guide" lang="en">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
        <p class="gem-c-title__context">
          Guidance
        </p>
        <h1 class="gem-c-title__text gem-c-title__text--long">
          Using meditation to create a culture of respect and trust
        </h1>
      </div>
    </div>

    <div class="govuk-grid-column-two-thirds">

      <p class="gem-c-lead-paragraph ">
        Improve the behaviour of pupils with these activities
      </p>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="metadata-logo-wrapper">
      <div class="govuk-grid-column-two-thirds metadata-column">
        <div class="app-c-publisher-metadata" lang="en">
          <div class="app-c-published-dates " lang="en">
            Published 23 July 2019
          </div>

          <div class="app-c-publisher-metadata__other">
            <dl data-module="track-click">
              <dt class="app-c-publisher-metadata__term">
                From:
              </dt>
              <dd class="app-c-publisher-metadata__definition" data-module="gem-toggle">
                <span class="app-c-publisher-metadata__definition-sentence">
                  <a href="/government/organisations/government-digital-service">Government Digital Service</a>
                </span>
              </dd>
            </dl>
          </div>
        </div>

      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </div>




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <div id="contents" class="app-c-contents-list-with-body" data-module="sticky-element-container">
        <div class="responsive-bottom-margin">
          <nav role="navigation" class="gem-c-contents-list gem-c-contents-list--no-underline " data-module="track-click">
            <h2 class="gem-c-contents-list__title">Contents</h2>

            <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="#mindfulness" data-track-options="{&quot;dimension29&quot;:&quot;Mindfulness&quot;}" href="#mindfulness">Mindfulness</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
                <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#how-to-run-a-meditation-session-in-the-classroom" data-track-options="{&quot;dimension29&quot;:&quot;How to run a meditation session in the classroom&quot;}" href="#how-to-run-a-meditation-session-in-the-classroom">How to run a meditation session in the classroom</a>
              </li>
            </ol>
          </nav>

        </div>


        <div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak">
          <div class="govspeak">
            <p>Empathy builds trust and respect among people. The more empathy someone has the better they will want to treat others. By using these activities in the classroom you can improve the behaviour of your pupils.</p>

            <h2 id="mindfulness">Mindfulness</h2>

            <h3 id="why-meditate">Why meditate</h3>

            <p>As a classroom practice, meditation can help students strengthen their self-regulation and their focus on coursework. It also boosts their overall health, reduces negative feelings, and fosters compassion.</p>

            <h3 id="before-you-start">Before you start</h3>

            <h4 id="develop-a-personal-practice-before-introducing-it-into-the-classroom">1. Develop a personal practice before introducing it into the classroom</h4>

            <p>Pupils who are unfamiliar with meditation may find it awkward and strange. Showing competency will settle their nerves and create trust. Join a community center or yoga studio that offers meditation. Meditate at home, in a park, or on the subway. Practice until you feel comfortable introducing it to the classroom.</p>

            <h4 id="be-consistent">2. Be consistent</h4>

            <p>Make sure pupils meditate during the first 5 minutes of every class you have with them - even with substitutes. A consistent and enforced routine yields stronger benefits and clear expectations.</p>

            <h4 id="know-the-benefits">3. Know the benefits</h4>

            <p>There are many benefits to meditation, including how:</p>

            <ul>
              <li>meditation boosts our immune system’s ability to fight off illness</li>
              <li>practice increases positive emotions while reducing stress and negative feelings</li>
              <li>it helps us tune out distractions and improves attentiveness</li>
              <li>meditation fosters compassion and kindness</li>
            </ul>

            <h2 id="how-to-run-a-meditation-session-in-the-classroom">How to run a meditation session in the classroom</h2>

            <p>Explore your students’ knowledge about meditation. For example, it’s a good time to say that this meditation isn’t religious – it is just a simple process of focusing on the sensation of the breath. Staff at Facebook and Google opt in to meditation sessions such as this at their workplace. Your class could at this stage watch feedback from other students.</p>

            <ul>
              <li>Introduce the meditation. Explain to the students that for the next 5 to 10 minutes (or longer as you progress) they are going to sit quietly and practice a breathing meditation.</li>
              <li>Encourage the students to sit comfortably in their chair. The most important aspect of the meditation posture is to keep a straight back and have relaxed shoulders. You could play this introductory video about the meditation posture, or view it for your own research beforehand. If the children are young you can get them to lie down comfortably.</li>
              <li>Ask the pupils to gently close their eyes. This helps to prevent distraction and begins to calm the mind.</li>
              <li>Tell them to tighten each muscle in their bodies, starting with their toes and moving all the way up to their heads. Have them hold each tightened muscle for a few seconds before fully releasing it and relaxing their bodies. This activity will help the children loosen up their bodies and minds. This is also a very effective method to teach children how to stay in the present moment.</li>
              <li>Tell the pupils to focus on their breathing and nothing else. Breathe in and out in time with the Calm for Schools website: <a rel="external" href="https://www.calm.com/breathe?from=/schools">https://www.calm.com/breathe?from=/schools</a>. Do this for 5 to 10 minutes initially.</li>
              <li>After 5 to 10 minutes bring the meditation to an end gradually. Remind students to become aware of the room around them, any sounds they can hear, and their feet on the floor.</li>
              <li>Have a discussion after the meditation. How was their experience? Was it what they expected? Would they like to do another meditation? If so, would they like a longer or shorter meditation?</li>
            </ul>

            <h3 id="other-resources">Other resources</h3>

            <p>Watch and play the Mindspace video in class: <a rel="external" href="https://www.mindspace.org.uk/2011/11/07/5-minute-guided-meditation-to-reduce-stress/">https://www.mindspace.org.uk/2011/11/07/5-minute-guided-meditation-to-reduce-stress/</a>.</p>
          </div>
        </div>


        <div class="responsive-bottom-margin">
          <div class="app-c-published-dates " lang="en">
            Published 23 July 2019
          </div>

        </div>

        <div data-sticky-element="" class="app-c-contents-list-with-body__link-wrapper govuk-sticky-element--hidden govuk-sticky-element--stuck-to-window govuk-sticky-element--enabled">
          <div class="app-c-contents-list-with-body__link-container">
            <a class="app-c-back-to-top dont-print" href="#contents">
              <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
              </svg>
              Contents
            </a>

          </div>
        </div>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">

      <div class="gem-c-contextual-sidebar">




      </div>

    </div>

  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="gem-c-contextual-footer">

        <div class="gem-c-related-navigation">





          <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-topics-1e0f4edb" data-module="gem-toggle">

            <h2 id="related-nav-topics-1e0f4edb" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer" data-track-count="footerRelatedItemSection">Explore the topic</h2>

            <ul class="gem-c-related-navigation__link-list" data-module="track-click">


              <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" data-track-category="relatedLinkClicked" data-track-action="1.1 Explore the topic" data-track-label="/education/school-leadership" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;School leadership&quot;}" href="/education/school-leadership">School leadership</a></li>

            </ul>
          </nav>

        </div>

      </div>


    </div>
  </div>


</main>

<div class="gem-c-feedback gem-c-feedback--top-margin" data-module="feedback">

  <div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">
    <div class="gem-c-feedback__js-prompt-questions js-prompt-questions">
      <h2 class="gem-c-feedback__prompt-question">Is this page useful?</h2>

      <a class="gem-c-feedback__prompt-link" data-track-category="yesNoFeedbackForm" data-track-action="ffMaybeClick" aria-expanded="false" role="button" style="display: none;" hidden="hidden" aria-hidden="true" href="/contact/govuk">
        Maybe
      </a>
      <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--useful js-page-is-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffYesClick" aria-expanded="false" role="button" href="/contact/govuk">
        Yes <span class="visually-hidden">this page is useful</span>
      </a>
      <a class="gem-c-feedback__prompt-link js-toggle-form js-page-is-not-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffNoClick" aria-controls="page-is-not-useful" aria-expanded="false" role="button" href="/contact/govuk">
        No <span class="visually-hidden">this page is not useful</span>
      </a>
      <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--wrong js-toggle-form js-something-is-wrong" data-track-category="Onsite Feedback" data-track-action="GOV.UK Open Form" aria-controls="something-is-wrong" aria-expanded="false" role="button" href="/contact/govuk">
        Is there anything wrong with this page?
      </a>  </div>

      <div class="gem-c-feedback__prompt-success js-prompt-success js-hidden" tabindex="-1">
        Thank you for your feedback
      </div>
    </div>

    <form action="/contact/govuk/problem_reports" id="something-is-wrong" class="gem-c-feedback__form js-feedback-form js-hidden" data-track-category="Onsite Feedback" data-track-action="GOV.UK Send Form" method="post" aria-hidden="true">
      <a href="#" class="gem-c-feedback__close gem-c-feedback__js-show js-close-form" data-track-category="Onsite Feedback" data-track-action="GOV.UK Close Form" aria-controls="something-is-wrong" aria-expanded="true" role="button">Close</a>

      <div class="gem-c-feedback__grid-row gem-c-feedback__survey-container">
        <div class="gem-c-feedback__column-two-thirds">
          <div class="gem-c-feedback__error-summary gem-c-feedback__js-show js-hidden js-errors" tabindex="-1"></div>

          <input type="hidden" name="url" value="https://www.integration.publishing.service.gov.uk/guidance/using-meditation-to-create-a-culture-of-respect-and-trust">

          <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
          <p id="feedback_explanation" class="gem-c-feedback__form-paragraph">Don’t include personal or financial information like your National Insurance number or credit card details.</p>


          <div class="govuk-form-group">

            <label for="input-70bc7240" class="gem-c-label govuk-label">
              What were you doing?
            </label>




            <input name="what_doing" class="gem-c-input govuk-input" id="input-70bc7240" type="text" aria-describedby="feedback_explanation">
          </div>


          <div class="govuk-form-group">

            <label for="input-296d6a2a" class="gem-c-label govuk-label">
              What went wrong?
            </label>




            <input name="what_wrong" class="gem-c-input govuk-input" id="input-296d6a2a" type="text">
          </div>


          <button class="gem-c-button govuk-button" type="submit">Send</button>


        </div>
      </div>
      <input type="hidden" name="javascript_enabled" value="true"><input type="hidden" name="referrer" value="https://www.integration.publishing.service.gov.uk/government/publications/supporting-early-career-teachers--2/set-high-expectations"></form>

      <form action="/contact/govuk/email-survey-signup" id="page-is-not-useful" class="gem-c-feedback__form gem-c-feedback__form--email gem-c-feedback__js-show js-feedback-form js-hidden" data-track-category="yesNoFeedbackForm" data-track-action="Send Form" method="post" aria-hidden="true">
        <a href="#" class="gem-c-feedback__close js-close-form" data-track-category="yesNoFeedbackForm" data-track-action="ffFormClose" aria-controls="page-is-not-useful" aria-expanded="true" role="button">Close</a>

        <div class="gem-c-feedback__grid-row gem-c-feedback__survey-container">
          <div class="gem-c-feedback__column-two-thirds" id="survey-wrapper">
            <div class="gem-c-feedback__error-summary js-hidden js-errors" tabindex="-1"></div>

            <input name="email_survey_signup[survey_id]" type="hidden" value="footer_satisfaction_survey">
            <input name="email_survey_signup[survey_source]" type="hidden" value="/guidance/using-meditation-to-create-a-culture-of-respect-and-trust">

            <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
            <p id="survey_explanation" class="gem-c-feedback__form-paragraph">To help us improve GOV.UK, we’d like to know more about your visit today. We’ll send you a link to a feedback form. It will take only 2 minutes to fill in. Don’t worry we won’t send you spam or share your email address with anyone.</p>


            <div class="govuk-form-group">

              <label for="input-67310160" class="gem-c-label govuk-label">
                Email address
              </label>




              <input name="email_survey_signup[email_address]" class="gem-c-input govuk-input" id="input-67310160" type="email" autocomplete="email" aria-describedby="survey_explanation">
            </div>


            <button class="gem-c-button govuk-button" type="submit">Send me the survey</button>


          </div>
        </div>
      </form>

    </div>
