<% content_for :title, "How can you manage behaviour in the classroom? - GOV.UK" %>



<div class="gem-c-contextual-breadcrumbs">



  <div class="gem-c-breadcrumbs govuk-breadcrumbs " data-module="track-click">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" aria-current="false" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/education" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Education, training and skills&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/education">Education, training and skills</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="/education/teaching-and-leadership" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Teaching and leadership&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/education/teaching-and-leadership">Teaching and leadership</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="4" data-track-label="/education/teacher-training-and-professional-development" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Teacher training and professional development&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/education/teacher-training-and-professional-development">Teacher training and professional development</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="5" data-track-label="/education/school-leadership" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;School leadership&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/education/school-leadership">School leadership</a>
      </li>
    </ol>
  </div>


</div>


<main role="main" id="content" class="detailed-guide" lang="en">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
        <p class="gem-c-title__context">
          Guidance
        </p>
        <h1 class="gem-c-title__text gem-c-title__text--long">
          How can you manage behaviour in the classroom?
        </h1>
      </div>
    </div>

    <div class="govuk-grid-column-two-thirds">

      <p class="gem-c-lead-paragraph ">
       Get children to think for themselves, while also offloading some of your workload.

     </p>

   </div>
 </div>

 <div class="govuk-grid-row">
  <div class="metadata-logo-wrapper">
    <div class="govuk-grid-column-two-thirds metadata-column">
      <div class="app-c-publisher-metadata" lang="en">
        <div class="app-c-published-dates " lang="en">
          Published 23 July 2019
        </div>

        <div class="app-c-publisher-metadata__other">
          <dl data-module="track-click">
            <dt class="app-c-publisher-metadata__term">
              From:
            </dt>
            <dd class="app-c-publisher-metadata__definition" data-module="gem-toggle">
              <span class="app-c-publisher-metadata__definition-sentence">
                <a href="/government/organisations/government-digital-service">Government Digital Service</a>
              </span>
            </dd>
          </dl>
        </div>
      </div>

    </div>
    <div class="govuk-grid-column-one-third">
    </div>
  </div>
</div>




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <div id="contents" class="app-c-contents-list-with-body" data-module="sticky-element-container">
      <div class="responsive-bottom-margin">
        <nav role="navigation" class="gem-c-contents-list gem-c-contents-list--no-underline " data-module="track-click">
          <h2 class="gem-c-contents-list__title">Contents</h2>

          <ol class="gem-c-contents-list__list">
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
              <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="#back-to-the-task" data-track-options="{&quot;dimension29&quot;:&quot;Back to the task!&quot;}" href="#back-to-the-task">Back to the task!</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
              <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#when-5-minutes-is-up-the-games-begin" data-track-options="{&quot;dimension29&quot;:&quot;When 5 minutes is up the games begin!&quot;}" href="#when-5-minutes-is-up-the-games-begin">When 5 minutes is up the games begin!</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed ">
              <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#ask-for-their-feedback" data-track-options="{&quot;dimension29&quot;:&quot;Ask for their feedback!&quot;}" href="#ask-for-their-feedback">Ask for their feedback!</a>
            </li>
          </ol>
        </nav>

      </div>


      <div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak">
        <div class="govspeak">
          <p>Every teacher knows how difficult it can be to get children to behave in class (who doesn’t?). But there are some useful ways you can get your kids to behave and make your life easier at the same time. We’re going to explain one of those ways today.</p>

          <p>The first thing you need is a classroom of kids! Since the average class size is 30 pupils, start by giving each pupil a number from 1 to 5. Once you’ve done that, you get the kids to go sit by the table that has their number on it. (Since groups work together put 2 numbers near a table). Randomly assigning pupils a number is also a good way to break up cliques so no one ends up left out, excluded or picked on.</p>

          <h2 id="back-to-the-task">Back to the task!</h2>

          <p>Let’s say you have numbers 1 and 2. Group 1 asks questions and group 2 answers the questions.</p>

          <p>Before they start you set the topic and this should be something you have taught in the classroom already. Then give your pupils the instructions (one asks questions and the other answers).</p>

          <p>A good thing to do at this point is to give the group asking questions 5 minutes to prepare and the group answering questions 5 minutes to revise. You can set a limit to the amount of questions to make it more feasible. We suggest no more than 10 questions. And tell the students there’s a reward for the team with the most correct answers (maybe a nice snack like a little chocolate).</p>

          <h2 id="when-5-minutes-is-up-the-games-begin">When 5 minutes is up the games begin!</h2>

          <p>And all you have to do is monitor each group to make sure they are not being rude to each other.</p>

          <p>Why is this a great thing to do in the classroom? Well, the beauty of this exercise is that students will generally behave in a peer-to-peer learning environment and at the same time they’re revisiting important curriculum that needs to be established.</p>

          <p>Give the groups around 10 minutes to answer questions (1 minute per question).</p>

          <p>After each team is marked out of 10, write the scores on your whiteboard. Then change the topic and get the teams to swap roles so the group asking questions becomes the group answering questions. After you go through the same tasks again, mark the new scores on the whiteboard and announce the winner of the game.</p>

          <h2 id="ask-for-their-feedback">Ask for their feedback!</h2>

          <p>Get your pupils to rate the game out of 5 and give one word to describe the experience so you can think of ways to improve it next time.</p>
        </div>
      </div>


      <div class="responsive-bottom-margin">
        <div class="app-c-published-dates " lang="en">
          Published 23 July 2019
        </div>

      </div>

      <div data-sticky-element="" class="app-c-contents-list-with-body__link-wrapper govuk-sticky-element--hidden govuk-sticky-element--stuck-to-window govuk-sticky-element--enabled">
        <div class="app-c-contents-list-with-body__link-container">
          <a class="app-c-back-to-top dont-print" href="#contents">
            <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
              <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
            </svg>
            Contents
          </a>

        </div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">

    <div class="gem-c-contextual-sidebar">




    </div>

  </div>

</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="gem-c-contextual-footer">

      <div class="gem-c-related-navigation">





        <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-topics-301a54f6" data-module="gem-toggle">

          <h2 id="related-nav-topics-301a54f6" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer" data-track-count="footerRelatedItemSection">Explore the topic</h2>

          <ul class="gem-c-related-navigation__link-list" data-module="track-click">


            <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer" data-track-category="relatedLinkClicked" data-track-action="1.1 Explore the topic" data-track-label="/education/school-leadership" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;School leadership&quot;}" href="/education/school-leadership">School leadership</a></li>

          </ul>
        </nav>

      </div>

    </div>


  </div>
</div>


</main>

<div class="gem-c-feedback gem-c-feedback--top-margin" data-module="feedback">

  <div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">
    <div class="gem-c-feedback__js-prompt-questions js-prompt-questions">
      <h2 class="gem-c-feedback__prompt-question">Is this page useful?</h2>

      <a class="gem-c-feedback__prompt-link" data-track-category="yesNoFeedbackForm" data-track-action="ffMaybeClick" aria-expanded="false" role="button" style="display: none;" hidden="hidden" aria-hidden="true" href="/contact/govuk">
        Maybe
      </a>
      <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--useful js-page-is-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffYesClick" aria-expanded="false" role="button" href="/contact/govuk">
        Yes <span class="visually-hidden">this page is useful</span>
      </a>
      <a class="gem-c-feedback__prompt-link js-toggle-form js-page-is-not-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffNoClick" aria-controls="page-is-not-useful" aria-expanded="false" role="button" href="/contact/govuk">
        No <span class="visually-hidden">this page is not useful</span>
      </a>
      <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--wrong js-toggle-form js-something-is-wrong" data-track-category="Onsite Feedback" data-track-action="GOV.UK Open Form" aria-controls="something-is-wrong" aria-expanded="false" role="button" href="/contact/govuk">
        Is there anything wrong with this page?
      </a>  </div>

      <div class="gem-c-feedback__prompt-success js-prompt-success js-hidden" tabindex="-1">
        Thank you for your feedback
      </div>
    </div>

    <form action="/contact/govuk/problem_reports" id="something-is-wrong" class="gem-c-feedback__form js-feedback-form js-hidden" data-track-category="Onsite Feedback" data-track-action="GOV.UK Send Form" method="post" aria-hidden="true">
      <a href="#" class="gem-c-feedback__close gem-c-feedback__js-show js-close-form" data-track-category="Onsite Feedback" data-track-action="GOV.UK Close Form" aria-controls="something-is-wrong" aria-expanded="true" role="button">Close</a>

      <div class="gem-c-feedback__grid-row gem-c-feedback__survey-container">
        <div class="gem-c-feedback__column-two-thirds">
          <div class="gem-c-feedback__error-summary gem-c-feedback__js-show js-hidden js-errors" tabindex="-1"></div>

          <input type="hidden" name="url" value="https://www.integration.publishing.service.gov.uk/guidance/how-can-you-manage-behaviour-in-the-classroom">

          <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
          <p id="feedback_explanation" class="gem-c-feedback__form-paragraph">Don’t include personal or financial information like your National Insurance number or credit card details.</p>


          <div class="govuk-form-group">

            <label for="input-217d4a7d" class="gem-c-label govuk-label">
              What were you doing?
            </label>




            <input name="what_doing" class="gem-c-input govuk-input" id="input-217d4a7d" type="text" aria-describedby="feedback_explanation">
          </div>


          <div class="govuk-form-group">

            <label for="input-0f126f48" class="gem-c-label govuk-label">
              What went wrong?
            </label>




            <input name="what_wrong" class="gem-c-input govuk-input" id="input-0f126f48" type="text">
          </div>


          <button class="gem-c-button govuk-button" type="submit">Send</button>


        </div>
      </div>
      <input type="hidden" name="javascript_enabled" value="true"><input type="hidden" name="referrer" value="https://www.integration.publishing.service.gov.uk/government/publications/supporting-early-career-teachers--2/manage-behaviour-effectively"></form>

      <form action="/contact/govuk/email-survey-signup" id="page-is-not-useful" class="gem-c-feedback__form gem-c-feedback__form--email gem-c-feedback__js-show js-feedback-form js-hidden" data-track-category="yesNoFeedbackForm" data-track-action="Send Form" method="post" aria-hidden="true">
        <a href="#" class="gem-c-feedback__close js-close-form" data-track-category="yesNoFeedbackForm" data-track-action="ffFormClose" aria-controls="page-is-not-useful" aria-expanded="true" role="button">Close</a>

        <div class="gem-c-feedback__grid-row gem-c-feedback__survey-container">
          <div class="gem-c-feedback__column-two-thirds" id="survey-wrapper">
            <div class="gem-c-feedback__error-summary js-hidden js-errors" tabindex="-1"></div>

            <input name="email_survey_signup[survey_id]" type="hidden" value="footer_satisfaction_survey">
            <input name="email_survey_signup[survey_source]" type="hidden" value="/guidance/how-can-you-manage-behaviour-in-the-classroom">

            <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
            <p id="survey_explanation" class="gem-c-feedback__form-paragraph">To help us improve GOV.UK, we’d like to know more about your visit today. We’ll send you a link to a feedback form. It will take only 2 minutes to fill in. Don’t worry we won’t send you spam or share your email address with anyone.</p>


            <div class="govuk-form-group">

              <label for="input-8254c102" class="gem-c-label govuk-label">
                Email address
              </label>




              <input name="email_survey_signup[email_address]" class="gem-c-input govuk-input" id="input-8254c102" type="email" autocomplete="email" aria-describedby="survey_explanation">
            </div>


            <button class="gem-c-button govuk-button" type="submit">Send me the survey</button>


          </div>
        </div>
      </form>

    </div>
