<% content_for :title, "Manage behaviour effectively - GOV.UK" %>



<div class="gem-c-contextual-breadcrumbs">



  <div class="gem-c-breadcrumbs govuk-breadcrumbs " data-module="track-click">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" aria-current="false" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/government/publications/supporting-early-career-teachers--2" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;Supporting early career teachers&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/government/publications/supporting-early-career-teachers--2">Supporting early career teachers</a>
      </li>
    </ol>
  </div>


</div>


<main role="main" id="content" class="html-publication" lang="en">


  <div class="govuk-grid-row publication-external">
    <ol class="govuk-grid-column-one-quarter organisation-logos">
      <li class="organisation-logo">
        <div class="gem-c-organisation-logo brand--cabinet-office">
          <a class="gem-c-organisation-logo__container gem-c-organisation-logo__link gem-c-organisation-logo__crest gem-c-organisation-logo__crest--single-identity brand__border-color" href="/government/organisations/government-digital-service">
            <span class="gem-c-organisation-logo__name">Government Digital Service</span>
          </a>
        </div>

      </li>
    </ol>
  </div>

  <header class="gem-c-inverse-header  gem-c-inverse-header--padding-top ">

    <div class="gem-c-title govuk-!-margin-top-8 gem-c-title--inverse govuk-!-margin-bottom-0">
      <p class="gem-c-title__context">
        Guidance
      </p>
      <h1 class="gem-c-title__text ">
        Manage behaviour effectively
      </h1>
    </div>
    <p class="publication-header__last-changed">Published 23 July 2019</p>

  </header>



  <div class="govuk-grid-row sidebar-with-body" data-module="sticky-element-container" id="contents">
    <div class="govuk-grid-column-one-quarter-from-desktop contents-list-container">
      <nav role="navigation" class="gem-c-contents-list gem-c-contents-list--no-underline " data-module="track-click">
        <h2 class="gem-c-contents-list__title">Contents</h2>

        <ol class="gem-c-contents-list__list">
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered ">
            <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="#what-a-newly-qualified-teacher-nqt-needs-to-learn" data-track-options="{&quot;dimension29&quot;:&quot;What a newly qualified teacher (NQT) needs to learn&quot;}" href="#what-a-newly-qualified-teacher-nqt-needs-to-learn">What a newly qualified teacher (NQT) needs to learn</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered ">
            <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#what-skills-an-nqt-needs-to-develop" data-track-options="{&quot;dimension29&quot;:&quot;What skills an NQT needs to develop&quot;}" href="#what-skills-an-nqt-needs-to-develop">What skills an NQT needs to develop</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered ">
            <a class="gem-c-contents-list__link " data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#resources" data-track-options="{&quot;dimension29&quot;:&quot;Resources&quot;}" href="#resources">Resources</a>
          </li>
        </ol>
      </nav>

    </div>

    <div class="print-wrapper">
      <div class="print-meta-data">
        <p>
          <img class="print-meta-data-licence" src="https://assets.integration.publishing.service.gov.uk/government-frontend/open-government-licence-min-e98134ae65ff5fe99a524d8c383350b3998f91c298dc24b36126e65f1656c578.png">
        </p>
        <p>
          © Crown copyright 2019
        </p>
        <p>
          This publication is licensed under the terms of the Open Government Licence v3.0 except where otherwise stated. To view this licence, visit <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">nationalarchives.gov.uk/doc/open-government-licence/version/3</a> or write to the Information Policy Team, The National Archives, Kew, London TW9 4DU, or email: <a href="mailto:psi@nationalarchives.gsi.gov.uk">psi@nationalarchives.gsi.gov.uk</a>.
        </p>
        <p>
          Where we have identified any third party copyright information you will need to obtain permission from the copyright holders concerned.
        </p>
        <p>
          This publication is available at https://www.integration.publishing.service.gov.uk/government/publications/supporting-early-career-teachers--2/manage-behaviour-effectively
        </p>



      </div>
    </div>

    <div class="main-content-container">
      <div class="gem-c-govspeak-html-publication">

        <div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak">
          <div class="govspeak">
            <figure class="image embedded"><div class="img"><img src="https://assets.integration.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/89989/lab-experiment.jpeg" alt="lab experiment"></div></figure>

            <h2 id="what-a-newly-qualified-teacher-nqt-needs-to-learn">What a newly qualified teacher (NQT) needs to learn</h2>

            <p>There are 7 specific areas an NQT needs to learn and gain experience in.</p>

            <h3 id="creating-routines">
              <span class="number">1. </span> Creating routines</h3>

              <p>NQTs can create a better learning environment by using routines. NQTs need to know how to create and enforce routines in the classroom. This includes using positive reinforcement.</p>

              <h3 id="creating-a-secure-environment">
                <span class="number">2. </span> Creating a secure environment</h3>

                <p>Students need to feel safe in the classroom to be able to learn well. NQTs who know how to create a predictable and safe environment will make pupils feel safe. This is especially true for pupils with special educational needs.&nbsp;</p>

                <h3 id="encouraging-emotional-intelligence">
                  <span class="number">3. </span> Encouraging emotional intelligence</h3>

                  <p>NQTs who know how to help pupils gain more emotional intelligence will help pupils to:</p>

                  <ul>
                    <li>be better at identifying and managing their emotions</li>
                    <li>perform better in school</li>
                    <li>be more likely to succeed in life</li>
                  </ul>

                  <h3 id="experiencing-accomplishment">
                    <span class="number">4. </span> Experiencing accomplishment</h3>

                    <p>NQTs can help pupils to develop more inner strength in trying or testing situations.</p>

                    <p>An NQT can do this by knowing how to make sure all pupils experience success in a way that is personal to them.</p>

                    <h3 id="listening-to-students">
                      <span class="number">5. </span> Listening to students</h3>

                      <p>Pupils who feel listened to and understood are more open in class. NQTs who know how to listen to pupils will have more success in forming positive relationships.&nbsp;</p>

                      <h3 id="understanding-motivation">
                        <span class="number">6. </span> Understanding motivation</h3>

                        <p>NQTs can improve pupils’ performance at school by understanding what motivates them. This is about understanding:</p>

                        <ul>
                          <li>what is interesting to each pupil on a personal level</li>
                          <li>how to give pupils a sense of reward and achievement</li>
                        </ul>

                        <h3 id="having-awareness-of-external-factors">
                          <span class="number">7. </span> Having awareness of external factors</h3>

                          <p>NQTs need to be aware that pupils’ investment in learning is also driven by their prior experiences and perceptions of success and failure.</p>

                          <figure class="image embedded"><div class="img"><img src="https://assets.integration.publishing.service.gov.uk/government/uploads/system/uploads/image_data/file/89990/standard_5b.png" alt="children raising hands in classroom"></div></figure>

                          <h2 id="what-skills-an-nqt-needs-to-develop">What skills an NQT needs to develop</h2>

                          <p>To help NQTs succeed early on, mentors need to dedicate time to transferring their:</p>

                          <ul>
                            <li>valuable teaching experience</li>
                            <li>hands-on skills</li>
                            <li>leadership qualities</li>
                          </ul>

                          <p>A mentor needs to specifically help NQTs know how to:</p>

                          <ul>
                            <li>create a positive, predictable and safe environment for pupils</li>
                            <li>establish effective routines and expectations</li>
                            <li>build trusting relationships</li>
                            <li>motivate pupils</li>
                          </ul>

                          <h3 id="skills-that-create-a-positive-classroom-environment">Skills that create a positive classroom environment</h3>

                          <p>An NQT needs to be able to:</p>

                          <ul>
                            <li>establish a supportive and inclusive environment with a predictable system of reward and sanction in the classroom</li>
                            <li>work with colleagues as part of a wider system of behaviour management (such as understanding the right to assistance and training from senior colleagues)</li>
                            <li>give manageable, specific and sequential instructions</li>
                            <li>check pupils’ understanding of instructions before a task begins</li>
                            <li>use consistent language and non-verbal signals for common classroom directions</li>
                            <li>use early and least-intrusive interventions as an initial response to low level disruption</li>
                            <li>respond quickly to any behaviour or bullying that threatens emotional safety</li>
                          </ul>

                          <h3 id="skills-that-create-effective-routines-and-expectations">Skills that create effective routines and expectations</h3>

                          <p>An NQT needs to be able to:</p>

                          <ul>
                            <li>create and explicitly teach routines in line with the school ethos that maximise time for learning (such as setting and reinforcing expectations about key transition points)</li>
                            <li>practise routines at the beginning of the school year</li>
                            <li>reinforce routines, for example by articulating the link between time on task and success</li>
                          </ul>

                          <h3 id="skills-that-build-trusting-relationships">Skills that build trusting relationships</h3>

                          <p>An NQT needs to be able to:</p>

                          <ul>
                            <li>liaise with parents, carers and colleagues to better understand pupils’ individual circumstances and how they can be supported to meet high academic and behavioural expectations</li>
                            <li>respond consistently to pupil behaviour</li>
                          </ul>

                          <h3 id="skills-that-increase-motivation">Skills that increase motivation</h3>

                          <p>An NQT needs to be able to:</p>

                          <ul>
                            <li>support pupils to master challenging content, which builds towards long-term goals</li>
                            <li>provide opportunities for pupils to articulate their long-term goals and helping them to see how these are related to their success in school</li>
                            <li>help pupils to journey from needing extrinsic motivation to being motivated to work intrinsically</li>
                          </ul>

                          <h2 id="resources">Resources</h2>

                          <p>Useful ideas and exercises you can use to train and support NQTs.</p>

                          <p><a href="/guidance/how-can-you-manage-behaviour-in-the-classroom">How can you manage behaviour in the classroom?</a></p>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div data-sticky-element="" class="govuk-sticky-element govuk-sticky-element--hidden govuk-sticky-element--stuck-to-window govuk-sticky-element--enabled">
                    <a class="app-c-back-to-top dont-print" href="#contents">
                      <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                      </svg>
                      Contents
                    </a>

                  </div>
                </div>

              </main>

              <div class="gem-c-feedback gem-c-feedback--top-margin" data-module="feedback">

                <div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">
                  <div class="gem-c-feedback__js-prompt-questions js-prompt-questions">
                    <h2 class="gem-c-feedback__prompt-question">Is this page useful?</h2>

                    <a class="gem-c-feedback__prompt-link" data-track-category="yesNoFeedbackForm" data-track-action="ffMaybeClick" aria-expanded="false" role="button" style="display: none;" hidden="hidden" aria-hidden="true" href="/contact/govuk">
                      Maybe
                    </a>
                    <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--useful js-page-is-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffYesClick" aria-expanded="false" role="button" href="/contact/govuk">
                      Yes <span class="visually-hidden">this page is useful</span>
                    </a>
                    <a class="gem-c-feedback__prompt-link js-toggle-form js-page-is-not-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffNoClick" aria-controls="page-is-not-useful" aria-expanded="false" role="button" href="/contact/govuk">
                      No <span class="visually-hidden">this page is not useful</span>
                    </a>
                    <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--wrong js-toggle-form js-something-is-wrong" data-track-category="Onsite Feedback" data-track-action="GOV.UK Open Form" aria-controls="something-is-wrong" aria-expanded="false" role="button" href="/contact/govuk">
                      Is there anything wrong with this page?
                    </a>  </div>

                    <div class="gem-c-feedback__prompt-success js-prompt-success js-hidden" tabindex="-1">
                      Thank you for your feedback
                    </div>
                  </div>

                  <form action="/contact/govuk/problem_reports" id="something-is-wrong" class="gem-c-feedback__form js-feedback-form js-hidden" data-track-category="Onsite Feedback" data-track-action="GOV.UK Send Form" method="post" aria-hidden="true">
                    <a href="#" class="gem-c-feedback__close gem-c-feedback__js-show js-close-form" data-track-category="Onsite Feedback" data-track-action="GOV.UK Close Form" aria-controls="something-is-wrong" aria-expanded="true" role="button">Close</a>

                    <div class="gem-c-feedback__grid-row gem-c-feedback__survey-container">
                      <div class="gem-c-feedback__column-two-thirds">
                        <div class="gem-c-feedback__error-summary gem-c-feedback__js-show js-hidden js-errors" tabindex="-1"></div>

                        <input type="hidden" name="url" value="https://www.integration.publishing.service.gov.uk/government/publications/supporting-early-career-teachers--2/manage-behaviour-effectively">

                        <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
                        <p id="feedback_explanation" class="gem-c-feedback__form-paragraph">Don’t include personal or financial information like your National Insurance number or credit card details.</p>


                        <div class="govuk-form-group">

                          <label for="input-b2c382a1" class="gem-c-label govuk-label">
                            What were you doing?
                          </label>




                          <input name="what_doing" class="gem-c-input govuk-input" id="input-b2c382a1" type="text" aria-describedby="feedback_explanation">
                        </div>


                        <div class="govuk-form-group">

                          <label for="input-c812b06f" class="gem-c-label govuk-label">
                            What went wrong?
                          </label>




                          <input name="what_wrong" class="gem-c-input govuk-input" id="input-c812b06f" type="text">
                        </div>


                        <button class="gem-c-button govuk-button" type="submit">Send</button>


                      </div>
                    </div>
                    <input type="hidden" name="javascript_enabled" value="true"><input type="hidden" name="referrer" value="https://www.integration.publishing.service.gov.uk/government/publications/supporting-early-career-teachers--2"></form>

                    <form action="/contact/govuk/email-survey-signup" id="page-is-not-useful" class="gem-c-feedback__form gem-c-feedback__form--email gem-c-feedback__js-show js-feedback-form js-hidden" data-track-category="yesNoFeedbackForm" data-track-action="Send Form" method="post" aria-hidden="true">
                      <a href="#" class="gem-c-feedback__close js-close-form" data-track-category="yesNoFeedbackForm" data-track-action="ffFormClose" aria-controls="page-is-not-useful" aria-expanded="true" role="button">Close</a>

                      <div class="gem-c-feedback__grid-row gem-c-feedback__survey-container">
                        <div class="gem-c-feedback__column-two-thirds" id="survey-wrapper">
                          <div class="gem-c-feedback__error-summary js-hidden js-errors" tabindex="-1"></div>

                          <input name="email_survey_signup[survey_id]" type="hidden" value="footer_satisfaction_survey">
                          <input name="email_survey_signup[survey_source]" type="hidden" value="/government/publications/supporting-early-career-teachers--2/manage-behaviour-effectively">

                          <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
                          <p id="survey_explanation" class="gem-c-feedback__form-paragraph">To help us improve GOV.UK, we’d like to know more about your visit today. We’ll send you a link to a feedback form. It will take only 2 minutes to fill in. Don’t worry we won’t send you spam or share your email address with anyone.</p>


                          <div class="govuk-form-group">

                            <label for="input-17b63fed" class="gem-c-label govuk-label">
                              Email address
                            </label>




                            <input name="email_survey_signup[email_address]" class="gem-c-input govuk-input" id="input-17b63fed" type="email" autocomplete="email" aria-describedby="survey_explanation">
                          </div>


                          <button class="gem-c-button govuk-button" type="submit">Send me the survey</button>


                        </div>
                      </div>
                    </form>

                  </div>
