<p>Content needed</p>
<ul class="task-list__panel-links--required">
  <li
    <% if on_this_page('/something') %>class="task-list__panel-link--active"<% end %>
    >
    <a href="/something">Content also needed here</a>
  </li>
</ul>
