<p>If you and the other parent want a formal agreement you can make it legally binding.</p>

<ul class="task-list__panel-links--required">
  <li>
    <a href="https://helpwithchildarrangements.service.justice.gov.uk/negotiating-between-parents">Record your arrangement in a parenting plan</a>
  </li>
  <li
    <% if on_this_page('/looking-after-children-divorce/if-you-agree') %>class="task-list__panel-link--active"<% end %>
    >
    <a href="/looking-after-children-divorce/if-you-agree">Make your agreement legally binding</a>
  </li>
</ul>
