<ul class="task-list__panel-links--required">
  <li
    <% if on_this_page('/parental-rights-responsibilities') %>class="task-list__panel-link--active"<% end %>
    >
    <a href="/parental-rights-responsibilities">Check what decisions you and the other parent can make</a>
  </li>
  <li
    <% if on_this_page('/parental-rights-responsibilities/who-has-parental-responsibility') %>class="task-list__panel-link--active"<% end %>
    >
    <a href="/parental-rights-responsibilities/who-has-parental-responsibility">Who has parental responsibility</a>
  </li>
  <li
    <% if on_this_page('/parental-rights-responsibilities/apply-for-parental-responsibility') %>class="task-list__panel-link--active"<% end %>
    >
    <a href="/parental-rights-responsibilities/apply-for-parental-responsibility">Apply for parental responsibility if you don't automatically have it</a>
  </li>
</ul>
