<p>You need to agree how much each parent will pay. You can do this at the same time as your other child arrangements, or you can do it separately.</p>

<ul class="task-list__panel-links--required">
  <li
    <% if on_this_page('/arranging-child-maintenance-yourself') %>class="task-list__panel-link--active"<% end %>
    >
    <a href="/arranging-child-maintenance-yourself">Arrange child maintenance with the other parent</a>
  </li>
  <li
    <% if on_this_page('/calculate-your-child-maintenance') %>class="task-list__panel-link--active"<% end %>
    >
    <a href="/calculate-your-child-maintenance">Calculate your child maintenance payments</a>
  </li>
  <li>
    <a href="https://www.cmoptions.org/en/toolbox/maintenance-form.asp">Write down your agreement with the other parent</a>
  </li>
</ul>

<div class="task-list__inner-step task-list__inner-step--optional">
  <p>If you want to make your agreement legally binding:</p>

  <ul class="task-list__panel-links">
    <li
      <% if on_this_page('/money-property-when-relationship-ends/apply-for-consent-order') %>class="task-list__panel-link--active"<% end %>
      >
      <a href="/money-property-when-relationship-ends/apply-for-consent-order">Hire a solicitor</a>
      <span class="task-list__cost">&pound;110 to &pound;410 per hour</span>
    </li>
    <li>
      <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=2655">Fill in the notice of application</a>
    </li>
    <li>
      <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=1116">Fill in the statement of notice form</a>
    </li>
    <li>
      <a href="https://courttribunalfinder.service.gov.uk/">Send all forms to the court</a>
    </li>
  </ul>

  <p>If you don't agree:</p>

  <ul class="task-list__panel-links">
    <li
      <% if on_this_page('/child-maintenance') %>class="task-list__panel-link--active"<% end %>
      >
      <a href="/child-maintenance">Get the Child Maintenance Service to make a formal arrangement</a>
    </li>
  </ul>
</div>
