<div id="task-list-sidebar">
  <h2 class="task-list-heading">
    <span class="task-list-heading__part">This page is part of</span>
    <a href="/services/make-child-arrangements">Make child arrangements: step by step</a>
  </h2>

  <div class="task-list js-hidden" data-module="tasklistnew">
    <%= render 'partials/make-child-arrangements', on_sidebar: true %>
  </div>

  <% if on_divorce_url %>
    <div class="task-list-related">
      <h2 class="task-list-related-header">This page is also part of</h2>
      <a href="/services/get-a-divorce" class="task-list-related-link">Get a divorce: step-by-step</a>
    </div>
  <% end %>
</div>
