<p>You can only apply for a court to make a decision if you've tried mediation or your family are at risk, for example domestic abuse.</p>

<ul class="task-list__panel-links--required">
  <li>
    <a href="http://solicitors.lawsociety.org.uk/">Hire a lawyer to represent you</a>
    <span class="task-list__cost">&pound;110 to &pound;410 per hour</span>
  </li>
</ul>

<p class="task-list__or">or</p>

<ul class="task-list__panel-links">
  <li
    <% if on_this_page('/represent-yourself-in-court') %>class="task-list__panel-link--active"<% end %>
    >
    <a href="/represent-yourself-in-court">Represent yourself in court</a>
  </li>
</ul>

<p>then</p>

<ul class="task-list__panel-links--required">
  <li
    <% if on_this_page('/looking-after-children-divorce/apply-for-court-order') %>class="task-list__panel-link--active"<% end %>
    >
    <a href="/looking-after-children-divorce/apply-for-court-order">Apply for a court order</a>
    <span class="task-list__cost">&pound;215</span>
  </li>
  <li>
    <a href="https://courttribunalfinder.service.gov.uk/search/">Find the right court to send your application</a>
  </li>
  <li
    <% if on_this_page('/get-help-with-court-fees') %>class="task-list__panel-link--active"<% end %>
    >
    <a href="/get-help-with-court-fees">Get help with court fees</a>
  </li>
</ul>

<p>The court will send you a date for your first hearing 4 to 6 weeks after your application. You'll be told when and where your hearing will take place.</p>

<ul class="task-list__panel-links--required">
  <li
    <% if on_this_page('/looking-after-children-divorce/after-you-apply-for-a-court-order') %>class="task-list__panel-link--active"<% end %>
    >
    <a href="/looking-after-children-divorce/after-you-apply-for-a-court-order">What happens if you have to go a court hearing</a>
  </li>
</ul>
