<p>You must attend mediation sessions before you apply to court.</p>

<ul class="task-list__panel-links--required">
  <li>
    <a href="https://helpwithchildarrangements.service.justice.gov.uk/professional-mediation">Find a mediator</a>
    <span class="task-list__cost">&pound;90 to &pound;160 per session</span>
  </li>
</ul>

<div class="task-list__inner-step task-list__inner-step--optional">
  <ul class="task-list__panel-links">
    <li>
      <a href="https://helpwithchildarrangements.service.justice.gov.uk/negotiating-between-parents">Get advice to help you reach an agreement</a>
    </li>
    <li>
      <a href="https://helpwithchildarrangements.service.justice.gov.uk/lawyer-negotiation">Hire a lawyer to negotiate an agreement for you</a>
      <span class="task-list__cost">&pound;110 to &pound;410 per hour</span>
    </li>
    <li>
      <a href="https://helpwithchildarrangements.service.justice.gov.uk/collaborative-law">Hire lawyers to negotiate with you and the other parent</a>
      <span class="task-list__cost">&pound;110 to &pound;410 per hour</span>
    </li>
  </ul>
</div>
