<ul class="task-list__panel-links--required">
  <li>
    <a href="https://helpwithchildarrangements.service.justice.gov.uk/emotional-support">Find a support group</a>
  </li>
  <li>
    <a href="http://www.counselling-directory.org.uk/adv-search.html">Find a counsellor</a>
    <span class="task-list__cost">&pound;35 to &pound;60 per session</span>
  </li>
  <li>
    <a href="https://www.cafcass.gov.uk/grown-ups/separated-parents-information-programme-(spip).aspx">Attend a course for separated parents</a>
    <span class="task-list__cost">&pound;0 to &pound;150</span>
  </li>
</ul>
