<p>You should try to agree how you'll deal with your children, money and property before you apply to end your civil partnership.</p>
<ul class="task-list__panel-links--required">
  <li
    <% if on_this_page('/looking-after-children-divorce') %>class="task-list__panel-link--active"<% end %>
    >
    <a href="/services/make-child-arrangements">Make arrangements for your children</a>
  </li>
  <li
    <% if on_this_page('/money-property-when-relationship-ends') %>class="task-list__panel-link--active"<% end %>
    >
    <a href="/money-property-when-relationship-ends">Divide your money and property</a>
  </li>
</ul>
