<p>Once you, your civil partner and the court all agree, you can apply for a final order to end your civil partnership. You can do this 6 weeks to 12 months after you receive the conditional order.</p>

<p>If you want a legally-binding arrangement for dividing money and property you must apply to the court for this before you apply for a final order.</p>

<ul class="task-list__panel-links--required">
  <li>
    <a href="/end-civil-partnership/apply-for-a-final-order">Why you need a final order</a>
  </li>
  <li>
    <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=1114">Fill in the final order application form</a>
  </li>
</ul>

<p>Send the forms to the court.</p>
<p>Once it's approved, they'll send you and your civil partner the final order to say your civil partnership has legally ended.</p>
