<p>You should try to agree how you'll deal with your children, money and property before you apply to end your civil partnership.</p>
<ul class="task-list__panel-links--required">
  <li>
    <a href="/looking-after-children-divorce">Make arrangements for your children</a>
  </li>
  <li>
    <a href="/money-property-when-relationship-ends">Divide your money and property</a>
  </li>
</ul>
