<p>If the court agrees with your dissolution application, you can apply for a conditional order and give more information about why the civil partnership has broken down.</p>
<ul class="task-list__panel-links--required">
  <li>
    <a href="/end-civil-partnership/apply-for-a-conditional-order">Why you need a conditional order</a>
  </li>
  <li>
    <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=154">Fill in the application form</a>
  </li>
</ul>

<p>Choose one form to describe why your civil partnership has broken down:</p>
<ul class="task-list__panel-links--options task-list__panel-links--required">
  <li>
    <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=144">unreasonable behaviour</a>
  </li>
  <li>
    <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=146">desertion</a>
  </li>
  <li>
    <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=149">2 years' separation</a>
  </li>
  <li>
    <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=150">5 years' separation</a>
  </li>
</ul>

<p>Send the forms to the court.</p>

<div class="task-list__inner-step task-list__inner-step--optional">
  <p>If your civil partner doesn't agree to end the civil partnership, you might have to attend a court hearing with a judge.</p>
  <ul class="task-list__panel-links">
    <li>
      <a href="/find-a-legal-adviser">Get legal advice about going to court</a>
      <span class="task-list__cost">&pound;15,000 to &pound;30,000</span>
    </li>
  </ul>
</div>
