<p>If the court agrees with your dissolution application, you can apply for a conditional order and give more information about why the civil partnership has broken down.</p>
<ul class="task-list__panel-links--required">
  <li
    <% if on_this_page('/end-civil-partnership/apply-for-a-conditional-order') %>class="task-list__panel-link--active"<% end %>
    >
    <a href="/end-civil-partnership/apply-for-a-conditional-order">Why you need a conditional order</a>
  </li>
  <li>
    <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=154">Fill in the application form</a>
  </li>
</ul>

<p>You need to confirm why you're ending the civil partnership. Choose the form that matches what you put in the dissolution application:</p>
<ul class="task-list__panel-links--options task-list__panel-links--required">
  <li>
    <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=144">unreasonable behaviour</a>
  </li>
  <li>
    <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=146">desertion</a>
  </li>
  <li>
    <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=149">2 years' separation</a>
  </li>
  <li>
    <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=150">5 years' separation</a>
  </li>
</ul>

<p>Send the forms to the court.</p>
