<p>You need to fill in a dissolution application.</p>
<ul class="task-list__panel-links--required">
  <li
    <% if on_this_page('/end-civil-partnership/file-application') %>class="task-list__panel-link--active"<% end %>
    >
    <a href="/end-civil-partnership/file-application">How to start the process to end your civil partnership</a>
  </li>
  <li
    <% if on_this_page('/end-civil-partnership/grounds-for-ending-a-civil-partnership') %>class="task-list__panel-link--active"<% end %>
    >
    <a href="/end-civil-partnership/grounds-for-ending-a-civil-partnership">Check the list of reasons why you can end a civil partnership</a>
  </li>
  <li>
    <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=1115">Fill in a dissolution application</a>
  </li>
  <li
    <% if on_this_page('/end-civil-partnership/file-application') %>class="task-list__panel-link--active"<% end %>
    >
    <a href="/end-civil-partnership/file-application">Pay the fee</a>
    <span class="task-list__cost">&pound;550</span>
  </li>
  <li
    <% if on_this_page('/get-help-with-court-fees') %>class="task-list__panel-link--active"<% end %>
    >
    <a href="/get-help-with-court-fees">Get help with court fees</a>
  </li>
  <li>
    <a href="https://courttribunalfinder.service.gov.uk/search/">Send copies of the form to your nearest divorce centre</a>
  </li>
</ul>

<p>Your civil partner will receive a copy of the petition. You'll be told when they respond and what you'll need to do next.</p>

<p>You might need to get legal advice if your civil partner disagrees with your application.</p>

<ul class="task-list__panel-links--required">
  <li
    <% if on_this_page('/find-a-legal-adviser') %>class="task-list__panel-link--active"<% end %>
    >
    <a href="/find-a-legal-adviser">Find a legal adviser</a>
  </li>
</ul>

<div class="task-list__inner-step task-list__inner-step--optional">
  <ul class="task-list__panel-links">
    <li
      <% if on_this_page('/divorce-missing-husband-wife') %>class="task-list__panel-link--active"<% end %>
      >
      <a href="/divorce-missing-husband-wife">Find your civil partner's address</a>
      <span class="task-list__cost">&pound;0 to &pound;100</span>
    </li>
    <li>
      <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=1112">Apply to skip the dissolution order if you can’t find their address</a>
      <span class="task-list__cost">&pound;50</span>
    </li>
    <li
      <% if on_this_page('/end-civil-partnership/if-your-partner-lacks-mental-capacity') %>class="task-list__panel-link--active"<% end %>
      >
      <a href="/end-civil-partnership/if-your-partner-lacks-mental-capacity">Get help if your civil partner can’t make decisions for themselves</a>
    </li>
    <li
      <% if on_this_page('/divorce-missing-husband-wife') %>class="task-list__panel-link--active"<% end %>
      >
      <a href="/divorce-missing-husband-wife">End the civil partnership because you think your partner is dead</a>
      <span class="task-list__cost">&pound;365</span>
    </li>
  </ul>
</div>
