<p>If the court agrees with your divorce petition, you can apply for a 'decree nisi' and give more information about why the marriage has broken down.</p>
<ul class="task-list__panel-links--required">
  <li
    <% if on_this_page('/divorce/apply-for-decree-nisi') %>class="task-list__panel-link--active"<% end %>
    >
    <a href="/divorce/apply-for-decree-nisi">Why you need a decree nisi</a>
  </li>
  <li>
    <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=154">Fill in the application form</a>
  </li>
</ul>

<p>Choose one form to describe why your marriage has broken down:</p>
<ul class="task-list__panel-links--options task-list__panel-links--required">
  <li>
    <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=144">unreasonable behaviour</a>
  </li>
  <li>
    <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=142">adultery</a>
  </li>
  <li>
    <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=146">desertion</a>
  </li>
  <li>
    <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=149">2 years' separation</a>
  </li>
  <li>
    <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=150">5 years' separation</a>
  </li>
</ul>

<p>Send the forms to the court.</p>

<div class="task-list__inner-step task-list__inner-step--optional">
  <p>If your husband or wife doesn't agree to the divorce, you might have to attend a court hearing with a judge.</p>
  <ul class="task-list__panel-links">
    <li
      <% if on_this_page('/find-a-legal-adviser') %>class="task-list__panel-link--active"<% end %>
      >
      <a href="/find-a-legal-adviser">Get legal advice about going to court</a>
      <span class="task-list__cost">&pound;15,000 to &pound;30,000</span>
    </li>
  </ul>
</div>
