<p>You need to fill in a divorce petition form.</p>
<ul class="task-list__panel-links--required">
  <li
    <% if on_this_page('/divorce/file-for-divorce') %>class="task-list__panel-link--active"<% end %>
    >
    <a href="/divorce/file-for-divorce">How to start the divorce process</a>
  </li>
  <li
    <% if on_this_page('/divorce/grounds-for-divorce') %>class="task-list__panel-link--active"<% end %>
    >
    <a href="/divorce/grounds-for-divorce">Check the list of reasons why you can get a divorce</a>
  </li>
  <li>
    <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=1115">Fill in the divorce petition form</a>
  </li>
  <li
    <% if on_this_page('/divorce/file-for-divorce') %>class="task-list__panel-link--active"<% end %>
    >
    <a href="/divorce/file-for-divorce">Pay the fee</a> <span class="task-list__cost">&pound;550</span>
  </li>
  <li
    <% if on_this_page('/get-help-with-court-fees') %>class="task-list__panel-link--active"<% end %>
    >
    <a href="/get-help-with-court-fees">Get help with court fees</a>
  </li>
  <li>
    <a href="https://courttribunalfinder.service.gov.uk/search/postcode?aol=Divorce&amp;spoe=start">Send copies of the form to your nearest divorce centre</a>
  </li>
</ul>

<p>Your husband or wife will receive a copy of the petition. You'll be told when they respond and what you'll need to do next.</p>

<p>You might need to get legal advice if your husband or wife disagrees with your divorce petition.</p>

<ul class="task-list__panel-links--required">
  <li
    <% if on_this_page('/find-a-legal-adviser') %>class="task-list__panel-link--active"<% end %>
    >
    <a href="/find-a-legal-adviser">Find a legal adviser</a>
  </li>
</ul>


<div class="task-list__inner-step task-list__inner-step--optional">
  <ul class="task-list__panel-links">
    <li
      <% if on_this_page('/divorce-missing-husband-wife') %>class="task-list__panel-link--active"<% end %>
      >
      <a href="/divorce-missing-husband-wife">Find your husband or wife’s address</a>
      <span class="task-list__cost">&pound;0 to &pound;100</span>
    </li>
    <li>
      <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=1112">Apply to skip the divorce petition if you can’t find their address</a>
      <span class="task-list__cost">&pound;50</span>
    </li>
    <li
      <% if on_this_page('/divorce/if-your-husband-or-wife-lacks-mental-capacity') %>class="task-list__panel-link--active"<% end %>
      >
      <a href="/divorce/if-your-husband-or-wife-lacks-mental-capacity">Get help if your husband or wife can’t make decisions for themselves</a>
    </li>
    <li
      <% if on_this_page('/divorce-missing-husband-wife') %>class="task-list__panel-link--active"<% end %>
      >
      <a href="/divorce-missing-husband-wife">End the marriage because you think your husband or wife is dead</a>
      <span class="task-list__cost">&pound;365</span>
    </li>
  </ul>
</div>
