<p>Your marriage must meet certain legal requirements in order for you to be able to get a divorce.</p>
<ul class="task-list__panel-links--required">
  <li>
    <a href="/divorce">Check your marriage meets the criteria</a>
  </li>
  <li>
    <a href="/divorce/grounds-for-divorce">Check the list of reasons why you can get a divorce</a>
  </li>
</ul>
