<p>Once you, your husband or wife, and the court all agree, you can apply for a 'decree absolute' to end your marriage. You can do this 6 weeks to 12 months after you receive the conditional order.</p>
<p>If you want a legally-binding arrangement for dividing money and property you must apply to the court for this before you apply for a decree absolute.</p>
<ul class="task-list__panel-links--required">
  <li
    <% if on_this_page('/divorce/apply-for-a-decree-absolute') %>class="task-list__panel-link--active"<% end %>
    >
    <a href="/divorce/apply-for-a-decree-absolute">Why you need a decree absolute</a>
  </li>
  <li>
    <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=1114">Fill in the decree absolute application form</a>
  </li>
</ul>

<p>Send the forms to the court. Once it's approved, they'll send you and your husband or wife the decree absolute and your divorce will be complete.</p>
