<div id="task-list-sidebar">
  <h2 class="task-list-heading">
    <span class="task-list-heading__part">Part of</span>
    <a href="/services/get-a-divorce">Get a divorce: step by step</a>
  </h2>

  <div class="task-list">
    <%= render 'partials/get-a-divorce', on_sidebar: true %>
  </div>

  <% if on_civil_url %>
    <div class="task-list-related">
      <h2 class="task-list-related-header">This page is also part of</h2>
      <a href="/services/end-a-civil-partnership" class="task-list-related-link">End a civil partnership: step-by-step</a>
    </div>
  <% end %>
</div>
