<div class="sticky-wrapper">
  <div class="pub-c-task-list-header">
    <div class="sticky-inner">
      <span class="pub-c-task-list-header__part-of">Part of</span>
      <a href="/services/get-a-divorce" class="pub-c-task-list-header__title">
        Get a divorce: step by step
      </a>
      <a href="#task-list-sidebar" class="pub-c-task-list-header__skip-link">
        Skip content
      </a>
    </div>
  </div>
</div>

<script>
  $(document).ready( function() {
    var $stickyNav = $(".pub-c-task-list-header"),
        stickyNavTopPosition = $stickyNav.offset().top,
        $stickyWrap = $('.sticky-wrapper');

    $(window).scroll( function() {
      $stickyNav.toggleClass("sticky", window.scrollY >= stickyNavTopPosition);
      if ($stickyNav.hasClass("sticky")) {
        $stickyWrap.height($stickyNav.outerHeight());
      }
    });
  });
</script>
