<div class="sticky-wrapper" data-module="tasklistheader">
  <div class="pub-c-task-list-header">
    <div class="sticky-inner">
      <span class="pub-c-task-list-header__part-of">Part of</span>
      <a href="/services/end-a-civil-partnership" class="pub-c-task-list-header__title">
        End a civil partnership: step by step
      </a>
      <a href="#task-list-sidebar" class="pub-c-task-list-header__skip-link">
        Skip content
      </a>
    </div>
  </div>
</div>
