<div>
  <h2 class="task-list-heading">
    <span class="task-list-heading__part">Part of</span>
    <a href="/services/get-a-divorce">Get a divorce</a>
  </h2>

  <div class="task-list-related">
    <h2 class="task-list-related-header">Also part of</h2>
    <a href="#" class="task-list-related-link">End a civil partnership: step-by-step</a>
    <a href="/services/get-a-divorce" class="task-list-related-link">Get a divorce: step-by-step</a>
  </div>
</div>
