<div id="task-list-sidebar">
  <h2 class="task-list-heading">
    <span class="task-list-heading__part">Part of</span>
    <a href="/services/get-a-divorce">Get a divorce</a>
  </h2>

  <div class="task-list">
    <ol class="task-list__list">
      <li class="task-list__group task-list__group--active">
        <span class="task-list__number">
          <span class="visuallyhidden">Step</span> 1
        </span>

        <div class="task-list__step js-step">
          <div class="task-list__header js-toggle-panel">
            <h2 class="task-list__title js-step-title">
              Check if you can get divorced
            </h2>
          </div>

          <div class="task-list__panel js-panel">
            <p>Your marriage must meet certain legal requirements in order for you to be able to get a divorce.</p>
            <ul class="task-list__panel-links--required">
              <li>
                <a href="">Task link basic test test test test test test test test test test test test test test test test </a>
              </li>
              <li>
                <a href="">Task link basic</a>
              </li>
            </ul>
            <p>Another paragraph, and this is a HR...</p>
            <hr/>
            <p>Another paragraph again</p>
          </div>
        </div>

        <div class="task-list__step task-list__step--optional js-step">
          <div class="task-list__header js-toggle-panel">
            <h2 class="task-list__title js-step-title">
              Check if you can get divorced (optional)
            </h2>
          </div>

          <div class="task-list__panel js-panel">
            <p>Your marriage must meet certain legal requirements in order for you to be able to get a divorce.</p>
            <ul class="">
              <li>
                <a href="">Task link basic test test test test test test test test test test test test test test test test </a>
              </li>
              <li>
                <a href="">Task link basic</a>
              </li>
            </ul>
            <p>Another paragraph, and this is a HR...</p>
            <hr/>
            <p>Another paragraph again</p>
          </div>
        </div>
      </li>

      <li class="task-list__group">
        <span class="task-list__number">
          <span class="visuallyhidden">Step</span> 2
        </span>

        <div class="task-list__step js-step">
          <div class="task-list__header js-toggle-panel">
            <h2 class="task-list__title js-step-title">
              Check if you can get divorced
            </h2>
          </div>
        </div>
      </li>

      <li class="task-list__group">
        <span class="task-list__number">
          <span class="visuallyhidden">Step</span> 3
        </span>

        <div class="task-list__step task-list__step--optional js-step">
          <div class="task-list__header js-toggle-panel">
            <h2 class="task-list__title js-step-title">
              Check if you can get divorced
            </h2>
          </div>
        </div>
      </li>
    </ol>
  </div>


  <div class="task-list-related">
    <h2 class="task-list-related-header">This is also part of</h2>
    <a href="#" class="task-list-related-link">End a civil partnership: step-by-step</a>
    <a href="/services/get-a-divorce" class="task-list-related-link">Get a divorce: step-by-step</a>
  </div>

</div>
