<div class="prototype sticky-nav">
  <span class="title-prefix">Part of</span>
  <h2>
    <a href="<%= @page_schema.base_path %>" class="sticky-link">
      <%= page_schema.title %>
    </a>
  </h2>
</div>

<script>
  $(document).ready( function() {
    var $stickyNav = $(".sticky-nav"),
        stickyNavTopPosition = $stickyNav.offset().top;

    $(window).scroll( function() {
      $stickyNav.toggleClass("sticky", window.scrollY >= stickyNavTopPosition);
    });
  });
</script>
