.task-list.sidebar {
  @include core-16;

  @include media(tablet) {
    padding-left: $gutter-half;
    margin-top: 180px;
  }

  a {
    text-decoration: none;
    font-weight: normal;
  }

  h2 {
    @include core-24;
    text-decoration: underline;

    a {
      font-weight: bold;
    }
  }

  .subsection-number {
    @include core-19;
    color: black;
    font-weight: 600;
    margin-right: 5px;
  }

  .current-highlight {
    background-color: $yellow;
    padding: 0 0.2em;
  }

  .subsection-header .subsection-title-link {
    margin-right: $gutter-half;
    color: black;
  }

  .subsection-header .subsection-icon {
    height: 10px;
    width: 10px;
    right: 0;
    background-size: 10px;
    background-position: 0 -10px;
  }

  .subsection-header {
    padding-left: 13%;

    @include media(tablet) {
      min-height: 0;
    }
  }

  .subsection-content {
    padding-left: 13%;
    padding-right: $gutter-half;
  }

  .subsection-title {
    font-weight: bold;
  }

  .subsection-title-highlight {
    .subsection-header,
    .subsection-header:hover {
      background: $yellow;
    }

    &.subsection-is-open .subsection-header {
      background: none;
    }
  }

  .subsection-description {
    margin-right: 0;
  }

  .subsection-controls {
    display: none;
  }

  .js-accordion-with-descriptions .subsection-is-open .subsection-content {
    padding-bottom: $gutter-half;
  }

  .subsection-content .subsection-description {
    @include core-16;
  }

  .subsection-list .subsection-list-item {
    @include core-16;
  }

  .subsection-list li {
    margin-bottom: $gutter-half;
  }

  .js-accordion-with-descriptions .subsection-is-open .subsection-icon {
    background-position: 0 0;
  }

  .subsection-is-open .subsection-title-link {
    background: none;
  }
}

.prototype {
  background-color: $grey-4;
  border-bottom: solid 0.2em $grey-3;

  .sticky-link {
    display: block;
    padding: $gutter-half;

    .icon {
      float: left;
      margin-right: 0.3em;
    }
  }

  &.sticky {
    z-index: 1;
    left: 0;
    width: 100%;
    margin: 0;
  }
}
