.task-list.sidebar {
  margin-top: $gutter;
  @include core-19;

  @include media(tablet) {
    padding-left: $gutter-half;
    margin-top: 180px;
  }

  a {
    @include core-19;
    font-weight: normal;
  }

  h2 {
    @include core-24;

    a {
      @include core-24;
      font-weight: bold;
      text-decoration: underline;
    }
  }

  .subsection-wrapper {
    margin-top: 0.5em;

    @include media(tablet) {
      margin-top: 0;
    }
  }

  .subsection-border {
    &:after {
      top: 0.6em;
      @include core-19;
      width: 4px;
      margin-left: -2px;
      left: 0.8em;
    }
  }

  .subsection-number {
    padding: 0.2em;
    top: 0.6em;
    @include core-19;
    color: $black;
    font-weight: 600;
    margin-right: 5px;
  }

  .current-highlight {
    position: relative;
    display: block;
    padding-left: 1em;
    font-weight: bold;
    color: $black;

    &:before {
      content: "";
      position: absolute;
      top: 0.3em;
      left: 0;
      background: $yellow;
      width: 0.7em;
      height: 0.7em;
      background: $yellow;
      border-radius: 50px;
    }
  }

  .subsection-header {
    border-top: 0;
  }

  .subsection-header .subsection-title-link {
    margin-right: $gutter-half;
    color: black;
  }

  .subsection-header .subsection-icon {
    height: 10px;
    width: 10px;
    right: 0;
    background-size: 10px;
    background-position: 0 -10px;
  }

  .subsection-header {
    padding-left: 17%;

    @include media(tablet) {
      min-height: 0;
    }
  }

  .subsection-content {
    padding-left: 17%;
    padding-top: 0.7em;
    padding-right: $gutter-half;
  }

  .subsection-smaller-border {
    margin-left: 17%;
  }

  .subsection-title {
    font-weight: bold;
  }

  .subsection-title-highlight {
    .subsection-number,
    &.subsection-border:after {
      background: $yellow;
      color: $black;
    }
  }

  .subsection-description {
    margin-right: 0;
  }

  .subsection-controls {
    display: none;
  }

  .js-accordion-with-descriptions .subsection-is-open .subsection-content {
    padding-bottom: $gutter-half;
  }

  .subsection-content .subsection-description {
    @include core-16;
  }

  .subsection-list .subsection-list-item {
    @include core-16;
  }

  .subsection-list li {
    margin-bottom: $gutter-half;
  }

  .js-accordion-with-descriptions .subsection-is-open .subsection-icon {
    background-position: 0 0;
  }

  .subsection-is-open .subsection-title-link {
    background: none;
  }
}

.prototype {
  background-color: $grey-4;
  border-bottom: solid 0.2em $grey-3;

  .sticky-link {
    display: block;
    padding: $gutter-half;

    .icon {
      float: left;
      margin-right: 0.3em;
    }
  }

  &.sticky {
    z-index: 100;
    left: 0;
    width: 100%;
    margin: 0;
  }
}
