.task-list.sidebar {
  margin-top: $gutter;
  @include core-19;

  @include media(tablet) {
    padding-left: $gutter-half;
    margin-top: 180px;
  }

  a {
    @include core-19;
    font-weight: normal;
  }

  h2 {
    @include core-24;

    a {
      @include core-24;
      font-weight: bold;
    }
  }

  .subsection-wrapper {
    margin-top: 0.5em;

    @include media(tablet) {
      margin-top: 0;
    }
  }

  .subsection-border {
    &:after {
      top: 0.7em;
      @include core-19;
      width: 2px;
      margin-left: -1px;
    }
  }

  .subsection-number {
    top: 0.7em;
    @include core-19;
    color: $black;
    font-weight: 600;
  }

  .current-highlight {
    display: block;
    font-weight: 200;
    color: $black;

    $beforesize: 0.85em;

    &:before {
      content: "";
      z-index: 3;
      position: absolute;
      top: 9px;
      left: 0.7em;
      width: $beforesize;
      height: $beforesize;
      margin-left: -($beforesize / 2);
      border: solid 2px $white;
      background: black;
      border-radius: 100px;
      @include box-sizing(border-box);
    }
  }

  .subsection-header {
    border-top: 0;
  }

  .subsection-header .subsection-title-link {
    margin-right: $gutter-half;
    color: #005EA5;
  }

  .subsection-header .subsection-icon {
    height: 10px;
    width: 10px;
    right: 0;
    background-size: 10px;
    background-position: 0 -10px;
  }

  .subsection-header {
    padding-left: 17%;

    @include media(tablet) {
      min-height: 0;
    }
  }

  .subsection-content {
    padding-left: 0;
    padding-top: 0.7em;
    padding-right: $gutter-half;
  }

  .subsection-smaller-border {
    margin-left: 17%;
  }

  .subsection-title {
    font-weight: bold;
  }

  .subsection-title-highlight {
    .subsection-number,
    &.subsection-border:after {
      background: black;
      color: white;
    }
  }

  .subsection-description {
    padding-left: 17%;
    margin-right: 0;
  }

  .subsection-controls {
    display: none;
  }

  .js-accordion-with-descriptions .subsection-is-open .subsection-content {
    padding-bottom: $gutter-half;
  }

  .subsection-content .subsection-description {
    @include core-16;
  }

  .subsection-list .subsection-list-item {
    @include core-16;
    position: relative;
    padding-left: 17%;

    a {
      @include core-16;
    }
  }

  .subsection-list li {
    margin-bottom: $gutter-half;
  }

  .js-accordion-with-descriptions .subsection-is-open .subsection-icon {
    background-position: 0 0;
  }

  .subsection-is-open .subsection-title-link {
    background: none;
  }
}

