.sticky-nav {
  margin-top: 0;
  padding-bottom: 8px;

  h2 {
    @include bold-24;
    margin-top: 0;
    line-height: 0 !important; // bypass rules from bold-24
  }

  .title-prefix {
    font-weight: bold;
    padding-left: 15px;
  }
}

.sticky-nav.sticky {
  position: fixed;
  top: 0;
}
