.gem-c-task-list-header.sticky {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  //padding: 15px 0;
  border-top: 0;
  box-sizing: border-box;
}

.gem-c-task-list-header .sticky-inner {
  max-width: 930px;
  margin: 0 auto;
}

@media (max-width: 1020px) {
  .gem-c-task-list-header.sticky .sticky-inner {
    padding: 0 30px;
  }
}

@media (max-width: 641px) {
  .gem-c-task-list-header.sticky .sticky-inner {
    padding: 0 15px;
  }
}
