// From govuk_frontend_toolkit
@import 'colours/_palette.scss';
@import '_measurements.scss';
@import '_typography.scss';
@import '_helpers.scss';
@import '_grid_layout.scss';
@import 'design-patterns/_buttons.scss';

// These stylesheets are being fetched from GitHub via RemoteSass
// From the collections app
@import "views/_browse.scss";
@import 'views/_taxons.scss';
@import 'views/_email-signups.scss';

// From this application
@import 'modules/lists';
@import 'modules/list-iterations';
@import 'modules/headings';
@import 'modules/prototype';

main {
  @include core-19;
  -webkit-font-smoothing: antialiased;
}

.header-wrapper {
  .site-search {
    display: none;
  }
}

.subsection-content {
  h3 {
    @include bold-24;
    margin-top: $gutter;
    margin-bottom: $gutter-one-third;

    &:first-child {
      margin-top: $gutter;
    }
  }
}

.with-subheadings {
  h2 {
    @include bold-24;
    margin-top: $gutter;
    margin-bottom: $gutter-one-third;

    &:first-child {
      margin-top: $gutter;
    }
  }

  li {
    a {
      @include bold-19;
    }
  }
}

.publication .govuk-taxonomy-sidebar {
  margin-top: 40px;
}

.govuk-taxonomy-sidebar {
  margin-top: $gutter;

  @include media(tablet) {
    margin-top: 0px;
  }
}

.task-list {
  cursor: default;

  .subsection-header,
  .subsection-content {
    padding-left: 15%;
  }

  .subsection-header {
    @include media(tablet) {
      min-height: 45px;
    }
  }

  &.js-accordion-with-descriptions .subsection-header {
    border: 0;
  }

  .subsection-number {
    position: absolute;
    top: 14px;
    left: 2%;
    @include core-48;
    font-weight: bold;
    color: $black;
  }

  .subsection-border {
    border-top: solid 1px $grey-2;
  }

  .subsection {
    cursor: pointer;

    &.subsection-no-expand {
      cursor: default;

      .subsection-title,
      .subsection-header,
      .subsection-header:hover,
      .subsection-description {
        cursor: default;
      }

      .subsection-icon {
        display: none;
      }

      .subsection-header {
        &:hover {
          background: none;
        }
      }
    }
  }
}

.task-list-navigation-heading {
  padding-left: $gutter / 4;
  padding-right: $gutter / 4;
}

.task-list-navigation {
  counter-reset: item;

  li {
    position: relative;
    padding: $gutter / 6 0 $gutter / 6 $gutter;

    &:before {
      content: counter(item) ". ";
      counter-increment: item;
      position: absolute;
      top: 0.35em;
      left: 0.35em;
    }
  }

  a {
    display: block;

    & + a {
      margin-top: $gutter / 4;
    }
  }

  .highlighted {
    z-index: 1;
    background: $grey-3;
    font-weight: bold;
  }
}

