<div data-module="gemtasklist" class="gem-c-task-list js-hidden gem-c-task-list--large">
  <ol class="gem-c-task-list__groups">
    <li class="gem-c-task-list__group ">
      <span class="gem-c-task-list__circle gem-c-task-list__circle--number">
        <span class="gem-c-task-list__circle-inner">
          <span class="gem-c-task-list__circle-background">
            <span class="visuallyhidden">Step</span> 1
          </span>
        </span>
      </span>

      <div class="gem-c-task-list__step js-step gem-c-task-list__step--optional" id="get-support-and-advice" data-track-count="tasklistSection">
        <div class="gem-c-task-list__header js-toggle-panel" data-position="1.1">
          <h2 class="gem-c-task-list__title js-step-title">
            Get support and advice
          </h2>
        </div>

        <div class="gem-c-task-list__panel js-panel" id="step-panel-get-support-and-advice-1">
          <p class="gem-c-task-list__paragraph">You can get support and advice to help you deal with disputes and emotional stress.</p>

          <ol class="gem-c-task-list__links " data-length="3">
            <li class="gem-c-task-list__link">
              <a href="https://www.relate.org.uk/relationship-help/help-separation-and-divorce" class="gem-c-task-list__link-item js-link " data-position="1.1.1" rel="external">Get advice from Relate</a>
            </li>
            <li class="gem-c-task-list__link">
              <a href="http://www.counselling-directory.org.uk/adv-search.html" class="gem-c-task-list__link-item js-link " data-position="1.1.2" rel="external">Find a counsellor</a>
              <span class="gem-c-task-list__context">£35 to £60 per session</span>
            </li>
            <li class="gem-c-task-list__link">
              <a href="https://www.samaritans.org/how-we-can-help-you/contact-us" class="gem-c-task-list__link-item js-link " data-position="1.1.3" rel="external">Contact the Samaritans if you need to speak to someone urgently</a>
            </li>
          </ol>
        </div>
      </div>
    </li>

    <li class="gem-c-task-list__group ">
      <span class="gem-c-task-list__circle gem-c-task-list__circle--number">
        <span class="gem-c-task-list__circle-inner">
          <span class="gem-c-task-list__circle-background">
            <span class="visuallyhidden">Step</span> 2
          </span>
        </span>
      </span>

      <div class="gem-c-task-list__step js-step " id="check-if-you-can-end-your-civil-partnership" data-track-count="tasklistSection">
        <div class="gem-c-task-list__header js-toggle-panel" data-position="2.1">
          <h2 class="gem-c-task-list__title js-step-title">
            Check if you can end your civil partnership
          </h2>
        </div>

        <div class="gem-c-task-list__panel js-panel" id="step-panel-check-if-you-can-end-your-civil-partnership-1">
          <p class="gem-c-task-list__paragraph">You must meet certain legal requirements for you to end your civil partnership.</p>

          <ol class="gem-c-task-list__links gem-c-task-list__links--required" data-length="1">
            <li class="gem-c-task-list__link">
              <a href="/end-civil-partnership" class="gem-c-task-list__link-item js-link " data-position="2.1.1">Check your civil partnership meets the criteria</a>

            </li>
          </ol>
        </div>
      </div>
    </li>

    <li class="gem-c-task-list__group ">
      <span class="gem-c-task-list__circle gem-c-task-list__circle--number">
        <span class="gem-c-task-list__circle-inner">
          <span class="gem-c-task-list__circle-background">
            <span class="visuallyhidden">Step</span> 3
          </span>
        </span>
      </span>

      <div class="gem-c-task-list__step js-step gem-c-task-list__step--optional" id="make-arrangements-for-your-children,-money-and-property" data-track-count="tasklistSection">
        <div class="gem-c-task-list__header js-toggle-panel" data-position="3.1">
          <h2 class="gem-c-task-list__title js-step-title">
            Make arrangements for your children, money and property
          </h2>
        </div>

        <div class="gem-c-task-list__panel js-panel" id="step-panel-make-arrangements-for-your-children,-money-and-property-1">
          <p class="gem-c-task-list__paragraph">You should try to agree the arrangements for looking after your children and work out any money or property issues before you apply to end your civil partnership.</p>

          <ol class="gem-c-task-list__links gem-c-task-list__links--required" data-length="2">
            <li class="gem-c-task-list__link">
              <a href="/looking-after-children-divorce" class="gem-c-task-list__link-item js-link " data-position="3.1.1">Make arrangements for your children</a>
            </li>
            <li class="gem-c-task-list__link">
              <a href="/money-property-when-relationship-ends" class="gem-c-task-list__link-item js-link " data-position="3.1.2">Divide your money and property</a>
            </li>
          </ol>
          <p class="gem-c-task-list__paragraph">You should also check if ending your civil partnership will affect:</p>

          <ul class="gem-c-task-list__links gem-c-task-list__links--choice" data-length="5">
            <li class="gem-c-task-list__link">
              <a href="/benefits-calculators" class="gem-c-task-list__link-item js-link " data-position="3.1.3">benefits you're eligible for</a>
            </li>
            <li class="gem-c-task-list__link">
              <a href="/report-benefits-change-circumstances" class="gem-c-task-list__link-item js-link " data-position="3.1.4">benefits you already receive</a>
            </li>
            <li class="gem-c-task-list__link">
              <a href="/contact-pension-service" class="gem-c-task-list__link-item js-link " data-position="3.1.5">your State Pension</a>
            </li>
            <li class="gem-c-task-list__link">
              <a href="/visas-when-you-separate-or-divorce" class="gem-c-task-list__link-item js-link " data-position="3.1.6">your UK visa status</a>
            </li>
            <li class="gem-c-task-list__link">
              <a href="/stay-in-home-during-separation-or-divorce" class="gem-c-task-list__link-item js-link " data-position="3.1.7">whether you can live in your current home</a>
            </li>
          </ul>
        </div>
      </div>
    </li>

    <li class="gem-c-task-list__group ">
      <span class="gem-c-task-list__circle gem-c-task-list__circle--number">
        <span class="gem-c-task-list__circle-inner">
          <span class="gem-c-task-list__circle-background">
            <span class="visuallyhidden">Step</span> 4
          </span>
        </span>
      </span>

      <div class="gem-c-task-list__step js-step " id="file-an-application" data-track-count="tasklistSection">
        <div class="gem-c-task-list__header js-toggle-panel" data-position="4.1">
          <h2 class="gem-c-task-list__title js-step-title">
            File an application
          </h2>
        </div>

        <div class="gem-c-task-list__panel js-panel" id="step-panel-file-an-application-1">
          <p class="gem-c-task-list__paragraph">You need to fill in a dissolution application.</p>

          <ol class="gem-c-task-list__links gem-c-task-list__links--required" data-length="6">
            <li class="gem-c-task-list__link">
              <a href="/end-civil-partnership/file-application" class="gem-c-task-list__link-item js-link " data-position="4.1.1">How to start the process to end your civil partnership</a>
            </li>
            <li class="gem-c-task-list__link">
              <a href="/end-civil-partnership/grounds-for-ending-a-civil-partnership" class="gem-c-task-list__link-item js-link " data-position="4.1.2">Check the list of reasons why you can end a civil partnership</a>
            </li>
            <li class="gem-c-task-list__link">
              <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=1115" class="gem-c-task-list__link-item js-link " data-position="4.1.3" rel="external">Fill in a dissolution application form</a>
            </li>
            <li class="gem-c-task-list__link">
              <a href="/end-civil-partnership/file-application" class="gem-c-task-list__link-item js-link " data-position="4.1.4">Pay the court fee</a>
              <span class="gem-c-task-list__context">£550</span>
            </li>
            <li class="gem-c-task-list__link">
              <a href="/get-help-with-court-fees" class="gem-c-task-list__link-item js-link " data-position="4.1.5">Get help with court fees</a>
            </li>
            <li class="gem-c-task-list__link">
              <a href="https://courttribunalfinder.service.gov.uk/search/" class="gem-c-task-list__link-item js-link " data-position="4.1.6" rel="external">Send copies of the form to your nearest divorce centre</a>
            </li>
          </ol>
          <p class="gem-c-task-list__paragraph">Your husband or wife will receive a copy of the dissolution application. When they respond, you'll be told what you need to do next.</p>

          <p class="gem-c-task-list__paragraph">You might need to get legal advice if they disagree with the application.</p>

          <ol class="gem-c-task-list__links gem-c-task-list__links--required" data-length="1">
            <li class="gem-c-task-list__link">
              <a href="/find-a-legal-adviser" class="gem-c-task-list__link-item js-link " data-position="4.1.7">Get legal advice</a>
            </li>
          </ol>
          <p class="gem-c-task-list__paragraph">If they don't respond, you'll need to prove that they've received the application. For example, by using a bailiff to deliver it to them.</p>

          <div class="gem-c-task-list__substep gem-c-task-list__substep--optional">
            <ol class="gem-c-task-list__links " data-length="3">
              <li class="gem-c-task-list__link">
                <a href="/divorce-missing-husband-wife" class="gem-c-task-list__link-item js-link " data-position="4.1.8">Find your civil partner's address</a>
                <span class="gem-c-task-list__context">£0 to £150</span>
              </li>
              <li class="gem-c-task-list__link">
                <a href="/end-civil-partnership/if-your-partner-lacks-mental-capacity" class="gem-c-task-list__link-item js-link " data-position="4.1.9">Get help if your civil partner can’t make decisions for themselves</a>
              </li>
              <li class="gem-c-task-list__link">
                <a href="/divorce-missing-husband-wife" class="gem-c-task-list__link-item js-link " data-position="4.1.10">End the civil partnership because you think your partner is dead</a>
                <span class="gem-c-task-list__context">£365</span>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </li>

    <li class="gem-c-task-list__group ">
      <span class="gem-c-task-list__circle gem-c-task-list__circle--number">
        <span class="gem-c-task-list__circle-inner">
          <span class="gem-c-task-list__circle-background">
            <span class="visuallyhidden">Step</span> 5
          </span>
        </span>
      </span>

      <div class="gem-c-task-list__step js-step " id="send-the-court-more-details-about-ending-your-civil-partnership" data-track-count="tasklistSection">
        <div class="gem-c-task-list__header js-toggle-panel" data-position="5.1">
          <h2 class="gem-c-task-list__title js-step-title">
            Send the court more details about ending your civil partnership
          </h2>
        </div>

        <div class="gem-c-task-list__panel js-panel" id="step-panel-send-the-court-more-details-about-ending-your-civil-partnership-1">
          <p class="gem-c-task-list__paragraph">The court will tell you if you can continue with your dissolution application. You'll need to apply for a document called a 'conditional order'. You can give more information about why the civil partnership has broken down.</p>

          <ol class="gem-c-task-list__links gem-c-task-list__links--required" data-length="2">
            <li class="gem-c-task-list__link">
              <a href="/end-civil-partnership/apply-for-a-conditional-order" class="gem-c-task-list__link-item js-link " data-position="5.1.1">Why you need a conditional order</a>
            </li>
            <li class="gem-c-task-list__link">
              <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=154" class="gem-c-task-list__link-item js-link " data-position="5.1.2" rel="external">Fill in the application form</a>
            </li>
          </ol>
          <p class="gem-c-task-list__paragraph">You need to say why you're ending the civil partnership. Choose the form that matches what you put in the dissolution application:</p>

          <ul class="gem-c-task-list__links gem-c-task-list__links--choice" data-length="5">
            <li class="gem-c-task-list__link">
              <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=144" class="gem-c-task-list__link-item js-link " data-position="5.1.3" rel="external">unreasonable behaviour</a>
            </li>
            <li class="gem-c-task-list__link">
              <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=142" class="gem-c-task-list__link-item js-link " data-position="5.1.4" rel="external">adultery</a>
            </li>
            <li class="gem-c-task-list__link">
              <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=146" class="gem-c-task-list__link-item js-link " data-position="5.1.5" rel="external">desertion</a>
            </li>
            <li class="gem-c-task-list__link">
              <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=149" class="gem-c-task-list__link-item js-link " data-position="5.1.6" rel="external">2 years' separation</a>
            </li>
            <li class="gem-c-task-list__link">
              <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=150" class="gem-c-task-list__link-item js-link " data-position="5.1.7" rel="external">5 years' separation</a>
            </li>
          </ul>
          <p class="gem-c-task-list__paragraph">Send the forms to the court. </p>
        </div>
      </div>
    </li>

    <li class="gem-c-task-list__group ">
      <span class="gem-c-task-list__circle gem-c-task-list__circle--number">
        <span class="gem-c-task-list__circle-inner">
          <span class="gem-c-task-list__circle-background">
            <span class="visuallyhidden">Step</span> 6
          </span>
        </span>
      </span>

      <div class="gem-c-task-list__step js-step " id="apply-for-a-final-order" data-track-count="tasklistSection">
        <div class="gem-c-task-list__header js-toggle-panel" data-position="6.1">
          <h2 class="gem-c-task-list__title js-step-title">
            Apply for a final order
          </h2>
        </div>

        <div class="gem-c-task-list__panel js-panel" id="step-panel-apply-for-a-final-order-1">
          <p class="gem-c-task-list__paragraph">Once you, your civil partner and the court all agree, you can apply for a document called a 'final order' to end your civil partnership. You can do this 6 weeks after you receive the conditional order.</p>

          <p class="gem-c-task-list__paragraph">If you want a legally-binding arrangement for dividing money and property you must apply to the court for this before you apply for a final order.</p>

          <ol class="gem-c-task-list__links gem-c-task-list__links--required" data-length="2">
            <li class="gem-c-task-list__link">
              <a href="/end-civil-partnership/apply-for-a-final-order" class="gem-c-task-list__link-item js-link " data-position="6.1.1">Why you need a final order</a>
            </li>
            <li class="gem-c-task-list__link">
              <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=1114" class="gem-c-task-list__link-item js-link " data-position="6.1.2" rel="external">Fill in the final order application form</a>
            </li>
          </ol>
          <p class="gem-c-task-list__paragraph">Send the forms to the court.</p>

          <p class="gem-c-task-list__paragraph">Once it's approved, they'll send you both a copy of the final order to say your civil partnership has legally ended.</p>
        </div>
      </div>
    </li>
  </ol>
</div>
