<!DOCTYPE html>
<html>
  <head>
    <title>GovukNavPrototype</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

	<body>
		<div class="wrapper" id="wrapper">
			<main id="content" role="main" class="content">
				<%= yield %>
			</main>
		</div>
</html>
